<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>==</string>
		<string>=</string>
		<string>$error</string>
		<string>abs</string>
		<string>add</string>
		<string>aload</string>
		<string>anchorsearch</string>
		<string>and</string>
		<string>arc</string>
		<string>arcn</string>
		<string>arcto</string>
		<string>array</string>
		<string>ashow</string>
		<string>astore</string>
		<string>atan</string>
		<string>awidthshow</string>
		<string>banddevice</string>
		<string>begin</string>
		<string>bind</string>
		<string>bitshift</string>
		<string>bytesavailable</string>
		<string>cachestatus</string>
		<string>ceiling</string>
		<string>charpath</string>
		<string>clear</string>
		<string>cleardictstack</string>
		<string>cleartomark</string>
		<string>clip</string>
		<string>clippath</string>
		<string>cliprestore</string>
		<string>clipsave</string>
		<string>closefile</string>
		<string>closepath</string>
		<string>colorimage</string>
		<string>composefont</string>
		<string>concat</string>
		<string>concatmatrix</string>
		<string>configurationerror</string>
		<string>copy</string>
		<string>copypage</string>
		<string>cos</string>
		<string>count</string>
		<string>countdictstack</string>
		<string>countexecstack</string>
		<string>counttomark</string>
		<string>cshow</string>
		<string>currentblackgeneration</string>
		<string>currentcacheparams</string>
		<string>currentcmykcolor</string>
		<string>currentcolor</string>
		<string>currentcolorrendering</string>
		<string>currentcolorscreen</string>
		<string>currentcolorspace</string>
		<string>currentdash</string>
		<string>currentdevparams</string>
		<string>currentdict</string>
		<string>currentfile</string>
		<string>currentflat</string>
		<string>currentfont</string>
		<string>currentglobal</string>
		<string>currentgray</string>
		<string>currentgstate</string>
		<string>currenthalftone</string>
		<string>currenthsbcolor</string>
		<string>currentlinecap</string>
		<string>currentlinejoin</string>
		<string>currentlinewidth</string>
		<string>currentmatrix</string>
		<string>currentmiterlimit</string>
		<string>currentobjectformat</string>
		<string>currentoverprint</string>
		<string>currentpacking</string>
		<string>currentpagedevice</string>
		<string>currentpoint</string>
		<string>currentrgbcolor</string>
		<string>currentscreen</string>
		<string>currentsmoothness</string>
		<string>currentstrokeadjust</string>
		<string>currentsystemparams</string>
		<string>currenttransfer</string>
		<string>currentundercolorremoval</string>
		<string>currentuserparams</string>
		<string>curveto</string>
		<string>cvi</string>
		<string>cvlit</string>
		<string>cvr</string>
		<string>cvrs</string>
		<string>cvs</string>
		<string>cvx</string>
		<string>def</string>
		<string>defaultmatrix</string>
		<string>definefont</string>
		<string>defineresource</string>
		<string>defineuserobject</string>
		<string>deletefile</string>
		<string>dict</string>
		<string>dictfull</string>
		<string>dictstack</string>
		<string>dictstackoverflow</string>
		<string>dictstackunderflow</string>
		<string>div</string>
		<string>dtransform</string>
		<string>dup</string>
		<string>echo</string>
		<string>end</string>
		<string>eoclip</string>
		<string>eofill</string>
		<string>eq</string>
		<string>erasepage</string>
		<string>errordict</string>
		<string>exch</string>
		<string>exec</string>
		<string>execform</string>
		<string>execstackoverflow</string>
		<string>execuserobject</string>
		<string>executeonly</string>
		<string>executive</string>
		<string>exit</string>
		<string>exp</string>
		<string>false</string>
		<string>file</string>
		<string>filenameforall</string>
		<string>fileposition</string>
		<string>fill</string>
		<string>filter</string>
		<string>findcolorrendering</string>
		<string>findencoding</string>
		<string>findfont</string>
		<string>findreseource</string>
		<string>flattenpath</string>
		<string>floor</string>
		<string>flush</string>
		<string>flushfile</string>
		<string>FontDirectory</string>
		<string>for</string>
		<string>forall</string>
		<string>gcheck</string>
		<string>ge</string>
		<string>get</string>
		<string>getinterval</string>
		<string>globaldict</string>
		<string>GlobalFontDirector</string>
		<string>glyphshow</string>
		<string>grestore</string>
		<string>grestoreall</string>
		<string>gsave</string>
		<string>gstate</string>
		<string>gt</string>
		<string>handleerror</string>
		<string>identmatrix</string>
		<string>idiv</string>
		<string>idtransform</string>
		<string>if</string>
		<string>ifelse</string>
		<string>image</string>
		<string>imagemask</string>
		<string>index</string>
		<string>ineofill</string>
		<string>infill</string>
		<string>initclip</string>
		<string>initgrpahics</string>
		<string>initmatrix</string>
		<string>instroke</string>
		<string>interrupt</string>
		<string>inueofill</string>
		<string>inufill</string>
		<string>invalidaccess</string>
		<string>invalidexit</string>
		<string>invalidfileaccess</string>
		<string>invalidfont</string>
		<string>invalidrestore</string>
		<string>invertmatrix</string>
		<string>ioerror</string>
		<string>ISOLatin1Encoding</string>
		<string>itransform</string>
		<string>known</string>
		<string>kshow</string>
		<string>languagelevel</string>
		<string>le</string>
		<string>length</string>
		<string>limitcheck</string>
		<string>lineto</string>
		<string>ln</string>
		<string>load</string>
		<string>log</string>
		<string>loop</string>
		<string>lt</string>
		<string>makefont</string>
		<string>makepattern</string>
		<string>mark</string>
		<string>matrix</string>
		<string>maxlength</string>
		<string>mod</string>
		<string>moveto</string>
		<string>mul</string>
		<string>ne</string>
		<string>neg</string>
		<string>newpath</string>
		<string>noaccess</string>
		<string>nocurrentpoint</string>
		<string>not</string>
		<string>null</string>
		<string>nulldevice</string>
		<string>or</string>
		<string>packedarray</string>
		<string>pathbbox</string>
		<string>pathforall</string>
		<string>pop</string>
		<string>print</string>
		<string>printobject</string>
		<string>product</string>
		<string>prompt</string>
		<string>pstack</string>
		<string>put</string>
		<string>putinterval</string>
		<string>quit</string>
		<string>rand</string>
		<string>rangecheck</string>
		<string>rcheck</string>
		<string>rcurveto</string>
		<string>read</string>
		<string>readhexstring</string>
		<string>readline</string>
		<string>readonly</string>
		<string>readstring</string>
		<string>realtime</string>
		<string>rectclip</string>
		<string>rectfill</string>
		<string>rectstroke</string>
		<string>renamefile</string>
		<string>repeat</string>
		<string>resetfile</string>
		<string>resourceforall</string>
		<string>resourcestatus</string>
		<string>restore</string>
		<string>reversepath</string>
		<string>revision</string>
		<string>rlineto</string>
		<string>rmoveto</string>
		<string>roll</string>
		<string>rootfont</string>
		<string>rotate</string>
		<string>round</string>
		<string>rrand</string>
		<string>run</string>
		<string>save</string>
		<string>scale</string>
		<string>scalefont</string>
		<string>search</string>
		<string>selectfont</string>
		<string>serialnumber</string>
		<string>setbbox</string>
		<string>setblackgeneration</string>
		<string>setcachedevice</string>
		<string>setcachedevice2</string>
		<string>setcachelimit</string>
		<string>setcacheparams</string>
		<string>setcharwidth</string>
		<string>setcmykcolor</string>
		<string>setcolor</string>
		<string>setcolorrendering</string>
		<string>setcolorscreen</string>
		<string>setcolorspace</string>
		<string>setcolortransfer</string>
		<string>setdash</string>
		<string>setdevparams</string>
		<string>setfileposition</string>
		<string>setflat</string>
		<string>setfont</string>
		<string>setglobal</string>
		<string>setgray</string>
		<string>setgstate</string>
		<string>sethalftone</string>
		<string>sethsbcolor</string>
		<string>setlinecap</string>
		<string>setlinejoin</string>
		<string>setlinewidth</string>
		<string>setmatrix</string>
		<string>setmiterlimit</string>
		<string>setobjectformat</string>
		<string>setoverprint</string>
		<string>setpacking</string>
		<string>setpagedevice</string>
		<string>setpattern</string>
		<string>setrgbcolor</string>
		<string>setscreen</string>
		<string>setsmoothness</string>
		<string>setstrokeadjust</string>
		<string>setsystemparams</string>
		<string>settransfer</string>
		<string>setucacheparams</string>
		<string>setundercolorremoval</string>
		<string>setuserparams</string>
		<string>setvmthreshold</string>
		<string>shfill</string>
		<string>show</string>
		<string>showpage</string>
		<string>sin</string>
		<string>sqrt</string>
		<string>srand</string>
		<string>stack</string>
		<string>stackoverflow</string>
		<string>stackunderflow</string>
		<string>StandardEncoding</string>
		<string>start</string>
		<string>startjob</string>
		<string>status</string>
		<string>statusdict</string>
		<string>stop</string>
		<string>stopped</string>
		<string>store</string>
		<string>string</string>
		<string>stringwidth</string>
		<string>stroke</string>
		<string>strokepath</string>
		<string>sub</string>
		<string>syntaxerror</string>
		<string>systemdict</string>
		<string>timeout</string>
		<string>token</string>
		<string>transform</string>
		<string>translate</string>
		<string>true</string>
		<string>truncate</string>
		<string>type</string>
		<string>typecheck</string>
		<string>uappend</string>
		<string>ucache</string>
		<string>ucachestatus</string>
		<string>ueofill</string>
		<string>ufill</string>
		<string>undef</string>
		<string>undefined</string>
		<string>undefinedfilename</string>
		<string>undefinedresource</string>
		<string>undefinedresult</string>
		<string>undefinefont</string>
		<string>undefineuserobject</string>
		<string>unmatchedmark</string>
		<string>unregistered</string>
		<string>upath</string>
		<string>userdict</string>
		<string>userobjects</string>
		<string>usertime</string>
		<string>ustroke</string>
		<string>ustrokepath</string>
		<string>version</string>
		<string>VMerror</string>
		<string>vmreclaim</string>
		<string>vmstatus</string>
		<string>wcheck</string>
		<string>where</string>
		<string>widthshow</string>
		<string>write</string>
		<string>writeobject</string>
		<string>writestring</string>
		<string>xcheck</string>
		<string>xor</string>
		<string>xshow</string>
		<string>xyshow</string>
		<string>yshow</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>PST3</string>
	<key>BBLMLanguageDisplayName</key>
	<string>PostScript</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.ps</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string></string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Close Strings 1</key>
		<string>)</string>
		<key>Close Strings 2</key>
		<string>&gt;</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>$=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key>
		<string>%</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Strings 1</key>
		<string>(</string>
		<key>Open Strings 2</key>
		<string>&lt;</string>
		<key>Prefix for Functions</key>
		<string>/</string>
		<key>Prefix for Procedures</key>
		<string>/</string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
