<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	ASReml language module for BBEdit
	Rene Malenfant, University of New Brunswick
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>ASReml</string>
	<key>BBLMLanguageCode</key>
	<string>ASRe</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>!ADJUST</string>
		<string>!ailoadings</string>
		<string>!AIsing</string>
		<string>!AIsingularities</string>
		<string>!args</string>
		<string>!ask</string>
		<string>!asmv</string>
		<string>!asuv</string>
		<string>!blup</string>
		<string>!bmp</string>
		<string>!brief</string>
		<string>!cinv</string>
		<string>!colfac</string>
		<string>!continue</string>
		<string>!contrast</string>
		<string>!csv</string>
		<string>!cycle</string>
		<string>!datafile</string>
		<string>!ddf</string>
		<string>!dense</string>
		<string>!debug</string>
		<string>!devpoints</string>
		<string>!df</string>
		<string>!diag</string>
		<string>!display</string>
		<string>!dopart</string>
		<string>!dopath</string>
		<string>!emflag</string>
		<string>!end</string>
		<string>!eps</string>
		<string>!extra</string>
		<string>!facpoints</string>
		<string>!fcon</string>
		<string>!filter</string>
		<string>!final</string>
		<string>!format</string>
		<string>!gkrige</string>
		<string>!graph</string>
		<string>!hardcopy</string>
		<string>!hpgl</string>
		<string>!join</string>
		<string>!knots</string>
		<string>!last</string>
		<string>!log</string>
		<string>!match</string>
		<string>!mbf</string>
		<string>!merge</string>
		<string>!maxit</string>
		<string>!mgs</string>
		<string>!mvinclude</string>
		<string>!mvremove</string>
		<string>!nocheck</string>
		<string>!nodisplay</string>
		<string>!nograph</string>
		<string>!noreorder</string>
		<string>!noscratch</string>
		<string>!onerun</string>
		<string>!own</string>
		<string>!part</string>
		<string>!path</string>
		<string>!polpoints</string>
		<string>!ppoints</string>
		<string>!print</string>
		<string>!ps</string>
		<string>!pval</string>
		<string>!quiet</string>
		<string>!pvsform</string>
		<string>!txtform</string>
		<string>!slnform</string>
		<string>!yhtform</string>
		<string>!tabform</string>
		<string>!read</string>
		<string>!recode</string>
		<string>!rename</string>
		<string>!repeat</string>
		<string>!report</string>
		<string>!residuals</string>
		<string>!restore</string>
		<string>!rowfac</string>
		<string>!rrec</string>
		<string>!rskip</string>
		<string>!subset</string>
		<string>!save</string>
		<string>!scale</string>
		<string>!score</string>
		<string>!screen</string>
		<string>!section</string>
		<string>!select</string>
		<string>!skip</string>
		<string>!slow</string>
		<string>!smx</string>
		<string>!spatial</string>
		<string>!spline</string>
		<string>!step</string>
		<string>!sum</string>
		<string>!tolerance</string>
		<string>!twoway</string>
		<string>!vcc</string>
		<string>!vgsectors</string>
		<string>!vrb</string>
		<string>!wmf</string>
		<string>!workspace</string>
		<string>!x</string>
		<string>!y</string>
		<string>!g</string>
		<string>!YVAR</string>
		<string>$A</string>
		<string>$B</string>
		<string>$C</string>
		<string>$D</string>
		<string>$E</string>
		<string>$F</string>
		<string>$G</string>
		<string>$H</string>
		<string>$I</string>
		<string>$J</string>
		<string>$1</string>
		<string>$2</string>
		<string>$3</string>
		<string>$4</string>
		<string>$5</string>
		<string>$6</string>
		<string>$7</string>
		<string>$8</string>
		<string>$9</string>
		<string>!A</string>
		<string>!G</string>
		<string>!I</string>
		<string>!L</string>
		<string>!P</string>
		<string>!M</string>
		<string>!D</string>
		<string>!V</string>
		<string>!E</string>
		<string>!*</string>
		<string>!-</string>
		<string>!+</string>
		<string>!/</string>
		<string>!^</string>
		<string>!^0</string>
		<string>!=</string>
		<string>!==</string>
		<string>!&lt;&gt;</string>
		<string>!=&gt;</string>
		<string>!&gt;</string>
		<string>!&lt;=</string>
		<string>!&lt;</string>
		<string>!ABS</string>
		<string>!ARC</string>
		<string>!ARCSIN</string>
		<string>!COS</string>
		<string>!DATE</string>
		<string>!DMY</string>
		<string>!EXP</string>
		<string>!FLOAT</string>
		<string>!Jddm</string>
		<string>!Jmmd</string>
		<string>!Jyyd</string>
		<string>!LL</string>
		<string>!MAX</string>
		<string>!MDY</string>
		<string>!MIN</string>
		<string>!MOD</string>
		<string>!NA</string>
		<string>!PRUNE</string>
		<string>!PRUNEOFF</string>
		<string>!DOM</string>
		<string>!MM</string>
		<string>!REPLACE</string>
		<string>!RESCALE</string>
		<string>!SEED</string>
		<string>!SEQ</string>
		<string>!SET</string>
		<string>!SETN</string>
		<string>!SETU</string>
		<string>!SIN</string>
		<string>!SKIP</string>
		<string>!SORT</string>
		<string>!SORTALL</string>
		<string>!SORTOFF</string>
		<string>!SUB</string>
		<string>!SEQ</string>
		<string>!TIME</string>
		<string>!UNIFORM</string>
		<string>!ALPHA</string>
		<string>!DIAG</string>
		<string>!GIV</string>
		<string>!SELF</string>
		<string>!INBRED</string>
		<string>!MAKE</string>
		<string>!groups</string>
		<string>!include</string>
		<string>!mgs</string>
		<string>TABULATE</string>
		<string>!COUNT</string>
		<string>!WT</string>
		<string>!STATS</string>
		<string>!RANGE</string>
		<string>PREDICT</string>
		<string>!AVERAGE</string>
		<string>!DEC</string>
		<string>!EXCEPT</string>
		<string>!IGNORE</string>
		<string>!ONLYUSE</string>
		<string>!PLOT</string>
		<string>!PARALLEL</string>
		<string>!PLOT</string>
		<string>!PRESENT</string>
		<string>!PRINTALL</string>
		<string>!SED</string>
		<string>!USE</string>
		<string>!VPV</string>
		<string>!HERON</string>
		<string>!TWOSTAGEWEIGHTS</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>!r</string>
		<string>!f</string>
		<string>~</string>
		<string>!{</string>
		<string>!}</string>
		<string>*</string>
		<string>.</string>
		<string>/</string>
		<string>and</string>
		<string>at</string>
		<string>con</string>
		<string>cos</string>
		<string>fac</string>
		<string>giv</string>
		<string>ide</string>
		<string>inv</string>
		<string>leg</string>
		<string>log</string>
		<string>lin</string>
		<string>ma1</string>
		<string>mbf</string>
		<string>mu</string>
		<string>mv</string>
		<string>pol</string>
		<string>sin</string>
		<string>spl</string>
		<string>sqrt</string>
		<string>Tr</string>
		<string>Trait</string>
		<string>uni</string>
		<string>units</string>
		<string>xfa</string>
		<string>!aod</string>
		<string>!offset</string>
		<string>!bin</string>
		<string>!binomial</string>
		<string>!comp</string>
		<string>!disp</string>
		<string>!logit</string>
		<string>!probit</string>
		<string>!total</string>
		<string>!deviance</string>
		<string>!negbin</string>
		<string>!normal</string>
		<string>!pvr</string>
		<string>!work</string>
		<string>!pearson</string>
		<string>!pvw</string>
		<string>!response</string>
		<string>!poisson</string>
		<string>!log</string>
		<string>!inv</string>
		<string>!gamma</string>
		<string>!negbin</string>
		<string>!sqrt</string>
		<string>!wt</string>
		<string>!gf</string>
		<string>!gp</string>
		<string>!gu</string>
		<string>!identity</string>
		<string>AEXP</string>
		<string>AEXPH</string>
		<string>AEXPV</string>
		<string>AGAU</string>
		<string>AGAUH</string>
		<string>AGAUV</string>
		<string>AINV</string>
		<string>ANTE</string>
		<string>ANTE1</string>
		<string>ANTE2</string>
		<string>ANTE3</string>
		<string>AR</string>
		<string>ARV</string>
		<string>ARH</string>
		<string>AR1</string>
		<string>AR1V</string>
		<string>AR1H</string>
		<string>AR2</string>
		<string>AR2V</string>
		<string>AR2H</string>
		<string>AR3</string>
		<string>AR3V</string>
		<string>AR3H</string>
		<string>ARMA</string>
		<string>ARMAH</string>
		<string>ARMAV</string>
		<string>CIR</string>
		<string>CHOL</string>
		<string>CHOL1</string>
		<string>CHOL1C</string>
		<string>CHOL2C</string>
		<string>CHOL3C</string>
		<string>CORB</string>
		<string>CORBH</string>
		<string>CORBV</string>
		<string>CORG</string>
		<string>CORGH</string>
		<string>CORGV</string>
		<string>CORR</string>
		<string>CORU</string>
		<string>CORUV</string>
		<string>CORUH</string>
		<string>DIAG</string>
		<string>EXP</string>
		<string>FA</string>
		<string>FA1</string>
		<string>FA2</string>
		<string>FA3</string>
		<string>FACV</string>
		<string>FACV1</string>
		<string>FACV2</string>
		<string>FACV3</string>
		<string>GAU</string>
		<string>GIV</string>
		<string>GIV1</string>
		<string>GIV2</string>
		<string>GIV3</string>
		<string>GIV4</string>
		<string>GIV5</string>
		<string>GIV6</string>
		<string>IDEN</string>
		<string>IDV</string>
		<string>IDH</string>
		<string>IEUC</string>
		<string>IEUCH</string>
		<string>IEUCV</string>
		<string>IEXP</string>
		<string>IEXPH</string>
		<string>IEXPV</string>
		<string>IGAU</string>
		<string>IGAUH</string>
		<string>IGAUV</string>
		<string>LVR</string>
		<string>MA</string>
		<string>MAH</string>
		<string>MAV</string>
		<string>MA1</string>
		<string>MA1H</string>
		<string>MA1V</string>
		<string>MA2</string>
		<string>MA2H</string>
		<string>MA2V</string>
		<string>OWN1</string>
		<string>OWN2</string>
		<string>OWN3</string>
		<string>OWN4</string>
		<string>POW</string>
		<string>MAT1</string>
		<string>MAT2</string>
		<string>MAT3</string>
		<string>MAT4</string>
		<string>MAT5</string>
		<string>SAR</string>
		<string>SARH</string>
		<string>SARV</string>
		<string>SAR1</string>
		<string>SAR1V</string>
		<string>SAR1H</string>
		<string>SAR2</string>
		<string>SAR2V</string>
		<string>SAR2H</string>
		<string>SPH</string>
		<string>US</string>
		<string>XFA</string>
		<string>XFA1</string>
		<string>XFA2</string>
		<string>!GF</string>
		<string>!GU</string>
		<string>!GP</string>
		<string>!GZ</string>
		<string>!S2</string>
		<string>!S2=</string>
		<string>!S2==</string>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>a-zA-Z_!~$0-9_</string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Strings 1</key>
		<string>{</string>
		<key>Close Strings 1</key>
		<string>}</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
	</dict>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.as</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.asc</string>
		</dict>
	</array>
</dict>
</plist>
