<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Bash Script</string>
	<key>BBLMLanguageCode</key>
	<string>bash</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>$argv</string>
		<string>$cdpath</string>
		<string>$cwd</string>
		<string>$echo</string>
		<string>$editor</string>
		<string>$filec</string>
		<string>$histchars</string>
		<string>$histfile</string>
		<string>$history</string>
		<string>$home</string>
		<string>$ignoreeof</string>
		<string>$mail</string>
		<string>$noclobber</string>
		<string>$noglob</string>
		<string>$nonomatch</string>
		<string>$notify</string>
		<string>$path</string>
		<string>$prompt</string>
		<string>$savehist</string>
		<string>$shell</string>
		<string>$status</string>
		<string>$time</string>
		<string>$verbose</string>
		<string>$visual</string>
		<string>AppleFileServer</string>
		<string>AppleSystemProfiler</string>
		<string>BuildStrings</string>
		<string>CFInfoPlistConverter</string>
		<string>CpMac</string>
		<string>DeRez</string>
		<string>DirectoryService</string>
		<string>GetFileInfo</string>
		<string>MergePef</string>
		<string>MvMac</string>
		<string>Print</string>
		<string>ResMerger</string>
		<string>Rez</string>
		<string>RezWack</string>
		<string>SetFile</string>
		<string>SplitForks</string>
		<string>SystemStarter</string>
		<string>UnRezWack</string>
		<string>a2p</string>
		<string>ab</string>
		<string>ac</string>
		<string>accton</string>
		<string>addftinfo</string>
		<string>addr</string>
		<string>aexml</string>
		<string>afmtodit</string>
		<string>agvtool</string>
		<string>alias</string>
		<string>alloc</string>
		<string>apachectl</string>
		<string>appleping</string>
		<string>appletalk</string>
		<string>appletviewer</string>
		<string>apply</string>
		<string>apropos</string>
		<string>apxs</string>
		<string>ar</string>
		<string>arch</string>
		<string>argv</string>
		<string>arp</string>
		<string>as</string>
		<string>asa</string>
		<string>at</string>
		<string>at_cho_prn</string>
		<string>atlookup</string>
		<string>atos</string>
		<string>atprint</string>
		<string>atq</string>
		<string>atrm</string>
		<string>atstatus</string>
		<string>autoconf</string>
		<string>autodiskmount</string>
		<string>autoheader</string>
		<string>automount</string>
		<string>autoreconf</string>
		<string>autoscan</string>
		<string>autoupdate</string>
		<string>awk</string>
		<string>b2m</string>
		<string>badsect</string>
		<string>banner</string>
		<string>basename</string>
		<string>batch</string>
		<string>bbdiff</string>
		<string>bbedit</string>
		<string>bc</string>
		<string>bg</string>
		<string>biff</string>
		<string>bison</string>
		<string>bless</string>
		<string>bootparamd</string>
		<string>bpwhoami</string>
		<string>break</string>
		<string>breaksw</string>
		<string>bridget</string>
		<string>bsdmake</string>
		<string>c++</string>
		<string>c++filt</string>
		<string>c2ph</string>
		<string>c_rehash</string>
		<string>cacheCoveredChars</string>
		<string>cal</string>
		<string>calendar</string>
		<string>cap_mkdb</string>
		<string>case</string>
		<string>cat</string>
		<string>catman</string>
		<string>cc</string>
		<string>cd</string>
		<string>cdpath</string>
		<string>chdir</string>
		<string>checknr</string>
		<string>chflags</string>
		<string>chfn</string>
		<string>chgrp</string>
		<string>chmod</string>
		<string>chown</string>
		<string>chpass</string>
		<string>chroot</string>
		<string>chsh</string>
		<string>ci</string>
		<string>cksum</string>
		<string>clear</string>
		<string>clri</string>
		<string>cmp</string>
		<string>cmpdylib</string>
		<string>co</string>
		<string>col</string>
		<string>colcrt</string>
		<string>colrm</string>
		<string>column</string>
		<string>comm</string>
		<string>compileHelp</string>
		<string>compress</string>
		<string>config</string>
		<string>configd</string>
		<string>continue</string>
		<string>cp</string>
		<string>cpio</string>
		<string>cplutil</string>
		<string>cpp</string>
		<string>cron</string>
		<string>crontab</string>
		<string>csh</string>
		<string>ctags</string>
		<string>curl</string>
		<string>cut</string>
		<string>cvs</string>
		<string>cvs-diff-branch</string>
		<string>cvs-make-branch</string>
		<string>cvs-merge-branch</string>
		<string>cvs-revert</string>
		<string>cvs-unwrap</string>
		<string>cvs-view-diffs</string>
		<string>cvs-wrap</string>
		<string>cvsbug</string>
		<string>cvswrappers</string>
		<string>cwd</string>
		<string>date</string>
		<string>dbmmanage</string>
		<string>dc</string>
		<string>dd</string>
		<string>default</string>
		<string>defaults</string>
		<string>dev_mkdb</string>
		<string>df</string>
		<string>diff</string>
		<string>diff3</string>
		<string>diffpp</string>
		<string>diffstat</string>
		<string>dig</string>
		<string>dirname</string>
		<string>dirs</string>
		<string>disktool</string>
		<string>ditto</string>
		<string>dmesg</string>
		<string>dnsquery</string>
		<string>do</string>
		<string>domainname</string>
		<string>done</string>
		<string>dprofpp</string>
		<string>du</string>
		<string>dump</string>
		<string>dumpfs</string>
		<string>dynamic_pager</string>
		<string>echo</string>
		<string>ed</string>
		<string>edit</string>
		<string>editor</string>
		<string>edquota</string>
		<string>egrep</string>
		<string>elif</string>
		<string>else</string>
		<string>emacs</string>
		<string>emacsclient</string>
		<string>end</string>
		<string>endif</string>
		<string>endsw</string>
		<string>enscript</string>
		<string>env</string>
		<string>eqn</string>
		<string>error</string>
		<string>esac</string>
		<string>etags</string>
		<string>eval</string>
		<string>ex</string>
		<string>exec</string>
		<string>exit</string>
		<string>expand</string>
		<string>expn</string>
		<string>export</string>
		<string>expr</string>
		<string>extcheck</string>
		<string>false</string>
		<string>fastboot</string>
		<string>fasthalt</string>
		<string>fcache</string>
		<string>fdisk</string>
		<string>fetchmail</string>
		<string>fg</string>
		<string>fgrep</string>
		<string>fi</string>
		<string>file</string>
		<string>filec</string>
		<string>find</string>
		<string>find2perl</string>
		<string>finger</string>
		<string>fixPrecomps</string>
		<string>flex</string>
		<string>flex++</string>
		<string>fmt</string>
		<string>fold</string>
		<string>for</string>
		<string>foreach</string>
		<string>formail</string>
		<string>fpr</string>
		<string>from</string>
		<string>fs_usage</string>
		<string>fsck</string>
		<string>fsck_hfs</string>
		<string>fsck_msdos</string>
		<string>fsplit</string>
		<string>fstat</string>
		<string>ftp</string>
		<string>gatherheaderdoc</string>
		<string>gdb</string>
		<string>genstrings</string>
		<string>getopt</string>
		<string>glibtool</string>
		<string>glibtoolize</string>
		<string>glob</string>
		<string>gm4</string>
		<string>gnumake</string>
		<string>gnutar</string>
		<string>goto</string>
		<string>gprof</string>
		<string>grep</string>
		<string>grodvi</string>
		<string>groff</string>
		<string>grog</string>
		<string>grohtml</string>
		<string>grolj4</string>
		<string>grops</string>
		<string>grotty</string>
		<string>groups</string>
		<string>gunzip</string>
		<string>gzcat</string>
		<string>gzexe</string>
		<string>gzip</string>
		<string>h2ph</string>
		<string>h2xs</string>
		<string>halt</string>
		<string>hashstat</string>
		<string>hdid</string>
		<string>hdiutil</string>
		<string>head</string>
		<string>headerdoc2html</string>
		<string>heap</string>
		<string>hexdump</string>
		<string>histchars</string>
		<string>histfile</string>
		<string>history</string>
		<string>home</string>
		<string>host</string>
		<string>hostinfo</string>
		<string>hostname</string>
		<string>hoststat</string>
		<string>hpftodit</string>
		<string>htdigest</string>
		<string>htpasswd</string>
		<string>httpd</string>
		<string>id</string>
		<string>ident</string>
		<string>idlj</string>
		<string>if</string>
		<string>ifconfig</string>
		<string>ifnames</string>
		<string>ignoreeof</string>
		<string>in</string>
		<string>indent</string>
		<string>indxbib</string>
		<string>inetd</string>
		<string>init</string>
		<string>install</string>
		<string>ioalloccount</string>
		<string>ioclasscount</string>
		<string>iostat</string>
		<string>ipconfig</string>
		<string>ipfw</string>
		<string>irpd</string>
		<string>jam</string>
		<string>jar</string>
		<string>jarsigner</string>
		<string>java</string>
		<string>javac</string>
		<string>javaconfig</string>
		<string>javadoc</string>
		<string>javah</string>
		<string>javap</string>
		<string>javatool</string>
		<string>jdb</string>
		<string>jikes</string>
		<string>jobs</string>
		<string>join</string>
		<string>jot</string>
		<string>kdestroy</string>
		<string>kextload</string>
		<string>kextunload</string>
		<string>keytool</string>
		<string>kgmon</string>
		<string>kill</string>
		<string>kinit</string>
		<string>klist</string>
		<string>kmodload</string>
		<string>kmodstat</string>
		<string>kmodsyms</string>
		<string>kmodunload</string>
		<string>kpasswd</string>
		<string>ktrace</string>
		<string>lam</string>
		<string>last</string>
		<string>lastcomm</string>
		<string>latency</string>
		<string>ld</string>
		<string>leaks</string>
		<string>leave</string>
		<string>less</string>
		<string>lessecho</string>
		<string>lesskey</string>
		<string>lex</string>
		<string>lex++</string>
		<string>libtool</string>
		<string>limit</string>
		<string>lipo</string>
		<string>lkbib</string>
		<string>ln</string>
		<string>locate</string>
		<string>lock</string>
		<string>lockfile</string>
		<string>logger</string>
		<string>login</string>
		<string>logname</string>
		<string>logout</string>
		<string>logresolve</string>
		<string>look</string>
		<string>lookbib</string>
		<string>lookupd</string>
		<string>lorder</string>
		<string>lpc</string>
		<string>lpq</string>
		<string>lpr</string>
		<string>lprm</string>
		<string>ls</string>
		<string>lsbom</string>
		<string>lsof</string>
		<string>m4</string>
		<string>mach_init</string>
		<string>machine</string>
		<string>mail</string>
		<string>mailq</string>
		<string>mailstat</string>
		<string>mailstats</string>
		<string>mailx</string>
		<string>make</string>
		<string>makedbm</string>
		<string>makemap</string>
		<string>malloc_history</string>
		<string>man</string>
		<string>md</string>
		<string>merge</string>
		<string>mesg</string>
		<string>mig</string>
		<string>mkafmmap</string>
		<string>mkbom</string>
		<string>mkdep</string>
		<string>mkdir</string>
		<string>mkextcache</string>
		<string>mkfifo</string>
		<string>mkfile</string>
		<string>mklocale</string>
		<string>mknod</string>
		<string>mkservdb</string>
		<string>mkstr</string>
		<string>more</string>
		<string>mount</string>
		<string>mount_afp</string>
		<string>mount_cd9660</string>
		<string>mount_cddafs</string>
		<string>mount_devfs</string>
		<string>mount_fdesc</string>
		<string>mount_hfs</string>
		<string>mount_mfs</string>
		<string>mount_msdos</string>
		<string>mount_nfs</string>
		<string>mount_smbfs</string>
		<string>mount_synthfs</string>
		<string>mount_udf</string>
		<string>mount_volfs</string>
		<string>mount_webdav</string>
		<string>mountd</string>
		<string>msgs</string>
		<string>mtree</string>
		<string>mv</string>
		<string>named</string>
		<string>named-bootconf</string>
		<string>natd</string>
		<string>native2ascii</string>
		<string>ncftp</string>
		<string>ndc</string>
		<string>neqn</string>
		<string>netinfod</string>
		<string>netstat</string>
		<string>newaliases</string>
		<string>newclient</string>
		<string>newfs</string>
		<string>newfs_hfs</string>
		<string>newfs_msdos</string>
		<string>nfsd</string>
		<string>nfsiod</string>
		<string>nfsstat</string>
		<string>nibindd</string>
		<string>nibtool</string>
		<string>nice</string>
		<string>nicl</string>
		<string>nidomain</string>
		<string>nidump</string>
		<string>nifind</string>
		<string>nigrep</string>
		<string>niload</string>
		<string>nireport</string>
		<string>niutil</string>
		<string>nm</string>
		<string>nmedit</string>
		<string>noclobber</string>
		<string>noglob</string>
		<string>nohup</string>
		<string>nologin</string>
		<string>nonomatch</string>
		<string>notify</string>
		<string>nroff</string>
		<string>nslookup</string>
		<string>nsupdate</string>
		<string>ntpd</string>
		<string>ntpdate</string>
		<string>ntpdc</string>
		<string>ntpq</string>
		<string>ntptrace</string>
		<string>nvram</string>
		<string>od</string>
		<string>onintr</string>
		<string>open</string>
		<string>opendiff</string>
		<string>openssl</string>
		<string>osacompile</string>
		<string>osalang</string>
		<string>osascript</string>
		<string>otool</string>
		<string>over</string>
		<string>package</string>
		<string>pagesize</string>
		<string>pagestuff</string>
		<string>passwd</string>
		<string>paste</string>
		<string>patch</string>
		<string>path</string>
		<string>pax</string>
		<string>pbcopy</string>
		<string>pbhelpindexer</string>
		<string>pbpaste</string>
		<string>pbxbuild</string>
		<string>pcscd</string>
		<string>pdisk</string>
		<string>pdump</string>
		<string>pear</string>
		<string>perl</string>
		<string>perlbug</string>
		<string>perlcc</string>
		<string>perldoc</string>
		<string>pfbtops</string>
		<string>php-config</string>
		<string>phpextdist</string>
		<string>phpize</string>
		<string>pic</string>
		<string>pico</string>
		<string>ping</string>
		<string>pl</string>
		<string>pl2pm</string>
		<string>pmap_dump</string>
		<string>pmap_set</string>
		<string>pod2html</string>
		<string>pod2latex</string>
		<string>pod2man</string>
		<string>pod2text</string>
		<string>pod2usage</string>
		<string>podchecker</string>
		<string>podselect</string>
		<string>policytool</string>
		<string>popd</string>
		<string>portmap</string>
		<string>pppd</string>
		<string>pr</string>
		<string>praliases</string>
		<string>printenv</string>
		<string>printf</string>
		<string>procmail</string>
		<string>projectInfo</string>
		<string>prompt</string>
		<string>ps</string>
		<string>psbb</string>
		<string>pstat</string>
		<string>pstruct</string>
		<string>purgestat</string>
		<string>pushd</string>
		<string>pwd</string>
		<string>pwd_mkdb</string>
		<string>quot</string>
		<string>quota</string>
		<string>quotacheck</string>
		<string>quotaon</string>
		<string>ranlib</string>
		<string>rarpd</string>
		<string>rcp</string>
		<string>rcs</string>
		<string>rcs-checkin</string>
		<string>rcs2log</string>
		<string>rcsclean</string>
		<string>rcsdiff</string>
		<string>rcsmerge</string>
		<string>rcz</string>
		<string>rdump</string>
		<string>reboot</string>
		<string>redo_prebinding</string>
		<string>refer</string>
		<string>rehash</string>
		<string>renice</string>
		<string>repeat</string>
		<string>repquota</string>
		<string>reset</string>
		<string>restore</string>
		<string>rev</string>
		<string>revnetgroup</string>
		<string>rlog</string>
		<string>rlogin</string>
		<string>rm</string>
		<string>rmail</string>
		<string>rmdir</string>
		<string>rmic</string>
		<string>rmid</string>
		<string>rmiregistry</string>
		<string>rmt</string>
		<string>rotatelogs</string>
		<string>route</string>
		<string>routed</string>
		<string>rpcgen</string>
		<string>rpcinfo</string>
		<string>rrestore</string>
		<string>rs</string>
		<string>rsh</string>
		<string>rsync</string>
		<string>ruptime</string>
		<string>rwho</string>
		<string>rwhod</string>
		<string>s2p</string>
		<string>sample</string>
		<string>savehist</string>
		<string>sc_usage</string>
		<string>sccs</string>
		<string>scp</string>
		<string>script</string>
		<string>scselect</string>
		<string>select</string>
		<string>scutil</string>
		<string>sdiff</string>
		<string>sed</string>
		<string>segedit</string>
		<string>sendmail</string>
		<string>serialver</string>
		<string>set</string>
		<string>setenv</string>
		<string>sftp</string>
		<string>sgi</string>
		<string>sh</string>
		<string>shar</string>
		<string>shell</string>
		<string>shift</string>
		<string>shlock</string>
		<string>showmount</string>
		<string>shutdown</string>
		<string>size</string>
		<string>slattach</string>
		<string>sleep</string>
		<string>sliceprint</string>
		<string>sliplogin</string>
		<string>slogin</string>
		<string>slp_reg</string>
		<string>slpd</string>
		<string>smbutil</string>
		<string>soelim</string>
		<string>sort</string>
		<string>source</string>
		<string>splain</string>
		<string>split</string>
		<string>spray</string>
		<string>ssh</string>
		<string>ssh-add</string>
		<string>ssh-agent</string>
		<string>ssh-keygen</string>
		<string>ssh-keyscan</string>
		<string>sshd</string>
		<string>startslip</string>
		<string>states</string>
		<string>status</string>
		<string>stdethers</string>
		<string>stdhosts</string>
		<string>stop</string>
		<string>strings</string>
		<string>strip</string>
		<string>stty</string>
		<string>su</string>
		<string>sudo</string>
		<string>sum</string>
		<string>suspend</string>
		<string>sw_vers</string>
		<string>switch</string>
		<string>sync</string>
		<string>sysctl</string>
		<string>syslogd</string>
		<string>tail</string>
		<string>talk</string>
		<string>tar</string>
		<string>tbl</string>
		<string>tclsh</string>
		<string>tclsh8.3</string>
		<string>tcopy</string>
		<string>tcpdchk</string>
		<string>tcpdmatch</string>
		<string>tcpdump</string>
		<string>tcsh</string>
		<string>tee</string>
		<string>telnet</string>
		<string>test</string>
		<string>texi2html</string>
		<string>tfmtodit</string>
		<string>tftp</string>
		<string>then</string>
		<string>tickadj</string>
		<string>tiff2icns</string>
		<string>tiffutil</string>
		<string>tim</string>
		<string>time</string>
		<string>timed</string>
		<string>timedc</string>
		<string>timutil</string>
		<string>tnameserv</string>
		<string>top</string>
		<string>tops</string>
		<string>touch</string>
		<string>tput</string>
		<string>tr</string>
		<string>traceroute</string>
		<string>troff</string>
		<string>trpt</string>
		<string>trsp</string>
		<string>true</string>
		<string>tset</string>
		<string>tsort</string>
		<string>tty</string>
		<string>tunefs</string>
		<string>ul</string>
		<string>ulimit</string>
		<string>umask</string>
		<string>umount</string>
		<string>unalias</string>
		<string>uname</string>
		<string>uncompress</string>
		<string>unexpand</string>
		<string>unhash</string>
		<string>unifdef</string>
		<string>uniq</string>
		<string>units</string>
		<string>unlimit</string>
		<string>unset</string>
		<string>unsetenv</string>
		<string>unvis</string>
		<string>unzip</string>
		<string>update</string>
		<string>update_prebinding</string>
		<string>uptime</string>
		<string>users</string>
		<string>uudecode</string>
		<string>uuencode</string>
		<string>uuidgen</string>
		<string>vacation</string>
		<string>verbose</string>
		<string>vers_string</string>
		<string>vgrind</string>
		<string>vi</string>
		<string>view</string>
		<string>vipw</string>
		<string>vis</string>
		<string>visual</string>
		<string>visudo</string>
		<string>vm_stat</string>
		<string>vmmap</string>
		<string>vsdbutil</string>
		<string>w</string>
		<string>wait</string>
		<string>wall</string>
		<string>wc</string>
		<string>what</string>
		<string>whatis</string>
		<string>whereis</string>
		<string>which</string>
		<string>while</string>
		<string>who</string>
		<string>whoami</string>
		<string>whois</string>
		<string>window</string>
		<string>write</string>
		<string>xargs</string>
		<string>xstr</string>
		<string>yacc</string>
		<string>yes</string>
		<string>ypbind</string>
		<string>ypcat</string>
		<string>ypinit.sh</string>
		<string>ypmatch</string>
		<string>yppoll</string>
		<string>yppush</string>
		<string>ypset</string>
		<string>ypwhich</string>
		<string>ypxfr</string>
		<string>zcat</string>
		<string>zcmp</string>
		<string>zdiff</string>
		<string>zdump</string>
		<string>zforce</string>
		<string>zgrep</string>
		<string>zic</string>
		<string>zip</string>
		<string>zmore</string>
		<string>znew</string>
		<string>zprint</string>
		<string>zsh</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>String Pattern</key>
		<string>(?xs:
(&quot;(\\&quot;|[^&quot;]|\\){1,1024}&quot;) | (?# Double-quote)
(&apos;(\\&apos;|[^&apos;\r]|\\\r)*&apos;) (?# Single-quote)
)
</string>
		<key>Comment Pattern</key>
		<string>(?xs:
			(\#.*?$) |
			(:\s&lt;&lt;&quot;EOC.+?EOC\r)
			)</string>
		<key>Function Pattern</key>
		<string>(?x:
			(?P&lt;function&gt;
			(?P&lt;function_name&gt;[a-z0-9 _]+)\s*\x28\x29
			\r(?s:{\s*\r.*?\r})
			)
		)</string>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
	</dict>
</dict>
</plist>
