<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	BBEdit codeless language module for COBOL
	
	Author:
	Jonathan Eddy <http://www.jmeddy.com>
	
	Version:
	v1.1.1 (2017-01-13)
	
	Changelog:
	v1.0 (2011-03-23): Initial release
	v1.1 (2017-01-07): Added many keywords, changed case sensitivity to true
	v1.1.1 (2017-01-13): Fixed missing </string> syntax at end of keyword list (thanks Joe R.)
	
	References:
	https://www.ibm.com/support/knowledgecenter/SSZJPZ_11.3.0/com.ibm.swg.im.iis.ds.mfjob.dev.doc/topics/r_dmnjbref_COBOL_Reserved_Words.html
	https://en.wikipedia.org/wiki/COBOL
	
	Usage:
	Copy to "~/Library/Application Support/BBEdit/Language Modules/" and launch BBEdit.
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>COBOL</string>
	<key>BBLMLanguageCode</key>
	<string>.cbl</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>ACCEPT</string>
		<string>ACCESS</string>
		<string>ADD</string>
		<string>ADDRESS</string>
		<string>ADVANCING</string>
		<string>AFTER</string>
		<string>ALL</string>
		<string>ALPHABET</string>
		<string>ALPHABETIC</string>
		<string>ALPHABETIC-LOWER</string>
		<string>ALPHABETIC-UPPER</string>
		<string>ALPHANUMERIC</string>
		<string>ALPHANUMERIC-EDITED</string>
		<string>ALSO</string>
		<string>ALTER</string>
		<string>ALTERNATE</string>
		<string>AND</string>
		<string>ANY</string>
		<string>APPLY</string>
		<string>ARE</string>
		<string>AREA</string>
		<string>AREAS</string>
		<string>ASCENDING</string>
		<string>ASSIGN</string>
		<string>AT</string>
		<string>AUTHOR</string>
		<string>BASIS</string>
		<string>BEFORE</string>
		<string>BEGINNING</string>
		<string>BINARY</string>
		<string>BLANK</string>
		<string>BLOCK</string>
		<string>BOTTOM</string>
		<string>BY</string>
		<string>CALL</string>
		<string>CANCEL</string>
		<string>CBL</string>
		<string>CD</string>
		<string>CF</string>
		<string>CH</string>
		<string>CHARACTER</string>
		<string>CHARACTERS</string>
		<string>CLASS</string>
		<string>CLASS-ID</string>
		<string>CLOCK-UNITS</string>
		<string>CLOSE</string>
		<string>COBOL</string>
		<string>CODE</string>
		<string>CODE-SET</string>
		<string>COLLATING</string>
		<string>COLUMN</string>
		<string>COM-REG</string>
		<string>COMMA</string>
		<string>COMMON</string>
		<string>COMMUNICATION</string>
		<string>COMP</string>
		<string>COMP-1</string>
		<string>COMP-2</string>
		<string>COMP-3</string>
		<string>COMP-4</string>
		<string>COMP-5</string>
		<string>COMPUTATIONAL</string>
		<string>COMPUTATIONAL-1</string>
		<string>COMPUTATIONAL-2</string>
		<string>COMPUTATIONAL-3</string>
		<string>COMPUTATIONAL-4</string>
		<string>COMPUTATIONAL-5</string>
		<string>COMPUTE</string>
		<string>CONFIGURATION</string>
		<string>CONTAINS</string>
		<string>CONTENT</string>
		<string>CONTINUE</string>
		<string>CONTROL</string>
		<string>CONTROLS</string>
		<string>CONVERTING</string>
		<string>COPY</string>
		<string>CORR</string>
		<string>CORRESPONDING</string>
		<string>COUNT</string>
		<string>CURRENCY</string>
		<string>CURRENT-DATE</string>
		<string>DATA</string>
		<string>DATE-COMPILED</string>
		<string>DATE-WRITTEN</string>
		<string>DAY</string>
		<string>DAY-OF-WEEK</string>
		<string>DBCS</string>
		<string>DE</string>
		<string>DEBUG-CONTENTS</string>
		<string>DEBUG-ITEM</string>
		<string>DEBUG-LINE</string>
		<string>DEBUG-NAME</string>
		<string>DEBUG-SUB-1</string>
		<string>DEBUG-SUB-2</string>
		<string>DEBUG-SUB-3</string>
		<string>DEBUGGING</string>
		<string>DECIMAL-POINT</string>
		<string>DECLARATIVES</string>
		<string>DELETE</string>
		<string>DELIMITED</string>
		<string>DELIMITER</string>
		<string>DEPENDING</string>
		<string>DESCENDING</string>
		<string>DESTINATION</string>
		<string>DETAIL</string>
		<string>DISPLAY</string>
		<string>DISPLAY-1</string>
		<string>DIVIDE</string>
		<string>DIVISION</string>
		<string>DOWN</string>
		<string>DUPLICATES</string>
		<string>DYNAMIC</string>
		<string>EGCS</string>
		<string>EGI</string>
		<string>EJECT</string>
		<string>ELSE</string>
		<string>EMI</string>
		<string>ENABLE</string>
		<string>END</string>
		<string>END-ADD</string>
		<string>END-CALL</string>
		<string>END-COMPUTE</string>
		<string>END-DELETE</string>
		<string>END-DIVIDE</string>
		<string>END-EVALUATE</string>
		<string>END-IF</string>
		<string>END-INVOKE</string>
		<string>END-MULTIPLY</string>
		<string>END-OF-PAGE</string>
		<string>END-PERFORM</string>
		<string>END-READ</string>
		<string>END-RECEIVE</string>
		<string>END-RETURN</string>
		<string>END-REWRITE</string>
		<string>END-SEARCH</string>
		<string>END-START</string>
		<string>END-STRING</string>
		<string>END-SUBTRACT</string>
		<string>END-UNSTRING</string>
		<string>END-WRITE</string>
		<string>ENDING</string>
		<string>ENTER</string>
		<string>ENTRY</string>
		<string>ENVIRONMENT</string>
		<string>EOP</string>
		<string>EQUAL</string>
		<string>ERROR</string>
		<string>ESI</string>
		<string>EVALUATE</string>
		<string>EVERY</string>
		<string>EXCEPTION</string>
		<string>EXIT</string>
		<string>EXTEND</string>
		<string>EXTERNAL</string>
		<string>FALSE</string>
		<string>FD</string>
		<string>FILE</string>
		<string>FILE-CONTROL</string>
		<string>FILLER</string>
		<string>FINAL</string>
		<string>FIRST</string>
		<string>FOOTING</string>
		<string>FOR</string>
		<string>FROM</string>
		<string>FUNCTION</string>
		<string>GENERATE</string>
		<string>GIVING</string>
		<string>GLOBAL</string>
		<string>GO</string>
		<string>GOBACK</string>
		<string>GREATER</string>
		<string>GROUP</string>
		<string>HEADING</string>
		<string>HIGH-VALUE</string>
		<string>HIGH-VALUES</string>
		<string>I-O</string>
		<string>I-O-CONTROL</string>
		<string>ID</string>
		<string>IDENTIFICATION</string>
		<string>IF</string>
		<string>IN</string>
		<string>INDEX</string>
		<string>INDEXED</string>
		<string>INDICATE</string>
		<string>INHERITS</string>
		<string>INITIAL</string>
		<string>INITIALIZE</string>
		<string>INITIATE</string>
		<string>INPUT</string>
		<string>INPUT-OUTPUT</string>
		<string>INSERT</string>
		<string>INSPECT</string>
		<string>INSTALLATION</string>
		<string>INTO</string>
		<string>INVALID</string>
		<string>INVOKE</string>
		<string>IS</string>
		<string>JUST</string>
		<string>JUSTIFIED</string>
		<string>KANJI</string>
		<string>KEY</string>
		<string>LABEL</string>
		<string>LAST</string>
		<string>LEADING</string>
		<string>LEFT</string>
		<string>LENGTH</string>
		<string>LESS</string>
		<string>LIMIT</string>
		<string>LIMITS</string>
		<string>LINAGE</string>
		<string>LINAGE-COUNTER</string>
		<string>LINE</string>
		<string>LINE-COUNTER</string>
		<string>LINES</string>
		<string>LINKAGE</string>
		<string>LOCAL-STORAGE</string>
		<string>LOCK</string>
		<string>LOW-VALUE</string>
		<string>LOW-VALUES</string>
		<string>MEMORY</string>
		<string>MERGE</string>
		<string>MESSAGE</string>
		<string>METACLASS</string>
		<string>METHOD</string>
		<string>METHOD-ID</string>
		<string>MODE</string>
		<string>MODULES</string>
		<string>MORE-LABELS</string>
		<string>MOVE</string>
		<string>MULTIPLE</string>
		<string>MULTIPLY</string>
		<string>NATIVE</string>
		<string>NATIVE_BINARY</string>
		<string>NEGATIVE</string>
		<string>NEXT</string>
		<string>NO</string>
		<string>NOT</string>
		<string>NULL</string>
		<string>NULLS</string>
		<string>NUMBER</string>
		<string>NUMERIC</string>
		<string>NUMERIC-EDITED</string>
		<string>OBJECT</string>
		<string>OBJECT-COMPUTER</string>
		<string>OCCURS</string>
		<string>OF</string>
		<string>OFF</string>
		<string>OMITTED</string>
		<string>ON</string>
		<string>OPEN</string>
		<string>OPTIONAL</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>ORGANIZATION</string>
		<string>OTHER</string>
		<string>OUTPUT</string>
		<string>OVERFLOW</string>
		<string>OVERRIDE</string>
		<string>PACKED-DECIMAL</string>
		<string>PADDING</string>
		<string>PAGE</string>
		<string>PAGE-COUNTER</string>
		<string>PASSWORD</string>
		<string>PERFORM</string>
		<string>PF</string>
		<string>PH</string>
		<string>PIC</string>
		<string>PICTURE</string>
		<string>PLUS</string>
		<string>POINTER</string>
		<string>POSITION</string>
		<string>POSITIVE</string>
		<string>PRINTING</string>
		<string>PROCEDURE</string>
		<string>PROCEDURE-POINTER</string>
		<string>PROCEDURES</string>
		<string>PROCEED</string>
		<string>PROCESSING</string>
		<string>PROGRAM</string>
		<string>PROGRAM-ID</string>
		<string>PURGE</string>
		<string>QUEUE</string>
		<string>QUOTE</string>
		<string>QUOTES</string>
		<string>RANDOM</string>
		<string>RD</string>
		<string>READ</string>
		<string>READY</string>
		<string>RECEIVE</string>
		<string>RECORD</string>
		<string>RECORDING</string>
		<string>RECORDS</string>
		<string>RECURSIVE</string>
		<string>REDEFINES</string>
		<string>REEL</string>
		<string>REFERENCE</string>
		<string>REFERENCES</string>
		<string>RELATIVE</string>
		<string>RELEASE</string>
		<string>RELOAD</string>
		<string>REMAINDER</string>
		<string>REMOVAL</string>
		<string>RENAMES</string>
		<string>REPLACE</string>
		<string>REPLACING</string>
		<string>REPORT</string>
		<string>REPORTING</string>
		<string>REPORTS</string>
		<string>REPOSITORY</string>
		<string>RERUN</string>
		<string>RESERVE</string>
		<string>RESET</string>
		<string>RETURN</string>
		<string>RETURN-CODE</string>
		<string>RETURNING</string>
		<string>REVERSED</string>
		<string>REWIND</string>
		<string>REWRITE</string>
		<string>RF</string>
		<string>RH</string>
		<string>RIGHT</string>
		<string>ROUNDED</string>
		<string>RUN</string>
		<string>SAME</string>
		<string>SCREEN</string>
		<string>SD</string>
		<string>SEARCH</string>
		<string>SECTION</string>
		<string>SECURITY</string>
		<string>SEGMENT</string>
		<string>SEGMENT-LIMIT</string>
		<string>SELECT</string>
		<string>SELF</string>
		<string>SEND</string>
		<string>SENTENCE</string>
		<string>SEPARATE</string>
		<string>SEQUENCE</string>
		<string>SEQUENTIAL</string>
		<string>SERVICE</string>
		<string>SET</string>
		<string>SHIFT-IN</string>
		<string>SHIFT-OUT</string>
		<string>SIGN</string>
		<string>SIZE</string>
		<string>SKIP1</string>
		<string>SKIP2</string>
		<string>SKIP3</string>
		<string>SORT</string>
		<string>SORT-CONTROL</string>
		<string>SORT-CORE-SIZE</string>
		<string>SORT-FILE-SIZE</string>
		<string>SORT-MERGE</string>
		<string>SORT-MESSAGE</string>
		<string>SORT-MODE-SIZE</string>
		<string>SORT-RETURN</string>
		<string>SOURCE</string>
		<string>SOURCE-COMPUTER</string>
		<string>SPACE</string>
		<string>SPACES</string>
		<string>SPECIAL-NAMES</string>
		<string>STANDARD</string>
		<string>STANDARD-1</string>
		<string>STANDARD-2</string>
		<string>START</string>
		<string>STATUS</string>
		<string>STOP</string>
		<string>STRING</string>
		<string>SUB-QUEUE-1</string>
		<string>SUB-QUEUE-2</string>
		<string>SUB-QUEUE-3</string>
		<string>SUBTRACT</string>
		<string>SUM</string>
		<string>SUPER</string>
		<string>SUPPRESS</string>
		<string>SYMBOLIC</string>
		<string>SYNC</string>
		<string>SYNCHRONIZED</string>
		<string>TABLE</string>
		<string>TALLY</string>
		<string>TALLYING</string>
		<string>TAPE</string>
		<string>TERMINAL</string>
		<string>TERMINATE</string>
		<string>TEST</string>
		<string>TEXT</string>
		<string>THAN</string>
		<string>THEN</string>
		<string>THROUGH</string>
		<string>THRU</string>
		<string>TIME</string>
		<string>TIMES</string>
		<string>TITLE</string>
		<string>TO</string>
		<string>TOP</string>
		<string>TRACE</string>
		<string>TRAILING</string>
		<string>TRUE</string>
		<string>TYPE</string>
		<string>UNIT</string>
		<string>UNSTRING</string>
		<string>UNTIL</string>
		<string>UP</string>
		<string>UPON</string>
		<string>USAGE</string>
		<string>USE</string>
		<string>USING</string>
		<string>VALIDATE</string>
		<string>VALUE</string>
		<string>VALUES</string>
		<string>VARYING</string>
		<string>WHEN</string>
		<string>WHEN-COMPILED</string>
		<string>WITH</string>
		<string>WORDS</string>
		<string>WORKING-STORAGE</string>
		<string>WRITE</string>
		<string>WRITE-ONLY</string>
		<string>ZERO</string>
		<string>ZEROES</string>
		<string>ZEROS</string>
	</array>
	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>QCBLSRC</string>
		<string>QCBLSRC.*</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cbl</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cob</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cpy</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ-abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Line Comments</key>
		<string>*</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Escape Char in Strings 1</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
	</dict>
	<key>com.barebones.DocumentType</key>
	<string>CodelessLanguageModule</string>
</dict>
</plist>
