<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>DMIS</string>
	<key>BBLMLanguageCode</key>
	<string>DMIS</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dms</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dmis</string>
		</dict>
	</array>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>A-AXIS</string>
		<string>B-AXIS</string>
		<string>C-AXIS</string>
		<string>COOR</string>
		<string>D</string>
		<string>GOTAB</string>
		<string>GOTO</string>
		<string>NONE</string>
		<string>RECALL</string>
		<string>ROTAB</string>
		<string>ROTNUL</string>
		<string>ROTORG</string>
		<string>ROTSET</string>
		<string>ROTTOT</string>
		<string>SAVE</string>
		<string>WKPLAN</string>
		<string>XAXIS</string>
		<string>XDIR</string>
		<string>XORIG</string>
		<string>XYPLAN</string>
		<string>YAXIS</string>
		<string>YDIR</string>
		<string>YORIG</string>
		<string>YZPLAN</string>
		<string>ZAXIS</string>
		<string>ZDIR</string>
		<string>ZORIG</string>
		<string>ZXPLAN</string>
		<string>ABS</string>
		<string>ACOS</string>
		<string>ASIN</string>
		<string>ATAN</string>
		<string>CALLARG</string>
		<string>CEIL</string>
		<string>COS</string>
		<string>COT</string>
		<string>DATE</string>
		<string>DATEDAY</string>
		<string>DATEMONTH</string>
		<string>DATEYEAR</string>
		<string>DEG</string>
		<string>ERRORCODE</string>
		<string>ERRORLINE</string>
		<string>EXP</string>
		<string>FILEACTIVE</string>
		<string>FLOOR</string>
		<string>GETUPPREFIX</string>
		<string>GZ</string>
		<string>LN</string>
		<string>LOOPCOUNT</string>
		<string>PRINTERACTIVE</string>
		<string>RAD</string>
		<string>RND</string>
		<string>SENSOR</string>
		<string>SGN</string>
		<string>SIN</string>
		<string>SNSINDEX</string>
		<string>SPCACTVIE</string>
		<string>SQR</string>
		<string>SQRT</string>
		<string>STRCMP</string>
		<string>STRFCT</string>
		<string>STRFCT</string>
		<string>STRGHT</string>
		<string>STRLEN</string>
		<string>SYSASACTIVE</string>
		<string>SYSAUTOACTIVE</string>
		<string>SYSAUTOFILENAME</string>
		<string>SYSDMISFILENAME</string>
		<string>SYSDMISMACRONAME</string>
		<string>SYSTEACHINACTIVE</string>
		<string>TAN</string>
		<string>TIME</string>
		<string>TIMEHOUR</string>
		<string>TIMEMIN</string>
		<string>TIMESEC</string>
		<string>TIMESEC</string>
		<string>UPPREFIX</string>
		<string>USERACTIV</string>
		<string>USERLEVEL</string>
		<string>USERNAME</string>
		<string>BEFORE</string>
		<string>BEGIN</string>
		<string>CALL</string>
		<string>DECISION</string>
		<string>DIALOG</string>
		<string>ELSE</string>
		<string>END</string>
		<string>ENDFIL</string>
		<string>ENDIF</string>
		<string>ENDMAC</string>
		<string>EXIT</string>
		<string>HERE</string>
		<string>IF</string>
		<string>INCLUDE</string>
		<string>INSERT</string>
		<string>JUMPTO</string>
		<string>MACRO</string>
		<string>ONCANCEL</string>
		<string>ONERROR</string>
		<string>THEN</string>
		<string>WAIT</string>
		<string>|D</string>
		<string>|DST</string>
		<string>|DX</string>
		<string>|DY</string>
		<string>|DZ</string>
		<string>|FT</string>
		<string>|LT</string>
		<string>|MCPOSW1</string>
		<string>|MCPOSW2</string>
		<string>|MCPOSW3</string>
		<string>|MCPOSX</string>
		<string>|MCPOSY</string>
		<string>|MCPOSZ</string>
		<string>|MCW1</string>
		<string>|MCW2</string>
		<string>|MCW3</string>
		<string>|MCX</string>
		<string>|MCY</string>
		<string>|MCZ</string>
		<string>|POSW1</string>
		<string>|POSW2</string>
		<string>|POSW3</string>
		<string>|POSX</string>
		<string>|POSY</string>
		<string>|POSZ</string>
		<string>|R</string>
		<string>|WKL</string>
		<string>|X</string>
		<string>|Y</string>
		<string>|Z</string>
		<string>2D</string>
		<string>3D</string>
		<string>ABSL</string>
		<string>ACLRAT</string>
		<string>ACT</string>
		<string>ALGDEF</string>
		<string>ALL</string>
		<string>AMT</string>
		<string>ANGDEC</string>
		<string>ANGDMS</string>
		<string>ANGL</string>
		<string>ANGLB</string>
		<string>ANGLE</string>
		<string>ANGLM</string>
		<string>ANGLR</string>
		<string>ANGLT</string>
		<string>ANGRAD</string>
		<string>ANNGLB</string>
		<string>APPEND</string>
		<string>APPRCH</string>
		<string>ASYNCHRON</string>
		<string>AUTO</string>
		<string>AVG</string>
		<string>BACK</string>
		<string>BACKLIGHT</string>
		<string>BF</string>
		<string>BITMAP</string>
		<string>BL</string>
		<string>BND</string>
		<string>BOUND</string>
		<string>BOX</string>
		<string>BRIGHTFIELD</string>
		<string>BV</string>
		<string>BV-VERSION</string>
		<string>CAD</string>
		<string>CADWINDOW</string>
		<string>CALCELEM</string>
		<string>CALIB</string>
		<string>CALLARG</string>
		<string>CANCELBUTTON</string>
		<string>CART</string>
		<string>CCW</string>
		<string>CHANNEL</string>
		<string>CHAR</string>
		<string>CHECKBOX</string>
		<string>CHFILE</string>
		<string>CIRCLE</string>
		<string>CIRCLEH</string>
		<string>CIRCLEMZ</string>
		<string>CIRCLEP</string>
		<string>CIRLTY</string>
		<string>CLEAR</string>
		<string>CLMPID</string>
		<string>CLMPSN</string>
		<string>CLOSE</string>
		<string>CODE</string>
		<string>COLORBOX</string>
		<string>COMBOBOX</string>
		<string>COMM</string>
		<string>COMNEG</string>
		<string>COMOFF</string>
		<string>COMPOS</string>
		<string>CONCEN</string>
		<string>CONE</string>
		<string>CONST</string>
		<string>CORTOL</string>
		<string>CRGDEF</string>
		<string>CRNOUT</string>
		<string>CUTCOM</string>
		<string>CW</string>
		<string>CYLCTY</string>
		<string>CYLNDR</string>
		<string>DAT</string>
		<string>DATDEF</string>
		<string>DATE</string>
		<string>DATSET</string>
		<string>DECL</string>
		<string>DEFALT</string>
		<string>DELETE</string>
		<string>DEV</string>
		<string>DIAM</string>
		<string>DISPLY</string>
		<string>DIST</string>
		<string>DISTB</string>
		<string>DMEHW</string>
		<string>DMEID</string>
		<string>DMESW</string>
		<string>DMESWV</string>
		<string>DMIS</string>
		<string>DMISMN</string>
		<string>DROPDOWNTEXT</string>
		<string>DST</string>
		<string>EAST</string>
		<string>EDGELN</string>
		<string>ELLIPS</string>
		<string>ENDAT</string>
		<string>ENDCHF</string>
		<string>ENDGO</string>
		<string>ENDMES</string>
		<string>ERROR</string>
		<string>EVAL</string>
		<string>EXPORT</string>
		<string>F</string>
		<string>FA</string>
		<string>FC</string>
		<string>FEAT</string>
		<string>FEATUR</string>
		<string>FEDRAT</string>
		<string>FILDEF</string>
		<string>FILE</string>
		<string>FILEEXIST</string>
		<string>FILESELECT</string>
		<string>FILNAM</string>
		<string>FINPOS</string>
		<string>FIXED</string>
		<string>FIXTID</string>
		<string>FIXTSN</string>
		<string>FLAT</string>
		<string>FROM</string>
		<string>FTOL</string>
		<string>GCURVE</string>
		<string>GLOBAL</string>
		<string>GOHOME</string>
		<string>GOTARG</string>
		<string>GRAPHIC</string>
		<string>GROUPBOX</string>
		<string>GSURF</string>
		<string>HARDWARE</string>
		<string>HEADER</string>
		<string>HIST</string>
		<string>HSLIDER</string>
		<string>IMAGE</string>
		<string>IMPORT</string>
		<string>INCH</string>
		<string>INCR</string>
		<string>INDEX</string>
		<string>INI</string>
		<string>INNER</string>
		<string>INPUT</string>
		<string>INT</string>
		<string>INTOF</string>
		<string>INTOL</string>
		<string>JOYSPEED</string>
		<string>LET</string>
		<string>LIMIT</string>
		<string>LINE</string>
		<string>LINE_PNT</string>
		<string>LISTBOX</string>
		<string>LITDEF</string>
		<string>LOAD</string>
		<string>LOCAL</string>
		<string>LOCTOL</string>
		<string>LOOP</string>
		<string>LOTID</string>
		<string>LTPOS</string>
		<string>MAJORVERSION</string>
		<string>MAN</string>
		<string>MANUAL</string>
		<string>MASSTOL</string>
		<string>MAX</string>
		<string>MAXVEL</string>
		<string>MC</string>
		<string>MCS</string>
		<string>MC-VERSION</string>
		<string>MEAS</string>
		<string>MEASSPEED</string>
		<string>MENU</string>
		<string>MFGDEV</string>
		<string>MIDLI</string>
		<string>MIDPL</string>
		<string>MIDPT</string>
		<string>MIN</string>
		<string>MINORVERSION</string>
		<string>MIRROR</string>
		<string>MIRRORCSYS</string>
		<string>MM</string>
		<string>MMC</string>
		<string>MODE</string>
		<string>MODUS</string>
		<string>MOVEPT</string>
		<string>MOVETO</string>
		<string>NI</string>
		<string>NOM</string>
		<string>NOMINL</string>
		<string>NONCON</string>
		<string>NORTH</string>
		<string>NXDIR</string>
		<string>NYDIR</string>
		<string>NZDIR</string>
		<string>OBLQ</string>
		<string>OBTAIN</string>
		<string>OFF</string>
		<string>OKBUTTON</string>
		<string>ON</string>
		<string>OPEN</string>
		<string>OPENREAD</string>
		<string>OPER</string>
		<string>OPERID</string>
		<string>OPTION1</string>
		<string>OPTION2</string>
		<string>OPTION3</string>
		<string>OPTIONBUTTON</string>
		<string>OPTIONGROUP</string>
		<string>OUTER</string>
		<string>OUTFIL</string>
		<string>OUTOL</string>
		<string>OUTPUT</string>
		<string>PARALEL</string>
		<string>PARLEL</string>
		<string>PARTID</string>
		<string>PARTO</string>
		<string>PARTRV</string>
		<string>PARTSN</string>
		<string>PERP</string>
		<string>PERPTO</string>
		<string>PLANE</string>
		<string>PLANID</string>
		<string>PLOT</string>
		<string>POINT</string>
		<string>POINTX</string>
		<string>POINTY</string>
		<string>POINTZ</string>
		<string>POL</string>
		<string>POLNEG</string>
		<string>POS</string>
		<string>PRCOMP</string>
		<string>PREVOP</string>
		<string>PRINT</string>
		<string>PRINTER</string>
		<string>PROBE</string>
		<string>PROCID</string>
		<string>PROFL</string>
		<string>PROFS</string>
		<string>PROG</string>
		<string>PROJCT</string>
		<string>PROJLI</string>
		<string>PROJPT</string>
		<string>PROTOCOL</string>
		<string>PSTHRU</string>
		<string>PT2PT</string>
		<string>PTMEAS</string>
		<string>PUSHBUTTON</string>
		<string>QUERY</string>
		<string>RAPID</string>
		<string>READ</string>
		<string>READARRAY</string>
		<string>REAL</string>
		<string>REINIT</string>
		<string>REPORT</string>
		<string>RETRCT</string>
		<string>RFS</string>
		<string>ROT_X</string>
		<string>ROT_Y</string>
		<string>ROT_Z</string>
		<string>ROTATE</string>
		<string>ROTCCW</string>
		<string>ROTCW</string>
		<string>ROTDEF</string>
		<string>RT</string>
		<string>S</string>
		<string>SCAN</string>
		<string>SCAN_DEV</string>
		<string>SCAN_DIST</string>
		<string>SCANX</string>
		<string>SCANY</string>
		<string>SCANZ</string>
		<string>SCNDEF</string>
		<string>SCNGRF</string>
		<string>SCNPOS</string>
		<string>SCNVEL</string>
		<string>SCREEN</string>
		<string>SEARCH</string>
		<string>SELECTION1</string>
		<string>SELECTION2</string>
		<string>SELECTION3</string>
		<string>SETLIGHT</string>
		<string>SHORT</string>
		<string>SLIDER1</string>
		<string>SLIDER2</string>
		<string>SLIDER3</string>
		<string>SNDRES</string>
		<string>SNSDEF</string>
		<string>SNSET</string>
		<string>SNSLCT</string>
		<string>SOUND</string>
		<string>SOUTH</string>
		<string>SPC</string>
		<string>SPEED</string>
		<string>SPHERE</string>
		<string>STAT</string>
		<string>STOR</string>
		<string>SURF</string>
		<string>SYM</string>
		<string>SYNC</string>
		<string>SYNCHRON</string>
		<string>SYSOP</string>
		<string>SYSTEM</string>
		<string>T</string>
		<string>TANTO</string>
		<string>TECOMP</string>
		<string>TERM</string>
		<string>TEXT</string>
		<string>TEXTBOX</string>
		<string>THLDEF</string>
		<string>THRU</string>
		<string>TIME</string>
		<string>TOL</string>
		<string>TOOLDF</string>
		<string>TR</string>
		<string>TRANS</string>
		<string>TRANSPARENT</string>
		<string>TRIAN</string>
		<string>TRIANG</string>
		<string>TRNOUT</string>
		<string>TYPE</string>
		<string>UNBND</string>
		<string>UNITS</string>
		<string>USER</string>
		<string>VA</string>
		<string>VALUE</string>
		<string>VEC</string>
		<string>VECTORPHI</string>
		<string>VECTORTHETA</string>
		<string>VERSION</string>
		<string>VERTEX</string>
		<string>VF</string>
		<string>VFORM</string>
		<string>VIDAF</string>
		<string>VIDEO</string>
		<string>VIDEOFKT</string>
		<string>VIEWPORT</string>
		<string>VL</string>
		<string>VSLIDER</string>
		<string>VW</string>
		<string>WEST</string>
		<string>WFPCALIB</string>
		<string>WINDEF</string>
		<string>WRITEARRAY</string>
		<string>ROTTAB</string>
		<string>GOTO</string>
		<string>ROTTAB</string>
		<string>RECALL</string>
		<string>COOR</string>
		<string>GOTAB</string>
		<string>WKPLAN</string>
		<string>FA</string>
		<string>B-AXIS</string>
		<string>A-AXIS</string>
		<string>YDIR</string>
		<string>ZDIR</string>
		<string>YZPLAN</string>
		<string>D</string>
		<string>ROTATETO</string>
		<string>IPWINDOW</string>
		<string>RECT</string>
		<string>SAVE</string>
		<string>XAXIS</string>
		<string>YAXIS</string>
		<string>ZAXIS</string>
		<string>XORIG</string>
		<string>YORIG</string>
		<string>ZORIG</string>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>$$</string>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\?!</string>
		<key>Open Line Comments</key>
		<string>$$</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>&apos;</string>
		<key>Close Strings 2</key>
		<string>&apos;</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
	</dict>
</dict>
</plist>
