<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!--  The smallest CLM that will color keywords.
      Copyright (c) 2012 Bare Bones Software, Inc. -->

<!--  This CLM colors EViews code. Put it in 
      ~/Library/Application Support/BBEdit/Language Modules/
      or
      ~/Library/Application Support/TextWrangler/Language Modules/ 
      See further details at
      https://www.barebones.com/support/develop/clm.html -->
		
<dict>
	<!-- You must identify the plist as a CLM: -->
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<!-- You must identify your language: -->
	<key>BBLMLanguageDisplayName</key>  <string>EViews</string>
	<key>BBLMLanguageCode</key>         <string>EVie</string>
	<key>BBLMSuffixMap</key>
		<array>
		<dict>
			<key>BBLMLanguageSuffix</key>   <string>.prg</string>
		</dict>
		</array>
	
	<!-- Not required, but there’s not much point to
	     a language module if it doesn’t color syntax: -->
	<key>BBLMColorsSyntax</key>         <true/>
	
	<!-- Specify a comment-out string: -->
	<key>BBLMCommentLineDefault</key>   <string>' </string>
	
	<!-- You must specify the character set for
             keywords and identifiers. Substitute your own:  -->
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_@</string>

		<key>Open Line Comments</key>	<string>'</string>

		<key>Open Strings 1</key>       <string>"</string>
		<key>Close Strings 1</key>      <string>"</string>
	</dict> 

	<!-- Specify some keywords. This isn’t required, either,
             but it provides something to color: -->
	<key>BBLMKeywordList</key>
	<array>
		<string>@abs</string>
		<string>@acos</string>
		<string>@addinspath</string>
		<string>@addquotes</string>
		<string>@after</string>
		<string>@all</string>
		<string>@asc</string>
		<string>@asin</string>
		<string>@atan</string>
		<string>@before</string>
		<string>@beta</string>
		<string>@betainc</string>
		<string>@betaincder</string>
		<string>@betaincinv</string>
		<string>@betalog</string>
		<string>@between</string>
		<string>@binom</string>
		<string>@binomlog</string>
		<string>@bounds</string>
		<string>@capplyranks</string>
		<string>@cbeta</string>
		<string>@cbinom</string>
		<string>@cchisq</string>
		<string>@cdetrend</string>
		<string>@ceiling</string>
		<string>@cellid</string>
		<string>@cexp</string>
		<string>@cextreme</string>
		<string>@cfdist</string>
		<string>@cfirst</string>
		<string>@cgamma</string>
		<string>@cged</string>
		<string>@chisq</string>
		<string>@cholesky</string>
		<string>@chr</string>
		<string>@cifirst</string>
		<string>@cilast</string>
		<string>@cimax</string>
		<string>@cimin</string>
		<string>@cintercept</string>
		<string>@claplace</string>
		<string>@clast</string>
		<string>@clogistic</string>
		<string>@cloglog</string>
		<string>@clognorm</string>
		<string>@cmax</string>
		<string>@cmean</string>
		<string>@cmedian</string>
		<string>@cmin</string>
		<string>@cnas</string>
		<string>@cnegbin</string>
		<string>@cnorm</string>
		<string>@cobs</string>
		<string>@colcumprod</string>
		<string>@colcumsum</string>
		<string>@coldemean</string>
		<string>@coldetrend</string>
		<string>@colpctiles</string>
		<string>@colranks</string>
		<string>@colsort</string>
		<string>@colstdize</string>
		<string>@colstdizep</string>
		<string>@columnextract</string>
		<string>@columns</string>
		<string>@commute</string>
		<string>@cond</string>
		<string>@convert</string>
		<string>@cor</string>
		<string>@cos</string>
		<string>@cov</string>
		<string>@covp</string>
		<string>@covs</string>
		<string>@cpareto</string>
		<string>@cpoisson</string>
		<string>@cprod</string>
		<string>@cquantile</string>
		<string>@crossid</string>
		<string>@cslope</string>
		<string>@cstdev</string>
		<string>@cstdevp</string>
		<string>@cstdevs</string>
		<string>@csum</string>
		<string>@csumsq</string>
		<string>@ctdist</string>
		<string>@ctrendcoef</string>
		<string>@ctrmean</string>
		<string>@cumbmax</string>
		<string>@cumbmean</string>
		<string>@cumbmin</string>
		<string>@cumbnas</string>
		<string>@cumbobs</string>
		<string>@cumbprod</string>
		<string>@cumbstdev</string>
		<string>@cumbstdevp</string>
		<string>@cumbstdevs</string>
		<string>@cumbsum</string>
		<string>@cumbsumsq</string>
		<string>@cumbvar</string>
		<string>@cumbvarp</string>
		<string>@cumbvars</string>
		<string>@cummax</string>
		<string>@cummean</string>
		<string>@cummin</string>
		<string>@cumnas</string>
		<string>@cumobs</string>
		<string>@cumprod</string>
		<string>@cumstdev</string>
		<string>@cumstdevp</string>
		<string>@cumstdevs</string>
		<string>@cumsum</string>
		<string>@cumsumsq</string>
		<string>@cumvar</string>
		<string>@cumvarp</string>
		<string>@cumvars</string>
		<string>@cunif</string>
		<string>@cvar</string>
		<string>@cvarp</string>
		<string>@cvars</string>
		<string>@cweib</string>
		<string>@datapath</string>
		<string>@date</string>
		<string>@dateadd</string>
		<string>@dateceil</string>
		<string>@datediff</string>
		<string>@datefloor</string>
		<string>@datenext</string>
		<string>@datepart</string>
		<string>@datestr</string>
		<string>@dateval</string>
		<string>@day</string>
		<string>@dbeta</string>
		<string>@dbinom</string>
		<string>@dchisq</string>
		<string>@demean</string>
		<string>@det</string>
		<string>@detrend</string>
		<string>@dexp</string>
		<string>@dextreme</string>
		<string>@dfdist</string>
		<string>@dgamma</string>
		<string>@dged</string>
		<string>@digamma</string>
		<string>@diwish</string>
		<string>@diwishc</string>
		<string>@diwishi</string>
		<string>@diwishic</string>
		<string>@dlaplace</string>
		<string>@dlogistic</string>
		<string>@dlognorm</string>
		<string>@dmvnorm</string>
		<string>@dmvnormc</string>
		<string>@dmvnormi</string>
		<string>@dmvnormic</string>
		<string>@dnegbin</string>
		<string>@dnorm</string>
		<string>@dpareto</string>
		<string>@dpoisson</string>
		<string>@drop</string>
		<string>@dtdist</string>
		<string>@dtoo</string>
		<string>@dunif</string>
		<string>@duplic</string>
		<string>@duplicinv</string>
		<string>@dupsid</string>
		<string>@dupsobs</string>
		<string>@during</string>
		<string>@dweib</string>
		<string>@dwish</string>
		<string>@dwishc</string>
		<string>@dwishi</string>
		<string>@dwishic</string>
		<string>@ediv</string>
		<string>@eeq</string>
		<string>@eeqna</string>
		<string>@ege</string>
		<string>@egt</string>
		<string>@eigenvalues</string>
		<string>@eigenvectors</string>
		<string>@einv</string>
		<string>@ele</string>
		<string>@elem</string>
		<string>@elimin</string>
		<string>@elt</string>
		<string>@emax</string>
		<string>@emin</string>
		<string>@emult</string>
		<string>@enddate</string>
		<string>@eneq</string>
		<string>@eneqna</string>
		<string>@env</string>
		<string>@epow</string>
		<string>@eqna</string>
		<string>@equaloption</string>
		<string>@erecode</string>
		<string>@erf</string>
		<string>@erfc</string>
		<string>@errorcount</string>
		<string>@event</string>
		<string>@evpath</string>
		<string>@exp</string>
		<string>@explode</string>
		<string>@expm1</string>
		<string>@fact</string>
		<string>@factlog</string>
		<string>@fdist</string>
		<string>@fileexist</string>
		<string>@fill</string>
		<string>@filledmatrix</string>
		<string>@filledrowvector</string>
		<string>@filledsym</string>
		<string>@filledvector</string>
		<string>@first</string>
		<string>@firstsby</string>
		<string>@floor</string>
		<string>@folderexist</string>
		<string>@freq</string>
		<string>@fv</string>
		<string>@gamma</string>
		<string>@gammader</string>
		<string>@gammainc</string>
		<string>@gammaincder</string>
		<string>@gammaincinv</string>
		<string>@gammalog</string>
		<string>@getmaindiagonal</string>
		<string>@getnextname</string>
		<string>@getthistype</string>
		<string>@gmean</string>
		<string>@groupid</string>
		<string>@hasoption</string>
		<string>@hcat</string>
		<string>@hmean</string>
		<string>@holiday</string>
		<string>@hour</string>
		<string>@hourf</string>
		<string>@identity</string>
		<string>@iff</string>
		<string>@ifirst</string>
		<string>@ilast</string>
		<string>@imax</string>
		<string>@imin</string>
		<string>@implode</string>
		<string>@inlist</string>
		<string>@inner</string>
		<string>@insert</string>
		<string>@instr</string>
		<string>@intercept</string>
		<string>@inv</string>
		<string>@inverse</string>
		<string>@isempty</string>
		<string>@isna</string>
		<string>@isobject</string>
		<string>@ispanel</string>
		<string>@isperiod</string>
		<string>@issingular</string>
		<string>@isvalidgroup</string>
		<string>@isvalidname</string>
		<string>@keep</string>
		<string>@kronecker</string>
		<string>@kurt</string>
		<string>@kurtsby</string>
		<string>@lag</string>
		<string>@last</string>
		<string>@lasterrnum</string>
		<string>@lasterrstr</string>
		<string>@lastsby</string>
		<string>@left</string>
		<string>@len</string>
		<string>@length</string>
		<string>@linepath</string>
		<string>@loadprgini</string>
		<string>@localt</string>
		<string>@log</string>
		<string>@log10</string>
		<string>@log1mexp</string>
		<string>@log1p</string>
		<string>@log2pi</string>
		<string>@logcnorm</string>
		<string>@logit</string>
		<string>@logx</string>
		<string>@lower</string>
		<string>@ltrim</string>
		<string>@makedate</string>
		<string>@makediagonal</string>
		<string>@makevalidname</string>
		<string>@map</string>
		<string>@mav</string>
		<string>@mavc</string>
		<string>@max</string>
		<string>@maxerrcount</string>
		<string>@maxes</string>
		<string>@maxsby</string>
		<string>@mcor</string>
		<string>@mcov</string>
		<string>@mcovp</string>
		<string>@mcovs</string>
		<string>@mean</string>
		<string>@meansby</string>
		<string>@median</string>
		<string>@mediansby</string>
		<string>@mid</string>
		<string>@min</string>
		<string>@minner</string>
		<string>@mins</string>
		<string>@minsby</string>
		<string>@minute</string>
		<string>@mkurt</string>
		<string>@mmax</string>
		<string>@mmin</string>
		<string>@mnas</string>
		<string>@mnrnd</string>
		<string>@mobs</string>
		<string>@mod</string>
		<string>@month</string>
		<string>@movav</string>
		<string>@movavc</string>
		<string>@movcor</string>
		<string>@movcov</string>
		<string>@movcovp</string>
		<string>@movcovs</string>
		<string>@movinner</string>
		<string>@movkurt</string>
		<string>@movmax</string>
		<string>@movmin</string>
		<string>@movnas</string>
		<string>@movobs</string>
		<string>@movskew</string>
		<string>@movstdev</string>
		<string>@movstdevp</string>
		<string>@movstdevs</string>
		<string>@movsum</string>
		<string>@movsumsq</string>
		<string>@movvar</string>
		<string>@movvarp</string>
		<string>@movvars</string>
		<string>@mrnd</string>
		<string>@mskew</string>
		<string>@mstdev</string>
		<string>@mstdevp</string>
		<string>@mstdevs</string>
		<string>@msum</string>
		<string>@msumsq</string>
		<string>@mvar</string>
		<string>@mvarp</string>
		<string>@mvars</string>
		<string>@nan</string>
		<string>@nas</string>
		<string>@nasby</string>
		<string>@neqna</string>
		<string>@norm</string>
		<string>@now</string>
		<string>@nper</string>
		<string>@objects</string>
		<string>@obs</string>
		<string>@obsby</string>
		<string>@obsid</string>
		<string>@obsrange</string>
		<string>@obssmpl</string>
		<string>@ones</string>
		<string>@option</string>
		<string>@otod</string>
		<string>@otods</string>
		<string>@outer</string>
		<string>@pagecount</string>
		<string>@pageexist</string>
		<string>@pagefreq</string>
		<string>@pageids</string>
		<string>@pagelist</string>
		<string>@pagename</string>
		<string>@pagesmpl</string>
		<string>@pc</string>
		<string>@pca</string>
		<string>@pch</string>
		<string>@pcha</string>
		<string>@pchy</string>
		<string>@pctiles</string>
		<string>@pcy</string>
		<string>@permute</string>
		<string>@pi</string>
		<string>@pinverse</string>
		<string>@pmax</string>
		<string>@pmin</string>
		<string>@pmt</string>
		<string>@pow</string>
		<string>@pow1pm1</string>
		<string>@powm1</string>
		<string>@prod</string>
		<string>@psi</string>
		<string>@pv</string>
		<string>@qbeta</string>
		<string>@qbinom</string>
		<string>@qchisq</string>
		<string>@qexp</string>
		<string>@qextreme</string>
		<string>@qfdist</string>
		<string>@qform</string>
		<string>@qgamma</string>
		<string>@qged</string>
		<string>@qlaplace</string>
		<string>@qlogistic</string>
		<string>@qlognorm</string>
		<string>@qnegbin</string>
		<string>@qnorm</string>
		<string>@qpareto</string>
		<string>@qpoisson</string>
		<string>@qr</string>
		<string>@qtdist</string>
		<string>@quantile</string>
		<string>@quantilesby</string>
		<string>@quarter</string>
		<string>@qunif</string>
		<string>@qweib</string>
		<string>@rank</string>
		<string>@ranks</string>
		<string>@rapplyranks</string>
		<string>@rate</string>
		<string>@rbeta</string>
		<string>@rbinom</string>
		<string>@rchisq</string>
		<string>@recode</string>
		<string>@replace</string>
		<string>@resample</string>
		<string>@rexp</string>
		<string>@rextreme</string>
		<string>@rfdist</string>
		<string>@rfirst</string>
		<string>@rgamma</string>
		<string>@rged</string>
		<string>@rifirst</string>
		<string>@right</string>
		<string>@rilast</string>
		<string>@rimax</string>
		<string>@rimin</string>
		<string>@rinstr</string>
		<string>@riwish</string>
		<string>@riwishc</string>
		<string>@riwishi</string>
		<string>@riwishic</string>
		<string>@rlaplace</string>
		<string>@rlast</string>
		<string>@rlogistic</string>
		<string>@rlognorm</string>
		<string>@rmax</string>
		<string>@rmean</string>
		<string>@rmedian</string>
		<string>@rmin</string>
		<string>@rmvnorm</string>
		<string>@rmvnormc</string>
		<string>@rmvnormi</string>
		<string>@rmvnormic</string>
		<string>@rnas</string>
		<string>@rnegbin</string>
		<string>@rnorm</string>
		<string>@robs</string>
		<string>@round</string>
		<string>@rowextract</string>
		<string>@rowranks</string>
		<string>@rows</string>
		<string>@rowsort</string>
		<string>@rpareto</string>
		<string>@rpoisson</string>
		<string>@rprod</string>
		<string>@rquantile</string>
		<string>@rstdev</string>
		<string>@rstdevp</string>
		<string>@rstdevs</string>
		<string>@rsum</string>
		<string>@rsumsq</string>
		<string>@rsweep</string>
		<string>@rtdist</string>
		<string>@rtrim</string>
		<string>@runif</string>
		<string>@runpath</string>
		<string>@rvalcount</string>
		<string>@rvar</string>
		<string>@rvarp</string>
		<string>@rvars</string>
		<string>@rweib</string>
		<string>@rwish</string>
		<string>@rwishc</string>
		<string>@rwishi</string>
		<string>@rwishic</string>
		<string>@scale</string>
		<string>@seas</string>
		<string>@second</string>
		<string>@seq</string>
		<string>@seqm</string>
		<string>@sign</string>
		<string>@sin</string>
		<string>@skew</string>
		<string>@skewsby</string>
		<string>@slope</string>
		<string>@smape</string>
		<string>@smpl</string>
		<string>@solvesystem</string>
		<string>@sort</string>
		<string>@sqrt</string>
		<string>@stdev</string>
		<string>@stdevp</string>
		<string>@stdevpsby</string>
		<string>@stdevs</string>
		<string>@stdevsby</string>
		<string>@stdevssby</string>
		<string>@stdize</string>
		<string>@stdizep</string>
		<string>@str</string>
		<string>@strdate</string>
		<string>@stripcommas</string>
		<string>@stripparens</string>
		<string>@stripquotes</string>
		<string>@strlen</string>
		<string>@strnow</string>
		<string>@subextract</string>
		<string>@sum</string>
		<string>@sumsby</string>
		<string>@sumsq</string>
		<string>@sumsqsby</string>
		<string>@svd</string>
		<string>@svdfull</string>
		<string>@sweep</string>
		<string>@tablenames</string>
		<string>@tan</string>
		<string>@tdist</string>
		<string>@temppath</string>
		<string>@time</string>
		<string>@toc</string>
		<string>@trace</string>
		<string>@transpose</string>
		<string>@trend</string>
		<string>@trendc</string>
		<string>@trendcoef</string>
		<string>@trendcof</string>
		<string>@trigamma</string>
		<string>@trim</string>
		<string>@trmean</string>
		<string>@tz</string>
		<string>@tzlist</string>
		<string>@tzspec</string>
		<string>@uidialog</string>
		<string>@uiedit</string>
		<string>@uifiledlg</string>
		<string>@uilist</string>
		<string>@uimlist</string>
		<string>@uiprompt</string>
		<string>@uiradio</string>
		<string>@uniquevals</string>
		<string>@unitvector</string>
		<string>@unmap</string>
		<string>@unmaptxt</string>
		<string>@unvec</string>
		<string>@unvech</string>
		<string>@upper</string>
		<string>@utc</string>
		<string>@val</string>
		<string>@var</string>
		<string>@varp</string>
		<string>@varpsby</string>
		<string>@vars</string>
		<string>@varsby</string>
		<string>@varssby</string>
		<string>@vcat</string>
		<string>@vec</string>
		<string>@vech</string>
		<string>@vernum</string>
		<string>@verstr</string>
		<string>@wcount</string>
		<string>@wcross</string>
		<string>@wdelim</string>
		<string>@wdir</string>
		<string>@wdrop</string>
		<string>@weekday</string>
		<string>@wfind</string>
		<string>@wfindnc</string>
		<string>@wfname</string>
		<string>@wfpath</string>
		<string>@winterleave</string>
		<string>@wintersect</string>
		<string>@wjoin</string>
		<string>@wkeep</string>
		<string>@wleft</string>
		<string>@wlookup</string>
		<string>@wmid</string>
		<string>@wnotin</string>
		<string>@word</string>
		<string>@wordq</string>
		<string>@wquery</string>
		<string>@wread</string>
		<string>@wreplace</string>
		<string>@wright</string>
		<string>@wsort</string>
		<string>@wsplit</string>
		<string>@wunion</string>
		<string>@wunique</string>
		<string>@xgetnum</string>
		<string>@xgetstr</string>
		<string>@xputnames</string>
		<string>@xvernum</string>
		<string>@xverstr</string>
		<string>@year</string>
	</array>
	
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>3sls</string>
		<string>abs</string>
		<string>abtest</string>
		<string>add</string>
		<string>addarrow</string>
		<string>addassign</string>
		<string>addellipse</string>
		<string>addin</string>
		<string>addinit</string>
		<string>addover</string>
		<string>addrect</string>
		<string>addtext</string>
		<string>adduo</string>
		<string>adjust</string>
		<string>align</string>
		<string>alpha</string>
		<string>and</string>
		<string>anticov</string>
		<string>append</string>
		<string>arch</string>
		<string>archtest</string>
		<string>ardl</string>
		<string>area</string>
		<string>arlm</string>
		<string>arma</string>
		<string>arroots</string>
		<string>attr</string>
		<string>auto</string>
		<string>autoarma</string>
		<string>autospec</string>
		<string>axis</string>
		<string>band</string>
		<string>bar</string>
		<string>bdstest</string>
		<string>binary</string>
		<string>block</string>
		<string>boundscheck</string>
		<string>boundstest</string>
		<string>boxplot</string>
		<string>boxplotby</string>
		<string>bpf</string>
		<string>bplabel</string>
		<string>breakls</string>
		<string>breakspec</string>
		<string>breaktest</string>
		<string>bubble</string>
		<string>bubbletrip</string>
		<string>buroot</string>
		<string>bvar</string>
		<string>call</string>
		<string>cause</string>
		<string>ccopy</string>
		<string>cd</string>
		<string>cdfplot</string>
		<string>cdtest</string>
		<string>cellipse</string>
		<string>censored</string>
		<string>cfetch</string>
		<string>chdir</string>
		<string>checkbounds</string>
		<string>checkderivs</string>
		<string>chow</string>
		<string>cinterval</string>
		<string>clabel</string>
		<string>classify</string>
		<string>clear</string>
		<string>clearerrs</string>
		<string>clearhist</string>
		<string>clearremarks</string>
		<string>cleartext</string>
		<string>close</string>
		<string>coef</string>
		<string>coefcov</string>
		<string>coefevol</string>
		<string>coefmatrix</string>
		<string>coefscale</string>
		<string>coint</string>
		<string>cointgraph</string>
		<string>cointreg</string>
		<string>cointrep</string>
		<string>colplace</string>
		<string>commandcap</string>
		<string>comment</string>
		<string>compare</string>
		<string>control</string>
		<string>copy</string>
		<string>copyrange</string>
		<string>copytable</string>
		<string>cor</string>
		<string>correl</string>
		<string>correlsq</string>
		<string>count</string>
		<string>cov</string>
		<string>create</string>
		<string>cross</string>
		<string>cvardecomp</string>
		<string>cverror</string>
		<string>d</string>
		<string>data</string>
		<string>datelabel</string>
		<string>dates</string>
		<string>db</string>
		<string>dbcopy</string>
		<string>dbcreate</string>
		<string>dbdelete</string>
		<string>dbopen</string>
		<string>dbpack</string>
		<string>dbrebuild</string>
		<string>dbrename</string>
		<string>ddloadtmpl</string>
		<string>ddrowopts</string>
		<string>ddsavetmpl</string>
		<string>ddtabopts</string>
		<string>decomp</string>
		<string>define</string>
		<string>delete</string>
		<string>deletecells</string>
		<string>deletecol</string>
		<string>deleteobs</string>
		<string>deleterow</string>
		<string>depfreq</string>
		<string>derivs</string>
		<string>describe</string>
		<string>digraph</string>
		<string>display</string>
		<string>displayname</string>
		<string>distdata</string>
		<string>distplot</string>
		<string>dlog</string>
		<string>do</string>
		<string>dot</string>
		<string>draw</string>
		<string>drawcoefs</string>
		<string>drawdefault</string>
		<string>drawrescov</string>
		<string>driconvert</string>
		<string>drop</string>
		<string>droplink</string>
		<string>dtable</string>
		<string>dups</string>
		<string>ec</string>
		<string>edftest</string>
		<string>effects</string>
		<string>eigen</string>
		<string>else</string>
		<string>endif</string>
		<string>endog</string>
		<string>endogtest</string>
		<string>endsub</string>
		<string>enet</string>
		<string>eqs</string>
		<string>equation</string>
		<string>errbar</string>
		<string>estcov</string>
		<string>ets</string>
		<string>exclude</string>
		<string>exec</string>
		<string>exit</string>
		<string>exitloop</string>
		<string>expand</string>
		<string>extract</string>
		<string>facbreak</string>
		<string>factest</string>
		<string>factnames</string>
		<string>factor</string>
		<string>fetch</string>
		<string>fill</string>
		<string>fiml</string>
		<string>fit</string>
		<string>fitstats</string>
		<string>fitted</string>
		<string>fixedtest</string>
		<string>flatten</string>
		<string>for</string>
		<string>forcavg</string>
		<string>forceval</string>
		<string>forecast</string>
		<string>freeze</string>
		<string>freq</string>
		<string>frml</string>
		<string>funbias</string>
		<string>funbw</string>
		<string>funci</string>
		<string>funcoef</string>
		<string>funcor</string>
		<string>funcov</string>
		<string>funresults</string>
		<string>funtest</string>
		<string>garch</string>
		<string>genr</string>
		<string>geomap</string>
		<string>getblobalc</string>
		<string>getglobalc</string>
		<string>glm</string>
		<string>gls</string>
		<string>gmm</string>
		<string>grads</string>
		<string>graph</string>
		<string>graphmode</string>
		<string>group</string>
		<string>hconvert</string>
		<string>hdecomp</string>
		<string>heckit</string>
		<string>help</string>
		<string>hettest</string>
		<string>hfetch</string>
		<string>hide</string>
		<string>hilo</string>
		<string>hist</string>
		<string>hlabel</string>
		<string>horizindent</string>
		<string>hpf</string>
		<string>icgraph</string>
		<string>ictable</string>
		<string>if</string>
		<string>import</string>
		<string>importattr</string>
		<string>importmat</string>
		<string>importtbl</string>
		<string>impulse</string>
		<string>include</string>
		<string>infbetas</string>
		<string>infstats</string>
		<string>innov</string>
		<string>insert</string>
		<string>insertcells</string>
		<string>insertcol</string>
		<string>insertobs</string>
		<string>insertrow</string>
		<string>instsum</string>
		<string>ipf</string>
		<string>ipolate</string>
		<string>jbera</string>
		<string>kdensity</string>
		<string>kerfit</string>
		<string>label</string>
		<string>laglen</string>
		<string>leftmargin</string>
		<string>legend</string>
		<string>liml</string>
		<string>line</string>
		<string>linefit</string>
		<string>link</string>
		<string>linkto</string>
		<string>list</string>
		<string>load</string>
		<string>loadings</string>
		<string>logclear</string>
		<string>logclose</string>
		<string>logit</string>
		<string>logl</string>
		<string>logmode</string>
		<string>logmsg</string>
		<string>logsave</string>
		<string>lrcov</string>
		<string>lrvar</string>
		<string>ls</string>
		<string>lvageplot</string>
		<string>makeattrser</string>
		<string>makecoint</string>
		<string>makederivs</string>
		<string>makeendog</string>
		<string>makefilter</string>
		<string>makefunresults</string>
		<string>makegarch</string>
		<string>makegrads</string>
		<string>makegraph</string>
		<string>makegroup</string>
		<string>makelimits</string>
		<string>makeloglike</string>
		<string>makemap</string>
		<string>makemodel</string>
		<string>makepanpcomp</string>
		<string>makepcomp</string>
		<string>makeregs</string>
		<string>makeresids</string>
		<string>makergmprobs</string>
		<string>makescores</string>
		<string>makesignals</string>
		<string>makestates</string>
		<string>makestats</string>
		<string>makestrwgts</string>
		<string>makesystem</string>
		<string>maketransprobs</string>
		<string>makewhiten</string>
		<string>map</string>
		<string>mask</string>
		<string>matplace</string>
		<string>matrix</string>
		<string>maxcor</string>
		<string>means</string>
		<string>members</string>
		<string>merge</string>
		<string>metafile</string>
		<string>mfvar</string>
		<string>midas</string>
		<string>mixed</string>
		<string>ml</string>
		<string>model</string>
		<string>move</string>
		<string>movereg</string>
		<string>msa</string>
		<string>msg</string>
		<string>mtos</string>
		<string>multibreak</string>
		<string>name</string>
		<string>next</string>
		<string>nnfit</string>
		<string>nrnd</string>
		<string>observed</string>
		<string>olepush</string>
		<string>open</string>
		<string>optimize</string>
		<string>options</string>
		<string>optsave</string>
		<string>optset</string>
		<string>or</string>
		<string>ordered</string>
		<string>orthogtest</string>
		<string>output</string>
		<string>override</string>
		<string>pace</string>
		<string>pageappend</string>
		<string>pagecontract</string>
		<string>pagecopy</string>
		<string>pagecreate</string>
		<string>pagedelete</string>
		<string>pageload</string>
		<string>pagerefresh</string>
		<string>pagerename</string>
		<string>pagesave</string>
		<string>pageselect</string>
		<string>pagesort</string>
		<string>pagestack</string>
		<string>pagestruct</string>
		<string>pageunlink</string>
		<string>pageunstack</string>
		<string>pancomp</string>
		<string>pancov</string>
		<string>panpcomp</string>
		<string>param</string>
		<string>partcor</string>
		<string>pcomp</string>
		<string>pf</string>
		<string>pie</string>
		<string>plot</string>
		<string>poff</string>
		<string>pon</string>
		<string>pool</string>
		<string>predict</string>
		<string>preview</string>
		<string>print</string>
		<string>printview</string>
		<string>probit</string>
		<string>program</string>
		<string>qqplot</string>
		<string>qreg</string>
		<string>qrprocess</string>
		<string>qrslope</string>
		<string>qrsymm</string>
		<string>qstats</string>
		<string>range</string>
		<string>ranhaus</string>
		<string>rcomptest</string>
		<string>read</string>
		<string>reduced</string>
		<string>References</string>
		<string>reinclude</string>
		<string>remove</string>
		<string>rename</string>
		<string>replace</string>
		<string>replacelink</string>
		<string>replacevar</string>
		<string>representations</string>
		<string>resample</string>
		<string>reset</string>
		<string>residcor</string>
		<string>residcov</string>
		<string>resids</string>
		<string>results</string>
		<string>return</string>
		<string>revert</string>
		<string>rgmprobs</string>
		<string>rls</string>
		<string>rnd</string>
		<string>rndint</string>
		<string>rndseed</string>
		<string>robustls</string>
		<string>rotate</string>
		<string>rotateclear</string>
		<string>rotateout</string>
		<string>rowplace</string>
		<string>rowvector</string>
		<string>run</string>
		<string>sample</string>
		<string>save</string>
		<string>saveprgini</string>
		<string>scalar</string>
		<string>scale</string>
		<string>scat</string>
		<string>scatmat</string>
		<string>scatpair</string>
		<string>scenario</string>
		<string>scenlist</string>
		<string>scores</string>
		<string>seas</string>
		<string>seasplot</string>
		<string>seasuroot</string>
		<string>series</string>
		<string>set</string>
		<string>setattr</string>
		<string>setbounds</string>
		<string>setbpelem</string>
		<string>setcell</string>
		<string>setcollabels</string>
		<string>setcolwidth</string>
		<string>setconvert</string>
		<string>setelem</string>
		<string>seterr</string>
		<string>seterrcount</string>
		<string>setfillcolor</string>
		<string>setfont</string>
		<string>setformat</string>
		<string>setglobalc</string>
		<string>setheight</string>
		<string>setindent</string>
		<string>setjust</string>
		<string>setline</string>
		<string>setlines</string>
		<string>setmaxerrs</string>
		<string>setmerge</string>
		<string>setobslabel</string>
		<string>setprefix</string>
		<string>setrowlabels</string>
		<string>setsuffix</string>
		<string>settextcolor</string>
		<string>settrace</string>
		<string>setupdate</string>
		<string>setwidth</string>
		<string>sheet</string>
		<string>shell</string>
		<string>show</string>
		<string>signalgraphs</string>
		<string>sleep</string>
		<string>smc</string>
		<string>smooth</string>
		<string>smpl</string>
		<string>solve</string>
		<string>solveopt</string>
		<string>sort</string>
		<string>spawn</string>
		<string>spec</string>
		<string>spike</string>
		<string>spool</string>
		<string>sspace</string>
		<string>statby</string>
		<string>statefinal</string>
		<string>stategraphs</string>
		<string>stateinit</string>
		<string>stats</string>
		<string>statusline</string>
		<string>step</string>
		<string>stepls</string>
		<string>stl</string>
		<string>stochastic</string>
		<string>stom</string>
		<string>stomna</string>
		<string>stop</string>
		<string>store</string>
		<string>strconstant</string>
		<string>string</string>
		<string>strlinear</string>
		<string>strnonlin</string>
		<string>structure</string>
		<string>strwgts</string>
		<string>subroutine</string>
		<string>sur</string>
		<string>svar</string>
		<string>svector</string>
		<string>svector.</string>
		<string>switchreg</string>
		<string>switchvar</string>
		<string>sym</string>
		<string>system</string>
		<string>table</string>
		<string>tablemode</string>
		<string>tabplace</string>
		<string>template</string>
		<string>testadd</string>
		<string>testbtw</string>
		<string>testby</string>
		<string>testdrop</string>
		<string>testexog</string>
		<string>testfit</string>
		<string>testlags</string>
		<string>teststat</string>
		<string>text</string>
		<string>textdefault</string>
		<string>then</string>
		<string>threshold</string>
		<string>tic</string>
		<string>title</string>
		<string>to</string>
		<string>toc</string>
		<string>topmargin</string>
		<string>trace</string>
		<string>track</string>
		<string>tramoseats</string>
		<string>transprobs</string>
		<string>tsls</string>
		<string>ttom</string>
		<string>ubreak</string>
		<string>uls</string>
		<string>unlink</string>
		<string>unmask</string>
		<string>update</string>
		<string>updatecoefs</string>
		<string>uroot</string>
		<string>usage</string>
		<string>userobj</string>
		<string>valmap</string>
		<string>var</string>
		<string>varest</string>
		<string>varinf</string>
		<string>vars</string>
		<string>vector</string>
		<string>vertindent</string>
		<string>vertspacing</string>
		<string>vratio</string>
		<string>wald</string>
		<string>weakinst</string>
		<string>wend</string>
		<string>wfclose</string>
		<string>wfcompare</string>
		<string>wfcreate</string>
		<string>wfdetails</string>
		<string>wfdir</string>
		<string>wfopen</string>
		<string>wforder</string>
		<string>wfrefresh</string>
		<string>wfsave</string>
		<string>wfselect</string>
		<string>wfsnapshot</string>
		<string>wfstats</string>
		<string>wfunlink</string>
		<string>wfuse</string>
		<string>while</string>
		<string>white</string>
		<string>width</string>
		<string>wls</string>
		<string>workfile</string>
		<string>write</string>
		<string>wtsls</string>
		<string>x11</string>
		<string>x12</string>
		<string>x13</string>
		<string>xclose</string>
		<string>xget</string>
		<string>xlog</string>
		<string>xoff</string>
		<string>xon</string>
		<string>xopen</string>
		<string>xpackage</string>
		<string>xput</string>
		<string>xrun</string>
		<string>xyarea</string>
		<string>xybar</string>
		<string>xyline</string>
		<string>xypair</string>
	</array>
</dict>
</plist>