<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>!</string>
		<string>#</string>
		<string>#&gt;</string>
		<string>#S</string>
		<string>#TIB</string>
		<string>'</string>
		<string>(LOCAL)</string>
		<string>*</string>
		<string>*/</string>
		<string>*/MOD</string>
		<string>+</string>
		<string>+!</string>
		<string>+LOOP</string>
		<string>,</string>
		<string>-</string>
		<string>-TRAILING</string>
		<string>.</string>
		<string>.R</string>
		<string>.S</string>
		<string>/</string>
		<string>/MOD</string>
		<string>/STRING</string>
		<string>0&lt;</string>
		<string>0&lt;&gt;</string>
		<string>0=</string>
		<string>0&gt;</string>
		<string>1+</string>
		<string>1-</string>
		<string>2!</string>
		<string>2*</string>
		<string>2/</string>
		<string>2&gt;R</string>
		<string>2@</string>
		<string>2CONSTANT</string>
		<string>2DROP</string>
		<string>2DUP</string>
		<string>2LITERAL</string>
		<string>2OVER</string>
		<string>2R&gt;</string>
		<string>2R@</string>
		<string>2ROT</string>
		<string>2SWAP</string>
		<string>2VARIABLE</string>
		<string>:</string>
		<string>:NONAME</string>
		<string>;</string>
		<string>;CODE</string>
		<string>&lt;</string>
		<string>&lt;#</string>
		<string>&lt;&gt;</string>
		<string>=</string>
		<string>&gt;</string>
		<string>&gt;BODY</string>
		<string>&gt;FLOAT</string>
		<string>&gt;IN</string>
		<string>&gt;NUMBER</string>
		<string>&gt;R</string>
		<string>?</string>
		<string>?DO</string>
		<string>?DUP</string>
		<string>@</string>
		<string>ABORT</string>
		<string>ABS</string>
		<string>ACCEPT</string>
		<string>AGAIN</string>
		<string>AHEAD</string>
		<string>ALIGN</string>
		<string>ALIGNED</string>
		<string>ALLOCATE</string>
		<string>ALLOT</string>
		<string>ALSO</string>
		<string>AND</string>
		<string>ASSEMBLER</string>
		<string>AT-XY</string>
		<string>BASE</string>
		<string>BEGIN</string>
		<string>BIN</string>
		<string>BL</string>
		<string>BLANK</string>
		<string>BLK</string>
		<string>BLOCK</string>
		<string>BUFFER</string>
		<string>BYE</string>
		<string>C</string>
		<string>CASE</string>
		<string>CATCH</string>
		<string>CELL+</string>
		<string>CELLS</string>
		<string>CHAR</string>
		<string>CHAR+</string>
		<string>CHARS</string>
		<string>CLOSE-FILE</string>
		<string>CMOVE</string>
		<string>CMOVE&gt;</string>
		<string>CODE</string>
		<string>COMPARE</string>
		<string>COMPILE,</string>
		<string>CONSTANT</string>
		<string>CONVERT</string>
		<string>COUNT</string>
		<string>CR</string>
		<string>CREATE</string>
		<string>CREATE-FILE</string>
		<string>CS-PICK</string>
		<string>CS-ROLL</string>
		<string>D+</string>
		<string>D-</string>
		<string>D.</string>
		<string>D.R</string>
		<string>D0&lt;</string>
		<string>D0=</string>
		<string>D2*</string>
		<string>D2/</string>
		<string>D&lt;</string>
		<string>D=</string>
		<string>D&gt;F</string>
		<string>D&gt;S</string>
		<string>DABS</string>
		<string>DECIMAL</string>
		<string>DEFINITIONS</string>
		<string>DELETE-FILE</string>
		<string>DEPTH</string>
		<string>DF!</string>
		<string>DF@</string>
		<string>DFALIGN</string>
		<string>DFALIGNED</string>
		<string>DFLOAT+</string>
		<string>DFLOATS</string>
		<string>DMAX</string>
		<string>DMIN</string>
		<string>DNEGATE</string>
		<string>DO</string>
		<string>DOES&gt;</string>
		<string>DROP</string>
		<string>DU&lt;</string>
		<string>DUMP</string>
		<string>DUP</string>
		<string>EDITOR</string>
		<string>EKEY</string>
		<string>EKEY&gt;CHAR</string>
		<string>EKEY?</string>
		<string>ELSE</string>
		<string>EMIT</string>
		<string>EMIT?</string>
		<string>EMPTY-BUFFERS</string>
		<string>ENDCASE</string>
		<string>ENDOF</string>
		<string>ENVIRONMENT?</string>
		<string>ERASE</string>
		<string>EVALUATE</string>
		<string>EXECUTE</string>
		<string>EXIT</string>
		<string>EXPECT</string>
		<string>F!</string>
		<string>F*</string>
		<string>F**</string>
		<string>F+</string>
		<string>F-</string>
		<string>F.</string>
		<string>F/</string>
		<string>F0&lt;</string>
		<string>F0=</string>
		<string>F&lt;</string>
		<string>F&gt;D</string>
		<string>F@</string>
		<string>FABS</string>
		<string>FACOS</string>
		<string>FACOSH</string>
		<string>FALIGN</string>
		<string>FALIGNED</string>
		<string>FALOG</string>
		<string>FALSE</string>
		<string>FASIN</string>
		<string>FASINH</string>
		<string>FATAN</string>
		<string>FATANH</string>
		<string>FCONSTANT</string>
		<string>FCOS</string>
		<string>FCOSH</string>
		<string>FDEPTH</string>
		<string>FDROP</string>
		<string>FDUP</string>
		<string>FE.</string>
		<string>FEXP</string>
		<string>FEXPM1</string>
		<string>FILE-POSITION</string>
		<string>FILE-SIZE</string>
		<string>FILE-STATUS</string>
		<string>FILL</string>
		<string>FIND</string>
		<string>FLITERAL</string>
		<string>FLN</string>
		<string>FLNP1</string>
		<string>FLOAT+</string>
		<string>FLOATS</string>
		<string>FLOG</string>
		<string>FLOOR</string>
		<string>FLUSH</string>
		<string>FLUSH-FILE</string>
		<string>FM/MOD</string>
		<string>FMAX</string>
		<string>FMIN</string>
		<string>FNEGATE</string>
		<string>FORGET</string>
		<string>FORTH</string>
		<string>FORTH-WORDLIST</string>
		<string>FOVER</string>
		<string>FREE</string>
		<string>FROT</string>
		<string>FROUND</string>
		<string>FS.</string>
		<string>FSIN</string>
		<string>FSINCOS</string>
		<string>FSINH</string>
		<string>FSQRT</string>
		<string>FSWAP</string>
		<string>FTAN</string>
		<string>FTANH</string>
		<string>FVARIABLE</string>
		<string>F~</string>
		<string>GET-CURRENT</string>
		<string>GET-ORDER</string>
		<string>HERE</string>
		<string>HEX</string>
		<string>HOLD</string>
		<string>I</string>
		<string>IF</string>
		<string>IMMEDIATE</string>
		<string>INCLUDE-FILE</string>
		<string>INCLUDED</string>
		<string>INVERT</string>
		<string>J</string>
		<string>KEY</string>
		<string>KEY?</string>
		<string>LEAVE</string>
		<string>LIST</string>
		<string>LITERAL</string>
		<string>LOAD</string>
		<string>LOCALS|</string>
		<string>LOOP</string>
		<string>LSHIFT</string>
		<string>M*</string>
		<string>M*/</string>
		<string>M+</string>
		<string>MARKER</string>
		<string>MAX</string>
		<string>MIN</string>
		<string>MOD</string>
		<string>MOVE</string>
		<string>MS</string>
		<string>NEGATE</string>
		<string>NIP</string>
		<string>OF</string>
		<string>ONLY</string>
		<string>OPEN-FILE</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>OVER</string>
		<string>PAD</string>
		<string>PAGE</string>
		<string>PARSE</string>
		<string>PICK</string>
		<string>POSTPONE</string>
		<string>PRECISION</string>
		<string>PREVIOUS</string>
		<string>QUERY</string>
		<string>QUIT</string>
		<string>R/O</string>
		<string>R/W</string>
		<string>R&gt;</string>
		<string>R@</string>
		<string>READ-FILE</string>
		<string>READ-LINE</string>
		<string>RECURSE</string>
		<string>REFILL</string>
		<string>RENAME-FILE</string>
		<string>REPEAT</string>
		<string>REPOSITION-FILE</string>
		<string>REPRESENT</string>
		<string>RESIZE</string>
		<string>RESIZE-FILE</string>
		<string>RESTORE-INPUT</string>
		<string>ROLL</string>
		<string>ROT</string>
		<string>RSHIFT</string>
		<string>S</string>
		<string>S&gt;D</string>
		<string>SAVE-BUFFERS</string>
		<string>SAVE-INPUT</string>
		<string>SCR</string>
		<string>SEARCH</string>
		<string>SEARCH-WORDLIST</string>
		<string>SEE</string>
		<string>SET-CURRENT</string>
		<string>SET-ORDER</string>
		<string>SET-PRECISION</string>
		<string>SF!</string>
		<string>SF@</string>
		<string>SFALIGN</string>
		<string>SFALIGNED</string>
		<string>SFLOAT+</string>
		<string>SFLOATS</string>
		<string>SIGN</string>
		<string>SLITERAL</string>
		<string>SM/REM</string>
		<string>SOURCE</string>
		<string>SOURCE-ID</string>
		<string>SPACE</string>
		<string>SPACES</string>
		<string>SPAN</string>
		<string>STATE</string>
		<string>SWAP</string>
		<string>THEN</string>
		<string>THROW</string>
		<string>THRU</string>
		<string>TIB</string>
		<string>TIME&amp;DATE</string>
		<string>TO</string>
		<string>TRUE</string>
		<string>TUCK</string>
		<string>TYPE</string>
		<string>U.</string>
		<string>U.R</string>
		<string>U&lt;</string>
		<string>U&gt;</string>
		<string>UM</string>
		<string>UM/MOD</string>
		<string>UNLOOP</string>
		<string>UNTIL</string>
		<string>UNUSED</string>
		<string>UPDATE</string>
		<string>VALUE</string>
		<string>VARIABLE</string>
		<string>W/O</string>
		<string>WHILE</string>
		<string>WITHIN</string>
		<string>WORD</string>
		<string>WORDLIST</string>
		<string>WORDS</string>
		<string>WRITE-FILE</string>
		<string>WRITE-LINE</string>
		<string>XOR</string>
		<string>[</string>
		<string>[']</string>
		<string>[CHAR]</string>
		<string>[COMPILE]</string>
		<string>[ELSE]</string>
		<string>[IF]</string>
		<string>[THEN]</string>
		<string>]</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>Frth</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Forth</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.f</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.fs</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.fth</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>)</string>
		<key>Close Parameter Lists</key>
		<string>}</string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string></string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz~`!@#$%^&amp;*-+=[]/?;:',.&lt;&gt;(){\}"</string>
		<key>Open Block Comments</key>
		<string>( </string>
		<key>Open Line Comments</key>
		<string>\ </string>
		<key>Open Parameter Lists</key>
		<string>{ </string>
		<key>Open Statement Blocks</key>
		<string></string>
		<key>Open Strings 1</key>
		<string>" </string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string>: </string>
		<key>Prefix for Procedures</key>
		<string>: </string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
