<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abort</string>
		<string>eps</string>
		<string>acronym</string>
		<string>eq</string>
		<string>acronyms</string>
		<string>equation</string>
		<string>alias</string>
		<string>equations</string>
		<string>all</string>
		<string>file</string>
		<string>and</string>
		<string>files</string>
		<string>assign</string>
		<string>for</string>
		<string>binary</string>
		<string>free</string>
		<string>card</string>
		<string>ge</string>
		<string>diag</string>
		<string>gt</string>
		<string>display</string>
		<string>if</string>
		<string>else</string>
		<string>inf</string>
		<string>integer</string>
		<string>not</string>
		<string>le</string>
		<string>option</string>
		<string>loop</string>
		<string>options</string>
		<string>lt</string>
		<string>or</string>
		<string>maximizing</string>
		<string>ord</string>
		<string>minimizing</string>
		<string>parameter</string>
		<string>model</string>
		<string>parameters</string>
		<string>models</string>
		<string>positive</string>
		<string>na</string>
		<string>prod</string>
		<string>ne</string>
		<string>putpage</string>
		<string>put</string>
		<string>negative</string>
		<string>puttl</string>
		<string>no</string>
		<string>repeat</string>
		<string>sos2</string>
		<string>sos1</string>
		<string>yes</string>
		<string>..</string>
		<string>=l=</string>
		<string>=g=</string>
		<string>=e=</string>
		<string>=n=</string>
		<string>=x=</string>
		<string>=c=</string>
		<string>--</string>
		<string>++</string>
		<string>**</string>
		<string>sameas</string>
		<string>sum</string>
		<string>scalar</string>
		<string>system</string>
		<string>scalars</string>
		<string>table</string>
		<string>semicont</string>
		<string>then</string>
		<string>semiint</string>
		<string>until</string>
		<string>set</string>
		<string>using</string>
		<string>sets</string>
		<string>variable</string>
		<string>smax</string>
		<string>variables</string>
		<string>smin</string>
		<string>while</string>
		<string>solve</string>
		<string>xor</string>
		<string>$Abort</string>
		<string>$Batinclude</string>
		<string>$Call</string>
		<string>$Clear</string>
		<string>$Clearerror</string>
		<string>$Comment</string>
		<string>$Dollar</string>
		<string>$Double</string>
		<string>$Echo Echon</string>
		<string>$Eject</string>
		<string>$Eolcom</string>
		<string>$Error</string>
		<string>$Escape</string>
		<string>$Exit</string>
		<string>$Expose</string>
		<string>$Gdxin</string>
		<string>$Gdxout</string>
		<string>$Goto</string>
		<string>$Hidden</string>
		<string>$Hide</string>
		<string>$If</string>
		<string>$If not</string>
		<string>$Ifi</string>
		<string>$Ifi not</string>
		<string>$Ifthen</string>
		<string>$Iftheni</string>
		<string>$Endif</string>
		<string>$Else</string>
		<string>$Elseif</string>
		<string>$Elseifi</string>
		<string>$Include</string>
		<string>$Inlinecom</string>
		<string>$Kill</string>
		<string>$Label</string>
		<string>$Libinclude</string>
		<string>$Lines</string>
		<string>$Load</string>
		<string>$Log</string>
		<string>$Macro</string>
		<string>$Maxcol</string>
		<string>$Mincol</string>
		<string>$Ondelim</string>
		<string>$Offdelim</string>
		<string>$Ondigit</string>
		<string>$Offdigit</string>
		<string>$Ondollar</string>
		<string>$Offdollar</string>
		<string>$Onecho</string>
		<string>$Offecho</string>
		<string>$Onempty</string>
		<string>$Offempty</string>
		<string>$Onend</string>
		<string>$Offend</string>
		<string>$Oneolcom</string>
		<string>$Offeolcom</string>
		<string>$Oneps</string>
		<string>$Offeps</string>
		<string>$Onglobal</string>
		<string>$Offglobal</string>
		<string>$Oninclude</string>
		<string>$Offinclude</string>
		<string>$Oninline</string>
		<string>$Offinline</string>
		<string>$Onlisting</string>
		<string>$Offlisting</string>
		<string>$Onmacro</string>
		<string>$Offmacro</string>
		<string>$Onmargin</string>
		<string>$Offmargin</string>
		<string>$Onmulti</string>
		<string>$Offmulti</string>
		<string>$Onnestcom</string>
		<string>$Offnestcom</string>
		<string>$Onput</string>
		<string>$Onputs</string>
		<string>$Onputv</string>
		<string>$Offput</string>
		<string>$Onsymlist</string>
		<string>$Offsymlist</string>
		<string>$Onsymxref</string>
		<string>$Offsymxref</string>
		<string>$Ontext</string>
		<string>$Offtext</string>
		<string>$Onuellist</string>
		<string>$Offuellist</string>
		<string>$Onuelxref</string>
		<string>$Offuelxref</string>
		<string>$Onundf</string>
		<string>$Offundf</string>
		<string>$Onupper</string>
		<string>$Offupper</string>
		<string>$Onwarning</string>
		<string>$Offwarning</string>
		<string>$Phantom</string>
		<string>$Prefixpath</string>
		<string>$Protect</string>
		<string>$Purge</string>
		<string>$Remark</string>
		<string>$Set</string>
		<string>$Setargs</string>
		<string>$Setcomps</string>
		<string>$Setddlist</string>
		<string>$Setglobal</string>
		<string>$Setenv</string>
		<string>$Setlocal</string>
		<string>$Setnames</string>
		<string>$Shift</string>
		<string>$Show</string>
		<string>$Single</string>
		<string>$Stars</string>
		<string>$Stop</string>
		<string>$Stitle</string>
		<string>$Sysinclude</string>
		<string>$Title</string>
		<string>$Unload</string>
		<string>$Use205</string>
		<string>$Use225</string>
		<string>$Use999</string>
		<string>execute_unload</string>
		</array>
	<key>BBLMLanguageCode</key>
	<string>GAMS</string>
	<key>BBLMLanguageDisplayName</key>
	<string>GAMS (codeless)</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSuffixMap</key> 
	<array>
		<dict> 
			<key>BBLMLanguageSuffix</key>
				<string>*.gms</string>
		</dict> 
		<dict> 
			<key>BBLMLanguageSuffix</key>
				<string>.gms</string>
		</dict> 
	</array>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>(?x:
			(?&gt;^\*		.*			$				) |
			(?&gt;^\$ontext		(?s:.*?)	(?: ^\$offtext | \z )	)
		)</string>
		<key>Function Pattern</key>
		<string></string>
 		<key>Identifier and Keyword Character Class</key>
		<string>\$0-9A-Z_a-z</string>
		<key>Skip Pattern</key>
		<string>(?x:
			(?&gt;
				(?P&gt;comment) | (?P&gt;string)
			)
		)</string>
		<key>String Pattern</key>
		<string>(?x:
			(?&gt;	"	(?s: \\. | [^"] )*?		(?: " | $)	)	|
			(?&gt;	'	(?s: \\. | [^'] )*?		(?: ' | $)	)
		)</string>
	</dict>
</dict>
</plist>
