<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>GAS Assembler</string>
	<key>BBLMLanguageCode</key>
	<string>GAS</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>.abort</string>
		<string>.ABORT</string>
		<string>.align</string>
		<string>.ascii</string>
		<string>.asciz</string>
		<string>.balign</string>
		<string>.bss</string>
		<string>.bundle</string>
		<string>.byte</string>
		<string>.cfi</string>
		<string>.comm</string>
		<string>.cstring</string>
		<string>.data</string>
		<string>.def</string>
		<string>.desc</string>
		<string>.dim</string>
		<string>.double</string>
		<string>.eject</string>
		<string>.else</string>
		<string>.elseif</string>
		<string>.end</string>
		<string>.endef</string>
		<string>.endfunc</string>
		<string>.endif</string>
		<string>.equ</string>
		<string>.equiv</string>
		<string>.eqv</string>
		<string>.err</string>
		<string>.error</string>
		<string>.exitm</string>
		<string>.extern</string>
		<string>.fail</string>
		<string>.file</string>
		<string>.fill</string>
		<string>.float</string>
		<string>.func</string>
		<string>.global</string>
		<string>.globl</string>
		<string>.gnu</string>
		<string>.hidden</string>
		<string>.hword</string>
		<string>.ident</string>
		<string>.if</string>
		<string>.incbin</string>
		<string>.include</string>
		<string>.int</string>
		<string>.internal</string>
		<string>.irp</string>
		<string>.irpc</string>
		<string>.lcomm</string>
		<string>.lflags</string>
		<string>.line</string>
		<string>.ln</string>
		<string>.linkonce</string>
		<string>.list</string>
		<string>.loc</string>
		<string>.local</string>
		<string>.long</string>
		<string>.macro</string>
		<string>.mri</string>
		<string>.noaltmacro</string>
		<string>.nolist</string>
		<string>.octa</string>
		<string>.offset</string>
		<string>.org</string>
		<string>.p2align</string>
		<string>.popsection</string>
		<string>.previous</string>
		<string>.print</string>
		<string>.protected</string>
		<string>.psize</string>
		<string>.purgem</string>
		<string>.pushsection</string>
		<string>.quad</string>
		<string>.rept</string>
		<string>.sbttl</string>
		<string>.scl</string>
		<string>.section</string>
		<string>.set</string>
		<string>.short</string>
		<string>.single</string>
		<string>.size</string>
		<string>.skip</string>
		<string>.sleb128</string>
		<string>.space</string>
		<string>.stabd</string>
		<string>.stabn</string>
		<string>.stabs</string>
		<string>.string</string>
		<string>.struct</string>
		<string>.subsection</string>
		<string>.symver</string>
		<string>.tag</string>
		<string>.text</string>
		<string>.title</string>
		<string>.type</string>
		<string>.uleb128</string>
		<string>.val</string>
		<string>.version</string>
		<string>.vtable</string>
		<string>.vtable_entry</string>
		<string>.vtable_inherit</string>
		<string>.warning</string>
		<string>.weak</string>
		<string>.weakref</string>
		<string>.word</string>
		<string>.zero</string>
		<string></string>
	</array>
	<key>BBLMKeywordList</key>
	<array>
		<string>aaa</string>
		<string>adcb</string>
		<string>adcl</string>
		<string>add</string>
		<string>addb</string>
		<string>addl</string>
		<string>addps</string>
		<string>addw</string>
		<string>addq</string>
		<string>adds</string>
		<string>addss</string>
		<string>addsd</string>
		<string>and</string>
		<string>andb</string>
		<string>andw</string>
		<string>andl</string>
		<string>andq</string>
		<string>bswap</string>
		<string>call</string>
		<string>callq</string>
		<string>cld</string>
		<string>cltd</string>
		<string>cltq</string>
		<string>cmova</string>
		<string>cmovae</string>
		<string>cmovb</string>
		<string>cmovbe</string>
		<string>cmovg</string>
		<string>cmovge</string>
		<string>cmovl</string>
		<string>cmovle</string>
		<string>cmovna</string>
		<string>cmovnae</string>
		<string>cmovnb</string>
		<string>cmovnbe</string>
		<string>cmovne</string>
		<string>cmovng</string>
		<string>cmovnge</string>
		<string>cmovnl</string>
		<string>cmovnle</string>
		<string>cmovns</string>
		<string>cmovnz</string>
		<string>cmovs</string>
		<string>cmovz</string>
		<string>cmp</string>
		<string>cmpb</string>
		<string>cmpeqps</string>
		<string>cmpl</string>
		<string>cmpq</string>
		<string>cmpsl</string>
		<string>cmpxchg</string>
		<string>cpuid</string>
		<string>cqto</string>
		<string>cvtps2dq</string>
		<string>cvtdq2ps</string>
		<string>cvtsd2ss</string>
		<string>cvtsi2s</string>
		<string>cvtsi2ss</string>
		<string>cvtsi2ssq</string>
		<string>cvtsi2sd</string>
		<string>cvtsi2sdq</string>
		<string>cvtss2sd</string>
		<string>cvttsd</string>
		<string>cvttsd2si</string>
		<string>cvttsd2siq</string>
		<string>cvtts</string>
		<string>cvttss</string>
		<string>cvttss2si</string>
		<string>cvttss2siq</string>
		<string>das</string>
		<string>dec</string>
		<string>decb</string>
		<string>decw</string>
		<string>decl</string>
		<string>decq</string>
		<string>divw</string>
		<string>divl</string>
		<string>divq</string>
		<string>divs</string>
		<string>divss</string>
		<string>divsd</string>
		<string>fabs</string>
		<string>fadd</string>
		<string>fbld</string>
		<string>fbstp</string>
		<string>fchs</string>
		<string>fcmovb</string>
		<string>fcomi</string>
		<string>fcoms</string>
		<string>fcos</string>
		<string>fdivp</string>
		<string>fdivr</string>
		<string>fdivrp</string>
		<string>fidivs</string>
		<string>filds</string>
		<string>fimul</string>
		<string>finit</string>
		<string>fists</string>
		<string>fld1</string>
		<string>fldcw</string>
		<string>fldl</string>
		<string>fldl2t</string>
		<string>fldl2e</string>
		<string>fldlenv</string>
		<string>fldlcw</string>
		<string>fldlg2</string>
		<string>fldln2</string>
		<string>fldpi</string>
		<string>flds</string>
		<string>fldz</string>
		<string>fmul</string>
		<string>fmulp</string>
		<string>fprem1</string>
		<string>frame</string>
		<string>frndint</string>
		<string>frstor</string>
		<string>fsave</string>
		<string>fsin</string>
		<string>fsincos</string>
		<string>fsqrt</string>
		<string>fst</string>
		<string>fstcw</string>
		<string>fstl</string>
		<string>fstps</string>
		<string>fsts</string>
		<string>fstsw</string>
		<string>fstenv</string>
		<string>fstpl</string>
		<string>fstsw</string>
		<string>fsubr</string>
		<string>fxch</string>
		<string>fyl2x</string>
		<string>idivl</string>
		<string>idivq</string>
		<string>imul</string>
		<string>imulb</string>
		<string>imull</string>
		<string>imulw</string>
		<string>imulq</string>
		<string>inc</string>
		<string>incb</string>
		<string>incw</string>
		<string>incl</string>
		<string>incq</string>
		<string>int</string>
		<string>ja</string>
		<string>jb</string>
		<string>jc</string>
		<string>jcxz</string>
		<string>je</string>
		<string>jg</string>
		<string>jge</string>
		<string>jl</string>
		<string>jmp</string>
		<string>jne</string>
		<string>jns</string>
		<string>jnz</string>
		<string>jo</string>
		<string>jp</string>
		<string>js</string>
		<string>jz</string>
		<string>lea</string>
		<string>leab</string>
		<string>leave</string>
		<string>leawl</string>
		<string>leaq</string>
		<string>leal</string>
		<string>lodsb</string>
		<string>lodsl</string>
		<string>loop</string>
		<string>maxps</string>
		<string>maxs</string>
		<string>maxss</string>
		<string>maxsd</string>
		<string>mins</string>
		<string>minss</string>
		<string>minssd</string>
		<string>mov</string>
		<string>movabsq</string>
		<string>movapd</string>
		<string>movaps</string>
		<string>movqps</string>
		<string>movb</string>
		<string>movdqa</string>
		<string>movdqu</string>
		<string>movl</string>
		<string>movlpd</string>
		<string>movq</string>
		<string>movupd</string>
		<string>movups</string>
		<string>movsb</string>
		<string>movsbw</string>
		<string>movsbl</string>
		<string>movsbq</string>
		<string>movsd</string>
		<string>movsl</string>
		<string>movslq</string>
		<string>movsw</string>
		<string>movswl</string>
		<string>movswq</string>
		<string>movsx</string>
		<string>movss</string>
		<string>movsd</string>
		<string>movw</string>
		<string>movz</string>
		<string>movzbw</string>
		<string>movzbl</string>
		<string>movzbq</string>
		<string>movzwl</string>
		<string>movzwq</string>
		<string>movzx</string>
		<string>msg</string>
		<string>mull</string>
		<string>mulpd</string>
		<string>muls</string>
		<string>mulss</string>
		<string>mulsd</string>
		<string>mulq</string>
		<string>neg</string>
		<string>negb</string>
		<string>negw</string>
		<string>negl</string>
		<string>negq</string>
		<string>nop</string>
		<string>not</string>
		<string>notb</string>
		<string>notw</string>
		<string>notl</string>
		<string>notq</string>
		<string>or</string>
		<string>orb</string>
		<string>orw</string>
		<string>orl</string>
		<string>orq</string>
		<string>paddd</string>
		<string>pcmpeqw</string>
		<string>pop</string>
		<string>popfl</string>
		<string>popl</string>
		<string>popq</string>
		<string>popw</string>
		<string>push</string>
		<string>pushfl</string>
		<string>pushl</string>
		<string>pushq</string>
		<string>pushw</string>
		<string>rep</string>
		<string>repe</string>
		<string>repne</string>
		<string>ret</string>
		<string>retq</string>
		<string>rspreg</string>
		<string>sahf</string>
		<string>sal</string>
		<string>salb</string>
		<string>salw</string>
		<string>sall</string>
		<string>salq</string>
		<string>sar</string>
		<string>sarb</string>
		<string>sarw</string>
		<string>sarl</string>
		<string>sarq</string>
		<string>sbbb</string>
		<string>sbbl</string>
		<string>shr</string>
		<string>shrb</string>
		<string>shrw</string>
		<string>shrl</string>
		<string>shrq</string>
		<string>sqrtps</string>
		<string>sqrts</string>
		<string>sqrtss</string>
		<string>sqrtsd</string>
		<string>std</string>
		<string>stosb</string>
		<string>sub</string>
		<string>subb</string>
		<string>subl</string>
		<string>subq</string>
		<string>subw</string>
		<string>subs</string>
		<string>subss</string>
		<string>subsd</string>
		<string>syscall</string>
		<string>test</string>
		<string>testb</string>
		<string>testq</string>
		<string>ucomis</string>
		<string>ucomisd</string>
		<string>ucomiss</string>
		<string>xchg</string>
		<string>xor</string>
		<string>xorb</string>
		<string>xorps</string>
		<string>xorw</string>
		<string>xorl</string>
		<string>xorq</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.s</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.asm</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>#.*|(?s:/\*.*?\*/)</string>
		<key>Function Pattern</key>
		<string></string>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_$#@~.?%</string>
		<key>Skip Pattern</key>
		<string></string>
		<key>String Pattern</key>
		<string>&quot;[^&quot;\r\n]*+&quot;|&apos;[^&apos;\r\n]*+&apos;|`(\\.|[^`\\\r\n])*+`</string>
	</dict>
</dict>
</plist>
