<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Description: BBEdit language module for the Gembase DML programming language.
	Author:      Nelson Santos  <http://prismaticrealms.com/>
	Version:     1.0.3
	Date:        13-SEP-2018

	Feel free to do whatever you want with the contents of this file.

	Requires BBEdit 8.0 or higher. To install, copy this file to:
		~/Library/Application Support/BBEdit/Language Modules/
	and relaunch BBEdit.
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Gembase DML</string>
	<key>BBLMLanguageCode</key>
	<string>.DML</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>FORM</string>
		<string>TABLE_FORM</string>
		<string>QUERY_FORM</string>
		<string>REPORT_FORM</string>
		<string>PROCEDURE_FORM</string>
		<string>MENU_FORM</string>
		<string>END_FORM</string>
		<string>BEGIN_BLOCK</string>
		<string>END_BLOCK</string>
		<string>INPUT_BLOCK</string>
		<string>ITEM_BLOCK</string>
		<string>MENU_BLOCK</string>
		<string>OUTPUT_BLOCK</string>
		<string>PAUSE_BLOCK</string>
		<string>SIGNATURE_BLOCK</string>
		<string>YESNO_BLOCK</string>
		<string>$</string>
		<string>ABS</string>
		<string>ACCESS</string>
		<string>ACOS</string>
		<string>ACOSD</string>
		<string>ACOSH</string>
		<string>ACOT</string>
		<string>ACOTD</string>
		<string>ACOTH</string>
		<string>ACSC</string>
		<string>ACSCD</string>
		<string>ACSCH</string>
		<string>ADD</string>
		<string>ADD_FACILITY_SECURITY</string>
		<string>ADD_TABLE_SECURITY</string>
		<string>ALL</string>
		<string>ALWAYS_QUOTE</string>
		<string>AMONG</string>
		<string>AND</string>
		<string>AND_B</string>
		<string>ANY</string>
		<string>APPEND</string>
		<string>ARCHIVE</string>
		<string>AS</string>
		<string>ASCII</string>
		<string>ASEC</string>
		<string>ASECD</string>
		<string>ASECH</string>
		<string>ASIN</string>
		<string>ASIND</string>
		<string>ASINH</string>
		<string>ATAN</string>
		<string>ATAN2</string>
		<string>ATAND</string>
		<string>ATAND2</string>
		<string>ATANDH</string>
		<string>AVERAGE</string>
		<string>BACKGROUND</string>
		<string>BASE64_DECODE</string>
		<string>BASE64_ENCODE</string>
		<string>BASED_ON</string>
		<string>BEGIN_CASE</string>
		<string>BEGIN_DISABLE_TRIGGER</string>
		<string>BEGIN_SIGNAL_TO_STATUS</string>
		<string>BINARY_TO_POLY</string>
		<string>BORDER</string>
		<string>BROADCAST</string>
		<string>BY</string>
		<string>CALL</string>
		<string>CALL_WEB_SERVICE</string>
		<string>CASE</string>
		<string>CAST</string>
		<string>CAT_FILTER</string>
		<string>CD</string>
		<string>CEIL</string>
		<string>CHECK_DOMAIN</string>
		<string>CHR</string>
		<string>CLASS</string>
		<string>CLEAR_ARRAY</string>
		<string>CLEAR_BUFFER</string>
		<string>CLI</string>
		<string>CLOSE_TEXT</string>
		<string>CLOSE</string>
		<string>CLOSE_TABS</string>
		<string>COCALL</string>
		<string>COCREATE</string>
		<string>COMMIT</string>
		<string>COMPILE</string>
		<string>COMPRESS</string>
		<string>COMPRESS_ALL</string>
		<string>COMPUTED_BY</string>
		<string>CONNECT</string>
		<string>CONTAINING</string>
		<string>CONTINUE</string>
		<string>COPY_FILE</string>
		<string>CORELEASE</string>
		<string>COS</string>
		<string>COSD</string>
		<string>COSH</string>
		<string>COT</string>
		<string>COTD</string>
		<string>COTH</string>
		<string>COUNT</string>
		<string>CROSS_REFERENCE</string>
		<string>CSC</string>
		<string>CSCD</string>
		<string>CSCH</string>
		<string>CSV_MERGE</string>
		<string>CSV_SPLIT</string>
		<string>DATA_COMPRESS</string>
		<string>DATA_UNCOMPRESS</string>
		<string>DATABASE</string>
		<string>DATABASE_DML_HANDLE</string>
		<string>DATABASE_DOMAIN_COUNT</string>
		<string>DATABASE_ENGINE_ATTRIBUTES</string>
		<string>DATABASE_ENGINE_NAME</string>
		<string>DATABASE_ENGINE_DATATYPES</string>
		<string>DATABASE_FIELD_ATTRIBUTES</string>
		<string>DATABASE_FLAG</string>
		<string>DATABASE_HELP_LIBRARY</string>
		<string>DATABASE_INDEX_ATTRIBUTES</string>
		<string>DATABASE_LANGUAGE_CODE</string>
		<string>DATABASE_META_BATCH_LEVEL</string>
		<string>DATABASE_PHYSICAL_NAME</string>
		<string>DATABASE_RCI_TR_LEVEL</string>
		<string>DATABASE_RCI_TR_MODE</string>
		<string>DATABASE_RW_TR_LEVEL</string>
		<string>DATABASE_RW_TR_MODE</string>
		<string>DATABASE_RW_TR_SCOPE</string>
		<string>DATABASE_RDB_VERSION</string>
		<string>DATABASE_TABLE_ATTRIBUTES</string>
		<string>DATABASE_TABLESPACES</string>
		<string>DATATYPE</string>
		<string>DATATYPE_CONVERTED_LENGTH</string>
		<string>DATATYPE_CONVERTED_SCALE</string>
		<string>DATATYPE_FLAG</string>
		<string>DATATYPE_IMAGE</string>
		<string>DATATYPE_INPUT_MASK</string>
		<string>DATATYPE_LENGTH</string>
		<string>DATATYPE_NAME</string>
		<string>DATATYPE_NATIVE</string>
		<string>DATATYPE_OUTPUT_MASK</string>
		<string>DATATYPE_SCALE</string>
		<string>DATATYPE_TO_CONVERTED_ROUTINE</string>
		<string>DATATYPE_TO_NATIVE_ROUTINE</string>
		<string>DATATYPE_VALID_VALUES</string>
		<string>DATATYPE_USER_ARGUMENT</string>
		<string>DATE</string>
		<string>DATE_FORMAT</string>
		<string>DATE_SECONDS</string>
		<string>DATE_TIME</string>
		<string>DAYS</string>
		<string>DAY_OF_WEEK</string>
		<string>DAYS_IN_MONTH</string>
		<string>DBMS</string>
		<string>DCL</string>
		<string>DEBUG</string>
		<string>DEFAULT</string>
		<string>DEG</string>
		<string>DELETE</string>
		<string>DELETE_FACILITY_SECURITY</string>
		<string>DELETE_FILE</string>
		<string>DELETE_TABLE_SECURITY</string>
		<string>DIR</string>
		<string>DISCONNECT</string>
		<string>DISPLAY</string>
		<string>DMC_DML</string>
		<string>DMC_ONLY</string>
		<string>DML_DMC</string>
		<string>DML_ONLY</string>
		<string>DOCUMENTATION</string>
		<string>DOMAIN</string>
		<string>DOMAIN_DEFAULT</string>
		<string>DOUBLE_QUOTE</string>
		<string>EDIT</string>
		<string>ELEMENT</string>
		<string>ELSE</string>
		<string>ELSE_IF</string>
		<string>END_CASE</string>
		<string>END_DISABLE_TRIGGER</string>
		<string>END_EXECUTE</string>
		<string>END_GTID</string>
		<string>END_IF</string>
		<string>END_METADATA_BATCH</string>
		<string>END_SIGNAL_TO_STATUS</string>
		<string>END_WHILE</string>
		<string>ENTRY_MENU</string>
		<string>ERASE</string>
		<string>ERROR</string>
		<string>ERROR_TEXT</string>
		<string>EVENT</string>
		<string>EXECUTE</string>
		<string>EXIT</string>
		<string>EXP</string>
		<string>EXP2</string>
		<string>EXP10</string>
		<string>EXPAND</string>
		<string>EXPORT</string>
		<string>EXTERNAL</string>
		<string>FAC</string>
		<string>FACILITY</string>
		<string>FACILITY_CLASS</string>
		<string>FACILITY_DESCRIPTION</string>
		<string>FACILITY_DML</string>
		<string>FACILITY_MENU_FILE</string>
		<string>FACILITY_MENU_FORM</string>
		<string>FACILITY_NAME</string>
		<string>FACILITY_SYSTEM</string>
		<string>FACILITY_TAG</string>
		<string>FETCH</string>
		<string>FIELD</string>
		<string>FIELD_BASED_ON</string>
		<string>FIELD_CLUSTER</string>
		<string>FIELD_DATATYPE</string>
		<string>FIELD_DEFAULT</string>
		<string>FIELD_DESCRIPTION</string>
		<string>FIELD_FLAG</string>
		<string>FIELD_HEADING</string>
		<string>FIELD_HELP</string>
		<string>FIELD_I_LENGTH</string>
		<string>FIELD_I_MASK</string>
		<string>FIELD_INITIAL_VALUE</string>
		<string>FIELD_MISSING</string>
		<string>FIELD_NAME</string>
		<string>FIELD_NATIVE</string>
		<string>FIELD_O_LENGTH</string>
		<string>FIELD_O_MASK</string>
		<string>FIELD_PROMPT</string>
		<string>FIELD_SCALE</string>
		<string>FIELD_SHORT_PROMPT</string>
		<string>FIELD_SIZE</string>
		<string>FIELD_SOURCE</string>
		<string>FIELD_USER_ARGUMENT</string>
		<string>FIELD_VALID_VALUES</string>
		<string>FIELD_VALIDATION</string>
		<string>FIELD_VIEW_BASE</string>
		<string>FIELDS</string>
		<string>FILES</string>
		<string>FIND</string>
		<string>FIND_FILE</string>
		<string>FINISH</string>
		<string>FIX</string>
		<string>FLOATING</string>
		<string>FLOOR</string>
		<string>FLOW_BLOCK</string>
		<string>FLOW_CONNECTOR</string>
		<string>FLOW_NODE</string>
		<string>FOR</string>
		<string>FOREGROUND</string>
		<string>FRAC</string>
		<string>FROM</string>
		<string>GCD</string>
		<string>GENERATE</string>
		<string>GEM_COMMIT</string>
		<string>GEM_EXECUTE_DML</string>
		<string>GEM_GET_PARAMETER</string>
		<string>GEM_GET_TEXT</string>
		<string>GEM_ROLLBACK</string>
		<string>GEM_START_TRANSACTION</string>
		<string>GET_ALL_CLASSES</string>
		<string>GET_ALL_DATATYPES</string>
		<string>GET_ALL_DOMAINS</string>
		<string>GET_ALL_FIELDS</string>
		<string>GET_ALL_FACILITIES</string>
		<string>GET_ALL_INDICES</string>
		<string>GET_ALL_MESSAGES</string>
		<string>GET_ALL_PARAMETERS</string>
		<string>GET_ALL_PROCEDURES</string>
		<string>GET_ALL_SEARCHTAGS</string>
		<string>GET_ALL_TABLES</string>
		<string>GET_ALL_TIME_TRIGGERS</string>
		<string>GET_ALL_TRIGGERS</string>
		<string>GET_CLIENT_ENV</string>
		<string>GET_ENV</string>
		<string>GET_FACILITY_SECURITY</string>
		<string>GET_SCV</string>
		<string>GET_SERVER_ENV</string>
		<string>GOTO</string>
		<string>HELP</string>
		<string>HOSTID</string>
		<string>ICON_NAME</string>
		<string>IN</string>
		<string>INDEX</string>
		<string>INDEX_FIELDS</string>
		<string>INDEX_FILL</string>
		<string>INDEX_GROW</string>
		<string>INDEX_GROWTH_PCT</string>
		<string>INDEX_MAX_EXTENTS</string>
		<string>INDEX_MIN_EXTENTS</string>
		<string>INDEX_ORDER</string>
		<string>INDEX_SIZE</string>
		<string>INDEX_STORAGE</string>
		<string>INDEX_TABLE</string>
		<string>INDEX_TYPE</string>
		<string>INDEX_UNIQUE</string>
		<string>INPUT</string>
		<string>INT</string>
		<string>INTO</string>
		<string>INVOKE</string>
		<string>IF</string>
		<string>INTEGER</string>
		<string>INTERRUPT</string>
		<string>IS_MARKED</string>
		<string>IS_MARKED_ON_STREAM</string>
		<string>IS_NULL</string>
		<string>IS_NULL_ON_STREAM</string>
		<string>IS_TRUE</string>
		<string>KEYBOARD</string>
		<string>LEFT</string>
		<string>LEN</string>
		<string>LICENSE</string>
		<string>LINE</string>
		<string>LOCK</string>
		<string>LOCK_TIMEOUT</string>
		<string>LOAD</string>
		<string>LOG</string>
		<string>LOG2</string>
		<string>LOG10</string>
		<string>LOWERCASE</string>
		<string>LPAD</string>
		<string>LTOTAL</string>
		<string>LTRIM</string>
		<string>MAIL</string>
		<string>MANAGER_ROLE</string>
		<string>MASK</string>
		<string>MASK_CURRENCY_SIGN</string>
		<string>MASK_DIGIT_SEPARATOR</string>
		<string>MASK_RADIX_POINT</string>
		<string>MATCHING</string>
		<string>MAX</string>
		<string>MB_CHR</string>
		<string>MB_LEFT</string>
		<string>MB_LEN</string>
		<string>MB_LPAD</string>
		<string>MB_MID</string>
		<string>MB_POS</string>
		<string>MB_REPLACE</string>
		<string>MB_RIGHT</string>
		<string>MB_RPAD</string>
		<string>MB_SEG</string>
		<string>MB_STRING</string>
		<string>MB_VALUE</string>
		<string>MENU</string>
		<string>MERGE</string>
		<string>MESSAGE</string>
		<string>MID</string>
		<string>MIN</string>
		<string>MISSING</string>
		<string>MOD</string>
		<string>MODIFY</string>
		<string>NEXT_MONTH</string>
		<string>NO_INDEX</string>
		<string>NOBORDER</string>
		<string>NOT</string>
		<string>NOT_B</string>
		<string>NOUPDATE_ON_INPUT</string>
		<string>NOVERIFY</string>
		<string>OFF</string>
		<string>ON</string>
		<string>OPEN</string>
		<string>OPEN_TAB</string>
		<string>OPEN_TEXT</string>
		<string>OR</string>
		<string>OR_B</string>
		<string>OVERFLOW</string>
		<string>PARAMETER</string>
		<string>PARSE_FILENAME</string>
		<string>PERFORM</string>
		<string>PLATFORM</string>
		<string>POLY_TO_BINARY</string>
		<string>POS</string>
		<string>PRECISION</string>
		<string>PRINT</string>
		<string>PROCEDURE</string>
		<string>PROMPT</string>
		<string>PWD</string>
		<string>QUERY</string>
		<string>QUOTE</string>
		<string>RAD</string>
		<string>RANDOM</string>
		<string>RANDOMIZE</string>
		<string>RANGE_MERGE</string>
		<string>RANGE_SPLIT</string>
		<string>READ</string>
		<string>READ_LINE</string>
		<string>READ_ONLY</string>
		<string>READ_ONLY_LOV</string>
		<string>RECEIVE</string>
		<string>RECEIVE_DATA</string>
		<string>RECEIVE_TABLE</string>
		<string>RECORD_ADDRESS</string>
		<string>RELEASE</string>
		<string>RENAME_FILE</string>
		<string>REPLACE</string>
		<string>REPORT</string>
		<string>REPOSITION</string>
		<string>REWIND_TEXT</string>
		<string>RIGHT</string>
		<string>RMD160</string>
		<string>ROLE_MANAGER</string>
		<string>ROLLBACK</string>
		<string>ROUND</string>
		<string>RPAD</string>
		<string>RTRIM</string>
		<string>SAMPLE_STD_DEV</string>
		<string>SCRAMBLE</string>
		<string>SCREEN</string>
		<string>SEARCH</string>
		<string>SEC</string>
		<string>SECD</string>
		<string>SECH</string>
		<string>SECONDS</string>
		<string>SEG</string>
		<string>SEND</string>
		<string>SEND_DATA</string>
		<string>SEND_MESSAGE</string>
		<string>SEND_TABLE</string>
		<string>SET</string>
		<string>SET_CLIENT_ENV</string>
		<string>SET_CLIENT_REPORT_DIR</string>
		<string>SET_ENV</string>
		<string>SET_REPORT_DIR</string>
		<string>SET_SERVER_ENV</string>
		<string>SET_SERVER_REPORT_DIR</string>
		<string>SHADOWS</string>
		<string>SHOW</string>
		<string>SIGN</string>
		<string>SIGNATURE</string>
		<string>SIN</string>
		<string>SIND</string>
		<string>SINH</string>
		<string>SOURCE</string>
		<string>SPLIT</string>
		<string>SQRT</string>
		<string>START_GTID</string>
		<string>START_METADATA_BATCH</string>
		<string>START_STREAM</string>
		<string>START_TRANSACTION</string>
		<string>STARTING</string>
		<string>STARTING_WITH</string>
		<string>STATUS_FREQUENCY</string>
		<string>STD_DEV</string>
		<string>STREAM_DATA</string>
		<string>STRING</string>
		<string>SYSTEM</string>
		<string>SWITCH</string>
		<string>SWITCH_BASE</string>
		<string>TABLE</string>
		<string>TABLE_ARCHIVABLE</string>
		<string>TABLE_DESCRIPTION</string>
		<string>TABLE_CHECK</string>
		<string>TABLE_CLUSTER</string>
		<string>TABLE_DATA</string>
		<string>TABLE_FIELD</string>
		<string>TABLE_FIELDS</string>
		<string>TABLE_FILL</string>
		<string>TABLE_FLAGS</string>
		<string>TABLE_FREE</string>
		<string>TABLE_GROW</string>
		<string>TABLE_GROWTH_PCT</string>
		<string>TABLE_IFLAGS</string>
		<string>TABLE_MAX_EXTENTS</string>
		<string>TABLE_MIN_EXTENTS</string>
		<string>TABLE_NAME</string>
		<string>TABLE_NONPID_FIELDS</string>
		<string>TABLE_PID</string>
		<string>TABLE_PID_FIELDS</string>
		<string>TABLE_SEARCH</string>
		<string>TABLE_SECURITY</string>
		<string>TABLE_SIZE</string>
		<string>TABLE_STORAGE</string>
		<string>TABLE_TYPE</string>
		<string>TABLES</string>
		<string>TAN</string>
		<string>TAND</string>
		<string>TANH</string>
		<string>TARGET</string>
		<string>TARGETID</string>
		<string>TED_LINE</string>
		<string>TEMPORARY_FILENAME</string>
		<string>TEXT</string>
		<string>TIME_TRIGGER</string>
		<string>TIMEOUT</string>
		<string>TITLE</string>
		<string>TITLE_BAR</string>
		<string>TITLE_FORM</string>
		<string>TO</string>
		<string>TOTAL</string>
		<string>TRANSFER</string>
		<string>TRANSLATE</string>
		<string>TRIGGER</string>
		<string>TRIM</string>
		<string>UNICODE</string>
		<string>UNLOAD</string>
		<string>UNQUOTE</string>
		<string>UNSCRAMBLE</string>
		<string>UPDATE</string>
		<string>UPDATE_ON_INPUT</string>
		<string>UPPERCASE</string>
		<string>UTILITIES</string>
		<string>VARCHAR2</string>
		<string>VERIFY</string>
		<string>VIEW</string>
		<string>VIEW_SOURCE</string>
		<string>WD</string>
		<string>WHILE</string>
		<string>WITH</string>
		<string>WRITE</string>
		<string>WRITE_LINE</string>
		<string>XML_RECEIVE_TABLES</string>
		<string>XML_SEND_TABLE</string>
		<string>/ABSOLUTE_POSITION</string>
		<string>/ACTION</string>
		<string>/ADD_CHILD</string>
		<string>/ADD_FORM</string>
		<string>/ADD_FIELD</string>
		<string>/ADD_TRIGGER</string>
		<string>/ADD_VALUE</string>
		<string>/ALTERNATE_FORM</string>
		<string>/ALWAYS_QUOTE</string>
		<string>/APPEND</string>
		<string>/ARCHIVE</string>
		<string>/ASCII</string>
		<string>/ATTRIBUTES</string>
		<string>/AUDIT</string>
		<string>/BACK</string>
		<string>/BASE</string>
		<string>/BATCH</string>
		<string>/BEGIN_ROW</string>
		<string>/BELL</string>
		<string>/BINARY</string>
		<string>/BREAK</string>
		<string>/BREAK0</string>
		<string>/CHARACTER_SET</string>
		<string>/CHEADING</string>
		<string>/CHECK</string>
		<string>/CHECK_ONLY</string>
		<string>/CLASS</string>
		<string>/CLIENT</string>
		<string>/CLUSTER</string>
		<string>/COL</string>
		<string>/COLUMN_HEADINGS</string>
		<string>/COLUMN_HEADING_ROW</string>
		<string>/COLUMN_SPACING</string>
		<string>/COMPILE_ONLY</string>
		<string>/CONFIRM</string>
		<string>/CONNECT</string>
		<string>/CONVERTED_LENGTH</string>
		<string>/CONVERTED_SCALE</string>
		<string>/CONVERTED_TYPE</string>
		<string>/COPIES</string>
		<string>/COMMIT_RATE</string>
		<string>/CREATE</string>
		<string>/CREATE_IF</string>
		<string>/CSV</string>
		<string>/DATA</string>
		<string>/DATA_ELEMENT</string>
		<string>/DATATYPE</string>
		<string>/DATE</string>
		<string>/DATETIME</string>
		<string>/DATE_TIME</string>
		<string>/DEFAULT</string>
		<string>/DEFAULT_TAG</string>
		<string>/DESC</string>
		<string>/DESCRIPTION</string>
		<string>/DELETE_ALL_LINKS</string>
		<string>/DELETE_CHILD</string>
		<string>/DELETE_FIELD</string>
		<string>/DELETE_FORM</string>
		<string>/DELETE_ONLY</string>
		<string>/DELETE_TRIGGER</string>
		<string>/DICTIONARY</string>
		<string>/DISPLAY_LENGTH</string>
		<string>/DISPLAY_ONLY</string>
		<string>/DML</string>
		<string>/DOMAIN</string>
		<string>/DOUBLE</string>
		<string>/DOUBLE_QUOTE</string>
		<string>/DUPLICATES</string>
		<string>/EDIT</string>
		<string>/EDIT_ONLY</string>
		<string>/END_COL</string>
		<string>/END_ROW</string>
		<string>/ENGINE</string>
		<string>/ERASE</string>
		<string>/ERROR</string>
		<string>/ERROR_TEXT</string>
		<string>/ESCAPE_CHARACTER</string>
		<string>/EXIT</string>
		<string>/EXIT_FORWARD</string>
		<string>/FACILITY</string>
		<string>/FAILURE</string>
		<string>/FAULT_ACTOR</string>
		<string>/FAULT_CODE</string>
		<string>/FAULT_STRING</string>
		<string>/FIELD</string>
		<string>/FIELD_ASCENDING</string>
		<string>/FIELD_DESCENDING</string>
		<string>/FIELD_OPTIONS</string>
		<string>/FIELD_SEPARATOR</string>
		<string>/FIELDS</string>
		<string>/FILE</string>
		<string>/FILE_DEVICE</string>
		<string>/FILE_DIRECTORY</string>
		<string>/FILE_EXTENSION</string>
		<string>/FILE_NAME</string>
		<string>/FILE_NODE</string>
		<string>/FILE_VERSION</string>
		<string>/FILL</string>
		<string>/FIND</string>
		<string>/FIND_FORM</string>
		<string>/FINISH_DATE</string>
		<string>/FIRST</string>
		<string>/FLAGS</string>
		<string>/FLOW</string>
		<string>/FLUSH_METADATA_BATCH</string>
		<string>/FOOTING</string>
		<string>/FOOTING_FORM</string>
		<string>/FORM_NAME</string>
		<string>/FORM_TYPE</string>
		<string>/FORMS</string>
		<string>/FREE</string>
		<string>/FROM</string>
		<string>/GEMBASE_ONLY</string>
		<string>/GLOBAL</string>
		<string>/GOLD</string>
		<string>/GRAPHIC</string>
		<string>/GROUP</string>
		<string>/GROUPED_BY</string>
		<string>/GROW</string>
		<string>/GROWTH</string>
		<string>/GROWTH_PCT</string>
		<string>/HANDLE</string>
		<string>/HEADING</string>
		<string>/HEADING_FORM</string>
		<string>/HEIGHT</string>
		<string>/HELP</string>
		<string>/HTML_ONLY</string>
		<string>/IDENTIFIER</string>
		<string>/IMAGE</string>
		<string>/INITIAL_VALUE</string>
		<string>/INPUT_MASK</string>
		<string>/INPUT_ROW_HEIGHT</string>
		<string>/ITEM</string>
		<string>/ITEM_IF</string>
		<string>/JOINED_TO</string>
		<string>/LEN</string>
		<string>/LENGTH</string>
		<string>/LFOOTING</string>
		<string>/LHEADING</string>
		<string>/LINES_AFTER</string>
		<string>/LINES_BEFORE</string>
		<string>/LINK</string>
		<string>/LIST</string>
		<string>/LOCAL</string>
		<string>/LOCATION</string>
		<string>/LOCK</string>
		<string>/LOG</string>
		<string>/LOG_FILE</string>
		<string>/LOV</string>
		<string>/LOV_AUTO_SELECT</string>
		<string>/LOV_COL</string>
		<string>/LOV_DATA</string>
		<string>/LOV_FIRST</string>
		<string>/LOV_HEIGHT</string>
		<string>/LOV_NOHEADING</string>
		<string>/LOV_NOSEARCH</string>
		<string>/LOV_REDUCED_TO</string>
		<string>/LOV_ROW</string>
		<string>/LOV_SECONDARY</string>
		<string>/LOV_SELECTION</string>
		<string>/LOV_SORTED_BY</string>
		<string>/LOV_WIDTH</string>
		<string>/LOV_WITH</string>
		<string>/MAILBOX</string>
		<string>/MAX_ERRORS</string>
		<string>/MAX_EXTENTS</string>
		<string>/MIN_EXTENTS</string>
		<string>/MENU_FILE</string>
		<string>/MENU_FORM</string>
		<string>/METADATA</string>
		<string>/METADATA_DUMP</string>
		<string>/MISSING</string>
		<string>/MODIFY_FIELD</string>
		<string>/MODIFY_FORM</string>
		<string>/MODIFY_TRIGGER</string>
		<string>/NAME</string>
		<string>/NAMESPACE</string>
		<string>/NATIVE</string>
		<string>/NEW</string>
		<string>/NEW_WINDOW</string>
		<string>/NOAUDIT</string>
		<string>/NOARCHIVE</string>
		<string>/NOBELL</string>
		<string>/NOCLEAR_BUFFER</string>
		<string>/NOCHECK_ONLY</string>
		<string>/NOCOMPILE</string>
		<string>/NOCREATE</string>
		<string>/NODATA</string>
		<string>/NODEADLOCK_EXIT</string>
		<string>/NODELETE</string>
		<string>/NODISPLAY</string>
		<string>/NODOMAIN</string>
		<string>/NODUPLICATES</string>
		<string>/NOEDIT</string>
		<string>/NOERASE</string>
		<string>/NOERROR</string>
		<string>/NOEXIT_FORWARD</string>
		<string>/NOHEADING</string>
		<string>/NOIMPLICIT</string>
		<string>/NOLOG</string>
		<string>/NOLOV_DATA</string>
		<string>/NOMETADATA</string>
		<string>/NOPERFORM</string>
		<string>/NOPORT</string>
		<string>/NOPRINT</string>
		<string>/NOQUERY</string>
		<string>/NOREDRAW</string>
		<string>/NORENAME</string>
		<string>/NOREPEAT</string>
		<string>/NORESTART</string>
		<string>/NOSIGN</string>
		<string>/NOSTATUS</string>
		<string>/NOUNDERLINES</string>
		<string>/NOVERBOSE</string>
		<string>/NOVERIFY</string>
		<string>/NOWAIT</string>
		<string>/OPERATION</string>
		<string>/OPT</string>
		<string>/OPTION</string>
		<string>/OPTIONS</string>
		<string>/OUTPUT</string>
		<string>/OUTPUT_MASK</string>
		<string>/PARAMETER</string>
		<string>/PASS</string>
		<string>/PASSWORD1</string>
		<string>/PASSWORD2</string>
		<string>/PAUSE</string>
		<string>/PDF</string>
		<string>/PERFORM</string>
		<string>/PORT_ONLY</string>
		<string>/POSITION</string>
		<string>/PREF</string>
		<string>/PRINT_ONLY</string>
		<string>/PROCESS_NAME</string>
		<string>/PROMPT</string>
		<string>/PROTECT</string>
		<string>/PURPOSE</string>
		<string>/QUERY</string>
		<string>/QUEUE</string>
		<string>/QUOTE_CHARACTER</string>
		<string>/READ_ONLY</string>
		<string>/REASON</string>
		<string>/RECALL</string>
		<string>/REDUCED_TO</string>
		<string>/REMAIN</string>
		<string>/REPEAT</string>
		<string>/REPLACE</string>
		<string>/REPORTS</string>
		<string>/RESPONSE</string>
		<string>/RESTART</string>
		<string>/RESULT</string>
		<string>/RESULTNAME</string>
		<string>/RESUME_METADATA_BATCH</string>
		<string>/RFOOTING</string>
		<string>/RHEADING</string>
		<string>/RMS_OPTIONS</string>
		<string>/ROW</string>
		<string>/ROW_HEIGHT</string>
		<string>/RUN_DATES</string>
		<string>/SAVE</string>
		<string>/SCALE</string>
		<string>/SECONDARY</string>
		<string>/SECURITY</string>
		<string>/SECURITY_TYPE</string>
		<string>/SELECT_ONE</string>
		<string>/SELECTION</string>
		<string>/SEQUENCE</string>
		<string>/SEQUENCE_INCREMENT</string>
		<string>/SESSION</string>
		<string>/SEVERITY</string>
		<string>/SHARE</string>
		<string>/SHORT_PROMPT</string>
		<string>/SIGN</string>
		<string>/SIZE</string>
		<string>/SORTED_BY</string>
		<string>/SOURCE</string>
		<string>/SOURCE_IF</string>
		<string>/SOURCE_TABLE</string>
		<string>/START_DATE</string>
		<string>/STATIC</string>
		<string>/STATISTIC</string>
		<string>/STATUS</string>
		<string>/STORAGE_AREA</string>
		<string>/STREAM_NAME</string>
		<string>/SYSTEM</string>
		<string>/SUBJECT</string>
		<string>/SUCCESS</string>
		<string>/TABLE</string>
		<string>/TABLE_OPTIONS</string>
		<string>/TABLES</string>
		<string>/TAG</string>
		<string>/TAG_LENGTH</string>
		<string>/TAG_NAME</string>
		<string>/TARGET</string>
		<string>/TARGET_TABLE</string>
		<string>/TEXT</string>
		<string>/TEXT_ONLY</string>
		<string>/TITLE</string>
		<string>/TO</string>
		<string>/TO_CONVERTED_ROUTINE</string>
		<string>/TO_NATIVE_ROUTINE</string>
		<string>/TOTAL</string>
		<string>/TRANSACTION_AREA</string>
		<string>/TYPE</string>
		<string>/UPGRADE</string>
		<string>/URL</string>
		<string>/USE_IF</string>
		<string>/USER_ARGUMENT</string>
		<string>/USER_KEY1</string>
		<string>/USER_KEY2</string>
		<string>/USER_KEY3</string>
		<string>/USER_KEY4</string>
		<string>/USER_KEY5</string>
		<string>/USER_KEY6</string>
		<string>/USER_KEY7</string>
		<string>/USER_KEY8</string>
		<string>/USER_KEY9</string>
		<string>/USER_KEY10</string>
		<string>/USER_KEY11</string>
		<string>/USER_KEY12</string>
		<string>/USER_KEY13</string>
		<string>/USER_KEY14</string>
		<string>/USER_KEY15</string>
		<string>/USER_KEY16</string>
		<string>/USER_KEY17</string>
		<string>/USER_KEY18</string>
		<string>/USER_KEY19</string>
		<string>/USER_KEY20</string>
		<string>/USER1</string>
		<string>/USER2</string>
		<string>/USER3</string>
		<string>/USER4</string>
		<string>/USER5</string>
		<string>/USERNAME</string>
		<string>/USERNAME1</string>
		<string>/USERNAME2</string>
		<string>/USING</string>
		<string>/VALID_VALUES</string>
		<string>/VALIDATION</string>
		<string>/VALIDATION_FORM</string>
		<string>/VALUE</string>
		<string>/VERBOSE</string>
		<string>/VERIFY</string>
		<string>/VIEW_SOURCE</string>
		<string>/VIRTUAL</string>
		<string>/WAIT</string>
		<string>/WEB_APP</string>
		<string>/WIDTH</string>
		<string>/WITH</string>
		<string>/XML</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>%ABORT</string>
		<string>%ACCOUNT</string>
		<string>%ACTUAL_BREAK</string>
		<string>%ADD</string>
		<string>%ADMIN_ACCESS</string>
		<string>%ADVANCED_USER</string>
		<string>%ARCHIVE</string>
		<string>%BACK</string>
		<string>%BITMAP</string>
		<string>%BROADCAST</string>
		<string>%CAT_FILTER</string>
		<string>%CHANGE_ACCESS</string>
		<string>%CONTROL_ACCESS</string>
		<string>%CURRENT_BREAK</string>
		<string>%DATA</string>
		<string>%DATABASE</string>
		<string>%DEADLOCK</string>
		<string>%DEFAULT_ENGINE</string>
		<string>%DEFINE_ACCESS</string>
		<string>%DELETE</string>
		<string>%DELETE_ACCESS</string>
		<string>%DISPLAY</string>
		<string>%E</string>
		<string>%EDIT_MODE</string>
		<string>%EMPTY</string>
		<string>%ENTRY_MENU</string>
		<string>%ERASE_ACCESS</string>
		<string>%EXIT</string>
		<string>%EXIT_FORM_ACTIVE</string>
		<string>%EXIT_FORM_ENABLED</string>
		<string>%EXIT_FORM_FILENAME</string>
		<string>%EXIT_FORM_FORMNAME</string>
		<string>%EXIT_FORWARD</string>
		<string>%FACILITY</string>
		<string>%FACILITY_DATABASE</string>
		<string>%FACILITY_NAME</string>
		<string>%FACILITY_SYSTEM</string>
		<string>%FAILURE</string>
		<string>%FIND</string>
		<string>%FLOW_NODE</string>
		<string>%FORM_FILE</string>
		<string>%FORM_NAME</string>
		<string>%GEM_INIT</string>
		<string>%GTID</string>
		<string>%GTID_LEVEL</string>
		<string>%HARDWARE</string>
		<string>%HELP_LIBRARY</string>
		<string>%HOSTID</string>
		<string>%INPUT_BACKGROUND</string>
		<string>%INPUT_DATE_FORMAT</string>
		<string>%INPUT_FOREGROUND</string>
		<string>%INPUT_PROMPT</string>
		<string>%INPUT_TIMEOUT</string>
		<string>%INPUT_UPDATE</string>
		<string>%INTERRUPT</string>
		<string>%INTERRUPT_COMMAND</string>
		<string>%IS_ADMIN</string>
		<string>%KEYBOARD_FILE</string>
		<string>%LANGUAGE</string>
		<string>%LOCK_OPTIONS</string>
		<string>%MASK_CURRENCY_SIGN</string>
		<string>%MASK_DIGIT_SEPARATOR</string>
		<string>%MASK_RADIX_POINT</string>
		<string>%MISSING</string>
		<string>%MODE</string>
		<string>%MODIFY</string>
		<string>%MODIFY_ACCESS</string>
		<string>%NODENAME</string>
		<string>%NONE</string>
		<string>%NORMAL</string>
		<string>%NOT_MISSING</string>
		<string>%NOW</string>
		<string>%OPERATING_SYSTEM</string>
		<string>%OPERATOR_ACCESS</string>
		<string>%PAGE</string>
		<string>%PERFORM</string>
		<string>%PI</string>
		<string>%PID</string>
		<string>%PLATFORM</string>
		<string>%PRECISION</string>
		<string>%PRINT_MODE</string>
		<string>%QUERY_CUR_REC</string>
		<string>%QUERY_MAX_REC</string>
		<string>%QUERY_MODE</string>
		<string>%READ_ACCESS</string>
		<string>%REPORT_DATE</string>
		<string>%REPORT_FORM_FEEDS</string>
		<string>%REPORT_PAGE_SIZE</string>
		<string>%REPORT_MODE</string>
		<string>%REPORT_NAME</string>
		<string>%ROW_NUMBER</string>
		<string>%SCREEN_MODE</string>
		<string>%SCREEN_WIDTH</string>
		<string>%SEQUENCE</string>
		<string>%SERVER</string>
		<string>%SHADOW_LEVEL</string>
		<string>%SHOW_ACCESS</string>
		<string>%SIGNATURE_ID</string>
		<string>%STATUS</string>
		<string>%STATUS_FREQUENCY</string>
		<string>%SUCCESS</string>
		<string>%SYSTEM</string>
		<string>%TARGETID</string>
		<string>%TEMPORARY_DIRECTORY</string>
		<string>%TERMINAL</string>
		<string>%TEXTFILE_MODE</string>
		<string>%THIN_CLIENT</string>
		<string>%THIN_CLIENT_CHARSET</string>
		<string>%THIN_CLIENT_HW</string>
		<string>%THIN_CLIENT_IPCNAME</string>
		<string>%THIN_CLIENT_MODE</string>
		<string>%THIN_CLIENT_OS</string>
		<string>%THIN_CLIENT_REPORT_DIR</string>
		<string>%THIN_CLIENT_TYPE</string>
		<string>%THIN_CLIENT_USERNAME</string>
		<string>%THIN_SERVER</string>
		<string>%THIN_SERVER_CHARSET</string>
		<string>%THIN_SERVER_DBCHARSET</string>
		<string>%THIN_SERVER_HW</string>
		<string>%THIN_SERVER_IPCNAME</string>
		<string>%THIN_SERVER_MODE</string>
		<string>%THIN_SERVER_OS</string>
		<string>%THIN_SERVER_REPORT_DIR</string>
		<string>%THIN_SERVER_USERNAME</string>
		<string>%TITLE_FORM</string>
		<string>%TODAY</string>
		<string>%TRANS_LEVEL</string>
		<string>%UIC</string>
		<string>%UIC_GRP</string>
		<string>%UIC_MEM</string>
		<string>%UNIX</string>
		<string>%USERNAME</string>
		<string>%VERSION</string>
		<string>%WD</string>
		<string>%WRITE_ACCESS</string>
		<string>%XPID</string>
		<string>ADT.R</string>
		<string>ALPHA</string>
		<string>BEGIN_UPDATE</string>
		<string>BLIND</string>
		<string>BOLD</string>
		<string>BYTE</string>
		<string>CLEAN</string>
		<string>COMPUTED_SOURCE</string>
		<string>D_FLOAT</string>
		<string>D_FLOATNR</string>
		<string>DATA</string>
		<string>DATA_TYPE</string>
		<string>DATE</string>
		<string>DATE_TIME</string>
		<string>DATE_TIMENRO</string>
		<string>DDMMYY</string>
		<string>DDMMYYNU</string>
		<string>DDMMYYYY</string>
		<string>DDMMYYYYNUMTEXT</string>
		<string>DEFAULTS</string>
		<string>DEFERRED_WRITESSEQUENTIAL_ONLY</string>
		<string>DESCRIPTION</string>
		<string>DFLOAT.R</string>
		<string>DFLOAT.V</string>
		<string>DOCUMENTARYNZ</string>
		<string>DOMAIN_LOCK_NONE</string>
		<string>DOMAIN_LOCK_WRITE</string>
		<string>DSTRING.D</string>
		<string>DSTRING.R</string>
		<string>END_UPDATE</string>
		<string>ENGINE_DEFINED</string>
		<string>EXIT_EMPTY</string>
		<string>F_FLOAT</string>
		<string>F_FLOATPACKED</string>
		<string>FFLOAT.R</string>
		<string>FFLOAT.V</string>
		<string>FLAGS</string>
		<string>FLUSH</string>
		<string>FULL</string>
		<string>G_FLOAT</string>
		<string>G_FLOATQUADWORD</string>
		<string>GENERAL</string>
		<string>GFLOAT.R</string>
		<string>GFLOAT.V</string>
		<string>H_FLOATTEXT</string>
		<string>HEADING</string>
		<string>INITIAL_VALUE</string>
		<string>INPROC</string>
		<string>INPUT_LENGTH</string>
		<string>INPUT_MASK</string>
		<string>INT16</string>
		<string>INT16.R</string>
		<string>INT16.V</string>
		<string>KEYPUNCH</string>
		<string>LENGTH</string>
		<string>LOCAL</string>
		<string>LONG.R</string>
		<string>LONG.V</string>
		<string>LONGWORD</string>
		<string>MMDDYY</string>
		<string>MMDDYYWORD</string>
		<string>MMDDYYYY</string>
		<string>MMDDYYYYYYMMDD</string>
		<string>MSSQL</string>
		<string>MULTIPLE</string>
		<string>NAME</string>
		<string>NLYYYYMMDD</string>
		<string>NOALL</string>
		<string>NOCOMPUTED_SOURCE</string>
		<string>NODATA</string>
		<string>NODATA_TYPE</string>
		<string>NODCL</string>
		<string>NODEFAULT</string>
		<string>NODELETE</string>
		<string>NODESCRIPTION</string>
		<string>NOECHO</string>
		<string>NOFIND</string>
		<string>NOFLAGS</string>
		<string>NOGENERAL</string>
		<string>NOHEADING</string>
		<string>NOINPUT_LENGTH</string>
		<string>NOINPUT_MASK</string>
		<string>NOINITIAL_VALUE</string>
		<string>NOINSERT</string>
		<string>NOLENGTH</string>
		<string>NOLOWER</string>
		<string>NOMAIL</string>
		<string>NOMISSING</string>
		<string>NOMODIFY</string>
		<string>NONAME</string>
		<string>NONE</string>
		<string>NONEGATIVE</string>
		<string>NONUMBER</string>
		<string>NOOPCOM</string>
		<string>NOOUTPUT_LENGTH</string>
		<string>NOOUTPUT_MASK</string>
		<string>NOPHONE</string>
		<string>NOPROMPT</string>
		<string>NOQUEUE</string>
		<string>NOSCALE</string>
		<string>NOSHORT_PROMPT</string>
		<string>NOSHUTDOWN</string>
		<string>NOURGENT</string>
		<string>NOUSER1</string>
		<string>NOUSER2</string>
		<string>NOUSER3</string>
		<string>NOUSER4</string>
		<string>NOUSER5</string>
		<string>NOUSER6</string>
		<string>NOUSER7</string>
		<string>NOUSER8</string>
		<string>NOUSER9</string>
		<string>NOUSER10</string>
		<string>NOUSER11</string>
		<string>NOUSER12</string>
		<string>NOUSER13</string>
		<string>NOUSER14</string>
		<string>NOUSER15</string>
		<string>NOUSER16</string>
		<string>NOVALID_VALUES</string>
		<string>NOVIRTUAL</string>
		<string>NOXML_FORMAT</string>
		<string>NOZERO</string>
		<string>NRO</string>
		<string>NU</string>
		<string>NUMBER</string>
		<string>NUMERIC</string>
		<string>NUMTEXT</string>
		<string>NL</string>
		<string>NLO</string>
		<string>NR</string>
		<string>NZ</string>
		<string>OPCOM</string>
		<string>ORACLE</string>
		<string>ORACLERMS</string>
		<string>OUT</string>
		<string>OUTPUT_LENGTH</string>
		<string>OUTPUT_MASK</string>
		<string>PACKED</string>
		<string>POSITIVE</string>
		<string>PASSWORD</string>
		<string>PERSISTENT</string>
		<string>PHONE</string>
		<string>QUADWORD</string>
		<string>QUEUE</string>
		<string>READ_AHEADWRITE_BEHIND</string>
		<string>READ_CHECKWRITE_CHECK</string>
		<string>REFRESH</string>
		<string>REMOTE</string>
		<string>REOPEN_FILE</string>
		<string>REQUIRED</string>
		<string>REVERSE</string>
		<string>SCALE</string>
		<string>SERVERRDBMSSQLSERVER</string>
		<string>SHORT_PROMPT</string>
		<string>SHUTDOWN</string>
		<string>STANDARD</string>
		<string>START_INSERT</string>
		<string>SURROGATE</string>
		<string>TRANSACTION_CONTROL</string>
		<string>UBYTE</string>
		<string>UBYTENLO</string>
		<string>ULONGWORD</string>
		<string>ULONGWORDVARYING_STRING</string>
		<string>UNDERLINE</string>
		<string>UQUADWORD</string>
		<string>URGENT</string>
		<string>USER1</string>
		<string>USER2</string>
		<string>USER3</string>
		<string>USER4</string>
		<string>USER5</string>
		<string>USER6</string>
		<string>USER7</string>
		<string>USER8</string>
		<string>USER9</string>
		<string>USER10</string>
		<string>USER11</string>
		<string>USER12</string>
		<string>USER13</string>
		<string>USER14</string>
		<string>USER15</string>
		<string>USER16</string>
		<string>UWORD</string>
		<string>VALID_VALUES</string>
		<string>VARYING_STRING</string>
		<string>VIRTUAL</string>
		<string>WORD</string>
		<string>WORD.R</string>
		<string>WORD.V</string>
		<string>XML_FORMAT</string>
		<string>YYMMDD</string>
		<string>YYYYMMDD</string>
		<string>ZEROFILL</string>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>!</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dml</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.gem</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z_0-9$#/%</string>
		<key>Comment Pattern</key>
		<string><![CDATA[
		(?x:
		    (!.*$)
		)
		]]></string>
		<key>String Pattern</key>
		<string><![CDATA[
		(?x:
			("([^"\r])*") |
			('([^'\r])*')
		)
		]]></string>
		<key>Function Pattern</key>
		<string><![CDATA[
		(?x:
			(?P<leadspace>^\s*)
			(?P<function>
				(^|\s)
				(FORM | TABLE_FORM | QUERY_FORM | REPORT_FORM | PROCEDURE_FORM | MENU_FORM)
				\s+
				(?P<function_name>
					[a-zA-Z0-9_]+
				)
				(?s:.+?)
				\rEND_FORM
			)
		)]]>
		</string>
		<key>Skip Pattern</key>
		<string><![CDATA[(?x:
			(?P>string) |
			(?P>comment)
		)]]></string>
	</dict>
	<key>com.barebones.DocumentType</key>
	<string>CodelessLanguageModule</string>
</dict>
</plist>
