<!--  GLSL syntax highlighting for GLSL 4.40 core. 
      Robert Menzel (mail@renderingpipeline.com)
 -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<!-- Define as GLSL shaders: -->
	<key>BBLMLanguageDisplayName</key>  <string>GLSL</string>
	<key>BBLMLanguageCode</key>         <string>GLSL</string>
	
	<!-- Activate syntax coloring -->
	<key>BBLMColorsSyntax</key> <true/>
	
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.glsl</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.fsh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.vsh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.gsh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.tcsh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.tesh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.csh</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.frag</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.vert</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.geo</string>
		</dict>
	</array>
	
	<key>BBLMScansFunctions</key>
	<true/>
	
	<!-- GLSL 430 core: -->
	<key>BBLMKeywordList</key>
	<array>
		<string>const</string>
		<string>uniform</string>
		<string>break</string>
		<string>continue</string>
		<string>do</string>
		<string>for</string>
		<string>while</string>
		<string>if</string>
		<string>else</string>
		<string>in</string>
		<string>out</string>
		<string>inout</string>
		<string>true</string>
		<string>false</string>
		<string>discard</string>
		<string>return</string>
		<string>struct</string>
		<string>invariant</string>
		<string>centroid</string>
		<string>flat</string>
		<string>smooth</string>
		<string>noperspective</string>
		<string>switch</string>
		<string>case</string>
		<string>default</string>
		<string>layout</string>
		<string>patch</string>
		<string>sample</string>
		<string>subroutine</string>
		<string>coherent</string>
		<string>volatile</string>
		<string>restrict</string>
		<string>readonly</string>
		<string>writeonly</string>
		<string>buffer</string>
		<string>shared</string>
		<string>lowp</string>
		<string>mediump</string>
		<string>highp</string>
		<string>precision</string>
		<string>float</string>
		<string>int</string>
		<string>void</string>
		<string>bool</string>
		<string>mat2</string>
		<string>mat3</string>
		<string>mat4</string>
		<string>vec2</string>
		<string>vec3</string>
		<string>vec4</string>
		<string>ivec2</string>
		<string>ivec3</string>
		<string>ivec4</string>
		<string>bvec2</string>
		<string>bvec3</string>
		<string>bvec4</string>
		<string>sampler2D</string>
		<string>samplerCube</string>
		<string>sampler1D</string>
		<string>sampler3D</string>
		<string>sampler1DShadow</string>
		<string>sampler2DShadow</string>
		<string>mat2x2</string>
		<string>mat3x2</string>
		<string>mat4x2</string>
		<string>mat2x3</string>
		<string>mat3x3</string>
		<string>mat4x3</string>
		<string>mat2x4</string>
		<string>mat3x4</string>
		<string>mat4x4</string>
		<string>uint</string>
		<string>uvec2</string>
		<string>uvec3</string>
		<string>uvec4</string>
		<string>samplerCubeShadow</string>
		<string>sampler1DArray</string>
		<string>sampler2DArray</string>
		<string>sampler1DArrayShadow</string>
		<string>sampler2DArrayShadow</string>
		<string>isampler1D</string>
		<string>isampler2D</string>
		<string>isampler3D</string>
		<string>isamplerCube</string>
		<string>isampler1DArray</string>
		<string>isampler2DArray</string>
		<string>usampler1D</string>
		<string>usampler2D</string>
		<string>usampler3D</string>
		<string>usamplerCube</string>
		<string>usampler1DArray</string>
		<string>usampler2DArray</string>
		<string>sampler2DRect</string>
		<string>sampler2DRectShadow</string>
		<string>isampler2DRect</string>
		<string>usampler2DRect</string>
		<string>samplerBuffer</string>
		<string>isamplerBuffer</string>
		<string>usamplerBuffer</string>
		<string>sampler2DMS</string>
		<string>isampler2DMS</string>
		<string>usampler2DMS</string>
		<string>sampler2DMSArray</string>
		<string>isampler2DMSArray</string>
		<string>usampler2DMSArray</string>
		<string>noperspective</string>
		<string>samplerBuffer</string>
		<string>isamplerBuffer</string>
		<string>usamplerBuffer</string>
		<string>sampler1D</string>
		<string>sampler1DShadow</string>
		<string>sampler1DArray</string>
		<string>sampler1DArrayShadow</string>
		<string>isampler1D</string>
		<string>usampler1D</string>
		<string>sampler2DMS</string>
		<string>isampler2DMS</string>
		<string>usampler2DMS</string>
		<string>sampler2DMSArray</string>
		<string>isampler2DMSArray</string>
		<string>usampler2DMSArray</string>
		<string>double</string>
		<string>dvec2</string>
		<string>dvec3</string>
		<string>dvec4</string>
		<string>dmat2</string>
		<string>dmat3</string>
		<string>dmat4</string>
		<string>dmat2x2</string>
		<string>dmat3x2</string>
		<string>dmat4x2</string>
		<string>dmat2x3</string>
		<string>dmat3x3</string>
		<string>dmat4x3</string>
		<string>dmat2x4</string>
		<string>dmat3x4</string>
		<string>dmat4x4</string>
		<string>samplerCubeArray</string>
		<string>samplerCubeArrayShadow</string>
		<string>isamplerCubeArray</string>
		<string>usamplerCubeArray</string>
		<string>atomic_uint</string>
		<string>image1D</string>
		<string>iimage1D</string>
		<string>uimage1D</string>
		<string>image2D</string>
		<string>iimage2D</string>
		<string>uimage2D</string>
		<string>image3D</string>
		<string>iimage3D</string>
		<string>uimage3D</string>
		<string>image2DRect</string>
		<string>iimage2DRect</string>
		<string>uimage2DRect</string>
		<string>imageCube</string>
		<string>iimageCube</string>
		<string>uimageCube</string>
		<string>imageBuffer</string>
		<string>iimageBuffer</string>
		<string>uimageBuffer</string>
		<string>image1DArray</string>
		<string>iimage1DArray</string>
		<string>uimage1DArray</string>
		<string>image2DArray</string>
		<string>iimage2DArray</string>
		<string>uimage2DArray</string>
		<string>imageCubeArray</string>
		<string>iimageCubeArray</string>
		<string>uimageCubeArray</string>
		<string>image2DMS</string>
		<string>iimage2DMS</string>
		<string>uimage2DMS</string>
		<string>image2DMSArray</string>
		<string>iimage2DMSArray</string>
		<string>uimage2DMSArray</string>
	</array>
	<!-- Buildins and special tokes that are not keywords but 
         can have a special meaning (eg std140):
      -->
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>shared</string>
		<string>std140</string>
		<string>packed</string>
		<string>row_major</string>
		<string>column_major</string>
		<string>location</string>
		<string>points</string>
		<string>lines</string>
		<string>lines_adjacency</string>
		<string>triangles</string>
		<string>triangles_adjacency</string>
		<string>origin_upper_left</string>
		<string>pixel_center_integer</string>
		<string>line_strip</string>
		<string>triangle_strip</string>
		<string>max_vertices</string>
		<string>shared</string>
		<string>std140</string>
		<string>packed</string>
		<string>row_major</string>
		<string>column_major</string>
		<string>location</string>
		<string>quads</string>
		<string>isolines</string>
		<string>equal_spacing</string>
		<string>fractional_even_spacing</string>
		<string>fractional_odd_spacing</string>
		<string>cw</string>
		<string>ccw</string>
		<string>point_mode</string>
		<string>invocations</string>
		<string>index</string>
		<string>stream</string>
		<string>depth_any</string>
		<string>depth_greater</string>
		<string>depth_less</string>
		<string>depth_unchanged</string>
		<string>offset</string>
		<string>binding</string>
		<string>rgba32f</string>
		<string>rgba16f</string>
		<string>rg32f</string>
		<string>rg16f</string>
		<string>r11f_g11f_b10f</string>
		<string>r32f</string>
		<string>r16f</string>
		<string>rgba16</string>
		<string>rgb10_a2</string>
		<string>rgba8</string>
		<string>rg16</string>
		<string>rg8</string>
		<string>r16</string>
		<string>r8</string>
		<string>rgba16_snorm</string>
		<string>rgba8_snorm</string>
		<string>rg16_snorm</string>
		<string>rg8_snorm</string>
		<string>r16_snorm</string>
		<string>r8_snorm</string>
		<string>rgba32i</string>
		<string>rgba16i</string>
		<string>rgba8i</string>
		<string>rg32i</string>
		<string>rg16i</string>
		<string>rg8i</string>
		<string>r32i</string>
		<string>r16i</string>
		<string>r8i</string>
		<string>rgba32ui</string>
		<string>rgba16ui</string>
		<string>rgb10_a2ui</string>
		<string>rgba8ui</string>
		<string>rg32ui</string>
		<string>rg16ui</string>
		<string>rg8ui</string>
		<string>r32ui</string>
		<string>r16ui</string>
		<string>r8ui</string>
		<string>local_size_x</string>
		<string>local_size_y</string>
		<string>local_size_z</string>
		<string>std430</string>
		<string>gl_FragColor</string>
		<string>gl_FragData</string>
		<string>gl_Position</string>
		<string>gl_PointSize</string>
		<string>gl_FragCoord</string>
		<string>gl_FrontFacing</string>
		<string>gl_PointCoord</string>
		<string>gl_FragColor</string>
		<string>gl_FragData</string>
		<string>gl_DepthRangeParameters</string>
		<string>gl_DepthRange</string>
		<string>gl_Position</string>
		<string>gl_PointSize</string>
		<string>gl_ClipDistance</string>
		<string>gl_VertexID</string>
		<string>gl_FragCoord</string>
		<string>gl_FragDepth</string>
		<string>gl_FrontFacing</string>
		<string>gl_PointCoord</string>
		<string>gl_InstanceID</string>
		<string>gl_in</string>
		<string>gl_PrimitiveIDIn</string>
		<string>gl_InvocationID</string>
		<string>gl_PrimitiveID</string>
		<string>gl_Layer</string>
		<string>gl_PerVertex</string>
		<string>gl_MaxPatchVertices</string>
		<string>gl_PatchVerticesIn</string>
		<string>gl_out</string>
		<string>gl_TessLevelOuter</string>
		<string>gl_TessLevelInner</string>
		<string>gl_TessCoord</string>
		<string>gl_SampleID</string>
		<string>gl_SamplePosition</string>
		<string>gl_SampleMaskIn</string>
		<string>gl_SampleMask</string>
		<string>gl_ViewportIndex</string>
		<string>gl_NumWorkGroups</string>
		<string>gl_WorkGroupSize</string>
		<string>gl_WorkGroupID</string>
		<string>gl_LocalInvocationID</string>
		<string>gl_GlobalInvocationID</string>
		<string>gl_LocalInvocationIndex</string>
		<string>gl_MaxVertexAttribs</string>
		<string>gl_MaxVertexUniformVectors</string>
		<string>gl_MaxVaryingVector</string>
		<string>gl_MaxVertexTextureImageUnits</string>
		<string>gl_MaxCombinedTextureImageUnits</string>
		<string>gl_MaxTextureImageUnits</string>
		<string>gl_MaxFragmentUniformVectors</string>
		<string>gl_MaxDrawBuffers</string>
		<string>gl_DepthRangeParameters</string>
		<string>gl_DepthRange</string>
		<string>gl_NumSamples</string>
		<string>gl_MaxLights</string>
		<string>gl_MaxClipPlanes</string>
		<string>gl_MaxTextureUnits</string>
		<string>gl_MaxTextureCoords</string>
		<string>gl_MaxVertexAttribs</string>
		<string>gl_MaxVertexUniformComponents</string>
		<string>gl_MaxVaryingFloats</string>
		<string>gl_MaxVertexTextureImageUnits</string>
		<string>gl_MaxCombinedTextureImageUnits</string>
		<string>gl_MaxTextureImageUnits</string>
		<string>gl_MaxFragmentUniformComponents</string>
		<string>gl_MaxDrawBuffers</string>
		<string>gl_DepthRangeParameters</string>
		<string>gl_DepthRange</string>
		<string>gl_NumSamples</string>
		<string>gl_MaxVaryingComponents</string>
		<string>gl_MaxClipDistances</string>
		<string>gl_MaxVertexOutputComponents</string>
		<string>gl_MaxGeometryInputComponents</string>
		<string>gl_MaxGeometryOutputComponents</string>
		<string>gl_MaxFragmentInputComponents</string>
		<string>gl_MaxGeometryTextureImageUnits</string>
		<string>gl_MaxGeometryOutputVertices</string>
		<string>gl_MaxGeometryTotalOutputComponents</string>
		<string>gl_MaxGeometryUniformComponents</string>
		<string>gl_MaxGeometryVaryingComponents</string>
		<string>gl_MaxVertexAttribs</string>
		<string>gl_MaxVertexUniformVectors</string>
		<string>gl_MaxVertexOutputVectors</string>
		<string>gl_MaxFragmentInputVectors</string>
		<string>gl_MaxVertexTextureImageUnits</string>
		<string>gl_MaxCombinedTextureImageUnits</string>
		<string>gl_MaxTextureImageUnits</string>
		<string>gl_MaxFragmentUniformVectors</string>
		<string>gl_MaxDrawBuffers</string>
		<string>gl_MinProgramTexelOffset</string>
		<string>gl_MaxProgramTexelOffset</string>
		<string>gl_DepthRangeParameters</string>
		<string>gl_DepthRange</string>
		<string>gl_NumSamples</string>
		<string>gl_MaxTessControlInputComponents</string>
		<string>gl_MaxTessControlOutputComponents</string>
		<string>gl_MaxTessControlTextureImageUnits</string>
		<string>gl_MaxTessControlUniformComponents</string>
		<string>gl_MaxTessControlTotalOutputComponents</string>
		<string>gl_MaxTessEvaluationInputComponents</string>
		<string>gl_MaxTessEvaluationOutputComponents</string>
		<string>gl_MaxTessEvaluationTextureImageUnits</string>
		<string>gl_MaxTessEvaluationUniformComponents</string>
		<string>gl_MaxTessPatchComponents</string>
		<string>gl_MaxPatchVertices</string>
		<string>gl_MaxTessGenLevel</string>
		<string>gl_MaxViewports</string>
		<string>gl_MaxVertexUniformVectors</string>
		<string>gl_MaxFragmentUniformVectors</string>
		<string>gl_MaxVaryingVectors</string>
		<string>gl_MaxImageUnits</string>
		<string>gl_MaxCombinedImageUnitsAndFragmentOutputs</string>
		<string>gl_MaxImageSamples</string>
		<string>gl_MaxVertexImageUniforms</string>
		<string>gl_MaxTessControlImageUniforms</string>
		<string>gl_MaxTessEvaluationImageUniforms</string>
		<string>gl_MaxGeometryImageUniforms</string>
		<string>gl_MaxFragmentImageUniforms</string>
		<string>gl_MaxCombinedImageUniforms</string>
		<string>gl_MaxVertexAtomicCounters</string>
		<string>gl_MaxTessControlAtomicCounters</string>
		<string>gl_MaxTessEvaluationAtomicCounters</string>
		<string>gl_MaxGeometryAtomicCounters</string>
		<string>gl_MaxFragmentAtomicCounters</string>
		<string>gl_MaxCombinedAtomicCounters</string>
		<string>gl_MaxAtomicCounterBindings</string>
		<string>gl_MaxVertexAtomicCounterBuffers</string>
		<string>gl_MaxTessControlAtomicCounterBuffers</string>
		<string>gl_MaxTessEvaluationAtomicCounterBuffers</string>
		<string>gl_MaxGeometryAtomicCounterBuffers</string>
		<string>gl_MaxFragmentAtomicCounterBuffers</string>
		<string>gl_MaxCombinedAtomicCounterBuffers</string>
		<string>gl_MaxAtomicCounterBufferSize</string>
		<string>gl_MinProgramTexelOffset</string>
		<string>gl_MaxProgramTexelOffset</string>
		<string>gl_MaxComputeWorkGroupCount</string>
		<string>gl_MaxComputeWorkGroupSize</string>
		<string>gl_MaxComputeUniformComponents</string>
		<string>gl_MaxComputeTextureImageUnits</string>
		<string>gl_MaxComputeImageUniforms</string>
		<string>gl_MaxComputeAtomicCounters</string>
		<string>gl_MaxComputeAtomicCounterBuffers</string>
		<string>radians</string>
		<string>degrees</string>
		<string>sin</string>
		<string>cos</string>
		<string>tan</string>
		<string>asin</string>
		<string>acos</string>
		<string>atan</string>
		<string>pow</string>
		<string>exp</string>
		<string>log</string>
		<string>exp2</string>
		<string>log2</string>
		<string>sqrt</string>
		<string>inversesqrt</string>
		<string>abs</string>
		<string>sign</string>
		<string>floor</string>
		<string>ceil</string>
		<string>fract</string>
		<string>mod</string>
		<string>min</string>
		<string>max</string>
		<string>clamp</string>
		<string>mix</string>
		<string>step</string>
		<string>smoothstep</string>
		<string>length</string>
		<string>distance</string>
		<string>dot</string>
		<string>cross</string>
		<string>normalize</string>
		<string>faceforward</string>
		<string>reflect</string>
		<string>refract</string>
		<string>matrixCompMult</string>
		<string>lessThan</string>
		<string>lessThanEqual</string>
		<string>greaterThan</string>
		<string>greaterThanEqual</string>
		<string>equal</string>
		<string>notEqual</string>
		<string>any</string>
		<string>all</string>
		<string>not</string>
		<string>dFdx</string>
		<string>dFdy</string>
		<string>fwidth</string>
		<string>noise1</string>
		<string>noise2</string>
		<string>noise3</string>
		<string>noise4</string>
		<string>outerProduct</string>
		<string>transpose</string>
		<string>trunc</string>
		<string>round</string>
		<string>roundEven</string>
		<string>modf</string>
		<string>isnan</string>
		<string>isinf</string>
		<string>sinh</string>
		<string>cosh</string>
		<string>tanh</string>
		<string>asinh</string>
		<string>acosh</string>
		<string>atanh</string>
		<string>textureSize</string>
		<string>texture</string>
		<string>textureProj</string>
		<string>textureLod</string>
		<string>textureOffset</string>
		<string>texelFetch</string>
		<string>texelFetchOffset</string>
		<string>textureProjOffset</string>
		<string>textureLodOffset</string>
		<string>textureProjLod</string>
		<string>textureProjLodOffset</string>
		<string>textureGrad</string>
		<string>textureGradOffset</string>
		<string>textureProjGrad</string>
		<string>textureProjGradOffset</string>
		<string>determinant</string>
		<string>inverse</string>
		<string>EmitVertex</string>
		<string>EndPrimitive</string>
		<string>packSnorm2x16</string>
		<string>unpackUnorm2x16</string>
		<string>packUnorm2x16</string>
		<string>unpackUnorm2x16</string>
		<string>packHalf2x16</string>
		<string>unpackHalf2x16</string>
		<string>floatBitsToInt</string>
		<string>floatBitsToUint</string>
		<string>intBitsToFloat</string>
		<string>uintBitsToFloat</string>
		<string>fma</string>
		<string>barrier</string>
		<string>interpolateAtCentroid</string>
		<string>interpolateAtSample</string>
		<string>interpolateAtOffset</string>
		<string>frexp</string>
		<string>ldexp</string>
		<string>packUnorm2x16</string>
		<string>packUnorm4x8</string>
		<string>packSnorm4x8</string>
		<string>unpackUnorm2x16</string>
		<string>unpackSnorm2x16</string>
		<string>unpackUnorm4x8</string>
		<string>unpackSnorm4x8</string>
		<string>packDouble2x32</string>
		<string>unpackDouble2x32</string>
		<string>uaddCarry</string>
		<string>usubBorrow</string>
		<string>umulExtended</string>
		<string>imulExtended</string>
		<string>bitfieldExtract</string>
		<string>bitfieldInsert</string>
		<string>bitfieldReverse</string>
		<string>bitCount</string>
		<string>findLSB</string>
		<string>findMSB</string>
		<string>textureQueryLod</string>
		<string>textureGather</string>
		<string>textureGatherOffset</string>
		<string>textureGatherOffsets</string>
		<string>EmitStreamVertex</string>
		<string>EndStreamPrimitive</string>
		<string>packSnorm2x16</string>
		<string>unpackSnorm2x16</string>
		<string>packHalf2x16</string>
		<string>unpackHalf2x16</string>
		<string>atomicCounterIncrement</string>
		<string>atomicCounterDecrement</string>
		<string>atomicCounter</string>
		<string>memoryBarrier</string>
		<string>textureQueryLevels</string>
		<string>atomicAdd</string>
		<string>atomicMin</string>
		<string>atomicMax</string>
		<string>atomicAnd</string>
		<string>atomicOr</string>
		<string>atomicXor</string>
		<string>atomicExchange</string>
		<string>atomicCompSwap</string>
		<string>imageSize</string>
		<string>imageLoad</string>
		<string>imageStore</string>
		<string>imageAtomicAdd</string>
		<string>imageAtomicMin</string>
		<string>imageAtomicMax</string>
		<string>imageAtomicAnd</string>
		<string>imageAtomicOr</string>
		<string>imageAtomicXor</string>
		<string>imageAtomicExchange</string>
		<string>imageAtomicCompSwap</string>
		<string>memoryBarrierAtomicCounter</string>
		<string>memoryBarrierBuffer</string>
		<string>memoryBarrierShared</string>
		<string>memoryBarrierImage</string>
		<string>groupMemoryBarrier</string>
	</array>
	
	<!-- Comments & identifier:  -->
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>(?x:
			(?&gt;	//		.*			$				) |
			(?&gt;	/\*		(?s:.*?)	(?: \*/ | \z )	)
		)</string>
		
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\?!</string>
	</dict> 
</dict>
</plist>
