<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Igor Pro</string>
	<key>BBLMLanguageCode</key>
	<string>Igor</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.ipf</string>
		</dict>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>define</string>
		<string>include</string>
		<string>pragma</string>
		<string>undef</string>
		<string>Abort</string>
		<string>AbortOnRTE</string>
		<string>AbortOnValue</string>
		<string>abs</string>
		<string>acos</string>
		<string>acosh</string>
		<string>AddFIFOData</string>
		<string>AddFIFOVectData</string>
		<string>AddListItem</string>
		<string>AddMovieAudio</string>
		<string>AddMovieFrame</string>
		<string>AddWavesToBoxPlot</string>
		<string>AddWavesToViolinPlot</string>
		<string>AdoptFiles</string>
		<string>AfterCompiledHook</string>
		<string>AfterMDIFrameSizedHook</string>
		<string>AfterWindowCreatedHook</string>
		<string>AiryA</string>
		<string>AiryAD</string>
		<string>AiryB</string>
		<string>AiryBD</string>
		<string>alog</string>
		<string>AnnotationInfo</string>
		<string>AnnotationList</string>
		<string>APMath</string>
		<string>Append</string>
		<string>AppendBoxPlot</string>
		<string>AppendImage</string>
		<string>AppendLayoutObject</string>
		<string>AppendMatrixContour</string>
		<string>AppendText</string>
		<string>AppendToGizmo</string>
		<string>AppendToGraph</string>
		<string>AppendToLayout</string>
		<string>AppendToTable</string>
		<string>AppendViolinPlot</string>
		<string>AppendXYZContour</string>
		<string>area</string>
		<string>areaXY</string>
		<string>asin</string>
		<string>asinh</string>
		<string>atan</string>
		<string>atan2</string>
		<string>atanh</string>
		<string>AutoPositionWindow</string>
		<string>AxisInfo</string>
		<string>AxisLabel</string>
		<string>AxisList</string>
		<string>AxisValFromPixel</string>
		<string>BackgroundInfo</string>
		<string>Base64Decode</string>
		<string>Base64Encode</string>
		<string>Beep</string>
		<string>BeforeDebuggerOpensHook</string>
		<string>BeforeExperimentSaveHook</string>
		<string>BeforeFileOpenHook</string>
		<string>BeforeUncompiledHook</string>
		<string>Besseli</string>
		<string>Besselj</string>
		<string>Besselk</string>
		<string>Bessely</string>
		<string>beta</string>
		<string>betai</string>
		<string>BezierToPolygon</string>
		<string>BinarySearch</string>
		<string>BinarySearchInterp</string>
		<string>binomial</string>
		<string>binomialln</string>
		<string>binomialNoise</string>
		<string>BoundingBall</string>
		<string>BoxSmooth</string>
		<string>break</string>
		<string>BrowseURL</string>
		<string>BuildMenu</string>
		<string>Button</string>
		<string>cabs</string>
		<string>CaptureHistory</string>
		<string>CaptureHistoryStart</string>
		<string>case</string>
		<string>catch</string>
		<string>cd</string>
		<string>ceil</string>
		<string>centerOfMass</string>
		<string>centerOfMassXY</string>
		<string>cequal</string>
		<string>char2num</string>
		<string>Chart</string>
		<string>chebyshev</string>
		<string>chebyshevU</string>
		<string>CheckBox</string>
		<string>CheckDisplayed</string>
		<string>CheckName</string>
		<string>ChildWindowList</string>
		<string>ChooseColor</string>
		<string>CleanupName</string>
		<string>Close</string>
		<string>CloseHelp</string>
		<string>CloseMovie</string>
		<string>CloseProc</string>
		<string>cmplx</string>
		<string>cmpstr</string>
		<string>ColorScale</string>
		<string>ColorTab2Wave</string>
		<string>Concatenate</string>
		<string>conj</string>
		<string>Constant</string>
		<string>continue</string>
		<string>ContourInfo</string>
		<string>ContourNameList</string>
		<string>ContourNameToWaveRef</string>
		<string>ContourZ</string>
		<string>ControlBar</string>
		<string>ControlInfo</string>
		<string>ControlNameList</string>
		<string>ControlUpdate</string>
		<string>ConvertGlobalStringTextEncoding</string>
		<string>ConvertTextEncoding</string>
		<string>ConvexHull</string>
		<string>Convolve</string>
		<string>CopyDimLabels</string>
		<string>CopyFile</string>
		<string>CopyFolder</string>
		<string>CopyScales</string>
		<string>Correlate</string>
		<string>cos</string>
		<string>cosh</string>
		<string>cosIntegral</string>
		<string>cot</string>
		<string>coth</string>
		<string>CountObjects</string>
		<string>CountObjectsDFR</string>
		<string>cpowi</string>
		<string>CreateAliasShortcut</string>
		<string>CreateBrowser</string>
		<string>CreationDate</string>
		<string>Cross</string>
		<string>csc</string>
		<string>csch</string>
		<string>CsrInfo</string>
		<string>CsrWave</string>
		<string>CsrWaveRef</string>
		<string>CsrXWave</string>
		<string>CsrXWaveRef</string>
		<string>CTabList</string>
		<string>CtrlBackground</string>
		<string>CtrlFIFO</string>
		<string>CtrlNamedBackground</string>
		<string>Cursor</string>
		<string>CurveFit</string>
		<string>CustomControl</string>
		<string>CWT</string>
		<string>DataFolderDir</string>
		<string>DataFolderExists</string>
		<string>DataFolderRefChanges</string>
		<string>DataFolderRefsEqual</string>
		<string>DataFolderRefStatus</string>
		<string>date</string>
		<string>date2secs</string>
		<string>datetime</string>
		<string>DateToJulian</string>
		<string>Dawson</string>
		<string>Debugger</string>
		<string>DebuggerOptions</string>
		<string>default</string>
		<string>DefaultFont</string>
		<string>DefaultGuiControls</string>
		<string>DefaultGuiFont</string>
		<string>DefaultTextEncoding</string>
		<string>defined</string>
		<string>DefineGuide</string>
		<string>DelayUpdate</string>
		<string>DeleteAnnotations</string>
		<string>DeleteFile</string>
		<string>DeleteFolder</string>
		<string>DeletePoints</string>
		<string>deltax</string>
		<string>DFREF</string>
		<string>Differentiate</string>
		<string>digamma</string>
		<string>dilogarithm</string>
		<string>DimDelta</string>
		<string>DimOffset</string>
		<string>DimSize</string>
		<string>dir</string>
		<string>Display</string>
		<string>DisplayHelpTopic</string>
		<string>DisplayProcedure</string>
		<string>do</string>
		<string>DoAlert</string>
		<string>DoIgorMenu</string>
		<string>DoUpdate</string>
		<string>DoWindow</string>
		<string>DoXOPIdle</string>
		<string>DPSS</string>
		<string>DrawAction</string>
		<string>DrawArc</string>
		<string>DrawBezier</string>
		<string>DrawLine</string>
		<string>DrawOval</string>
		<string>DrawPICT</string>
		<string>DrawPoly</string>
		<string>DrawRect</string>
		<string>DrawRRect</string>
		<string>DrawText</string>
		<string>DrawUserShape</string>
		<string>DSPDetrend</string>
		<string>DSPPeriodogram</string>
		<string>Duplicate</string>
		<string>DuplicateDataFolder</string>
		<string>DWT</string>
		<string>e</string>
		<string>EdgeStats</string>
		<string>Edit</string>
		<string>ei</string>
		<string>ellipticE</string>
		<string>ellipticK</string>
		<string>else</string>
		<string>elseif</string>
		<string>End</string>
		<string>endfor</string>
		<string>endif</string>
		<string>EndMacro</string>
		<string>EndStructure</string>
		<string>endswitch</string>
		<string>endtry</string>
		<string>enoise</string>
		<string>equalWaves</string>
		<string>erf</string>
		<string>erfc</string>
		<string>erfcw</string>
		<string>ErrorBars</string>
		<string>EstimatePeakSizes</string>
		<string>Execute</string>
		<string>ExecuteScriptText</string>
		<string>exists</string>
		<string>exp</string>
		<string>ExperimentInfo</string>
		<string>ExperimentModified</string>
		<string>expInt</string>
		<string>expIntegralE1</string>
		<string>expNoise</string>
		<string>ExportGizmo</string>
		<string>Extract</string>
		<string>factorial</string>
		<string>Faddeeva</string>
		<string>fakedata</string>
		<string>FastGaussTransform</string>
		<string>FastOp</string>
		<string>faverage</string>
		<string>faverageXY</string>
		<string>FBinRead</string>
		<string>FBinWrite</string>
		<string>FetchURL</string>
		<string>FFT</string>
		<string>FGetPos</string>
		<string>FIFO2Wave</string>
		<string>FIFOStatus</string>
		<string>FilterFIR</string>
		<string>FilterIIR</string>
		<string>FindAPeak</string>
		<string>FindContour</string>
		<string>FindDimLabel</string>
		<string>FindDuplicates</string>
		<string>FindLevel</string>
		<string>FindLevels</string>
		<string>FindListItem</string>
		<string>FindPeak</string>
		<string>FindPointsInPoly</string>
		<string>FindRoots</string>
		<string>FindSequence</string>
		<string>FindValue</string>
		<string>floor</string>
		<string>FMaxFlat</string>
		<string>FontList</string>
		<string>FontSizeHeight</string>
		<string>FontSizeStringWidth</string>
		<string>for</string>
		<string>FPClustering</string>
		<string>fprintf</string>
		<string>FReadLine</string>
		<string>FresnelCos</string>
		<string>FresnelSin</string>
		<string>FSetPos</string>
		<string>FStatus</string>
		<string>FTPCreateDirectory</string>
		<string>FTPDelete</string>
		<string>FTPDownload</string>
		<string>FTPUpload</string>
		<string>FuncFit</string>
		<string>FuncFitMD</string>
		<string>FUNCREF</string>
		<string>FuncRefInfo</string>
		<string>FunctionInfo</string>
		<string>FunctionList</string>
		<string>FunctionPath</string>
		<string>gamma</string>
		<string>gammaEuler</string>
		<string>gammaInc</string>
		<string>gammaNoise</string>
		<string>gammln</string>
		<string>gammp</string>
		<string>gammq</string>
		<string>Gauss</string>
		<string>Gauss1D</string>
		<string>Gauss2D</string>
		<string>GBLoadWave</string>
		<string>gcd</string>
		<string>GeometricMean</string>
		<string>GetAxis</string>
		<string>GetBrowserLine</string>
		<string>GetBrowserSelection</string>
		<string>GetCamera</string>
		<string>GetDataFolder</string>
		<string>GetDataFolderDFR</string>
		<string>GetDefaultFont</string>
		<string>GetDefaultFontSize</string>
		<string>GetDefaultFontStyle</string>
		<string>GetDimLabel</string>
		<string>GetEnvironmentVariable</string>
		<string>GetErrMessage</string>
		<string>GetFileFolderInfo</string>
		<string>GetFormula</string>
		<string>GetGizmo</string>
		<string>GetIndependentModuleName</string>
		<string>GetIndexedObjName</string>
		<string>GetIndexedObjNameDFR</string>
		<string>GetKeyState</string>
		<string>GetLastUserMenuInfo</string>
		<string>GetMarquee</string>
		<string>GetMouse</string>
		<string>GetRTErrMessage</string>
		<string>GetRTError</string>
		<string>GetRTLocation</string>
		<string>GetRTLocInfo</string>
		<string>GetRTStackInfo</string>
		<string>GetScrapText</string>
		<string>GetSelection</string>
		<string>GetUserData</string>
		<string>GetWavesDataFolder</string>
		<string>GetWavesDataFolderDFR</string>
		<string>GetWindow</string>
		<string>GetWindowBrowserSelection</string>
		<string>GizmoInfo</string>
		<string>GizmoScale</string>
		<string>gnoise</string>
		<string>GraphNormal</string>
		<string>GraphWaveDraw</string>
		<string>GraphWaveEdit</string>
		<string>Grep</string>
		<string>GrepList</string>
		<string>GrepString</string>
		<string>GroupBox</string>
		<string>GuideInfo</string>
		<string>GuideNameList</string>
		<string>Hanning</string>
		<string>Hash</string>
		<string>HCluster</string>
		<string>hcsr</string>
		<string>HDF5AttributeInfo</string>
		<string>HDF5CloseFile</string>
		<string>HDF5CloseGroup</string>
		<string>HDF5Control</string>
		<string>HDF5CreateFile</string>
		<string>HDF5CreateGroup</string>
		<string>HDF5CreateLink</string>
		<string>HDF5DatasetInfo</string>
		<string>HDF5Dump</string>
		<string>HDF5DumpErrors</string>
		<string>HDF5FlushFile</string>
		<string>HDF5LibraryInfo</string>
		<string>HDF5LinkInfo</string>
		<string>HDF5ListAttributes</string>
		<string>HDF5ListGroup</string>
		<string>HDF5LoadData</string>
		<string>HDF5LoadGroup</string>
		<string>HDF5LoadImage</string>
		<string>HDF5OpenFile</string>
		<string>HDF5OpenGroup</string>
		<string>HDF5SaveData</string>
		<string>HDF5SaveGroup</string>
		<string>HDF5SaveImage</string>
		<string>HDF5TypeInfo</string>
		<string>HDF5UnlinkObject</string>
		<string>hermite</string>
		<string>hermiteGauss</string>
		<string>HideIgorMenus</string>
		<string>HideInfo</string>
		<string>HideProcedures</string>
		<string>HideTools</string>
		<string>HilbertTransform</string>
		<string>Histogram</string>
		<string>HyperG0F1</string>
		<string>HyperG1F1</string>
		<string>HyperG2F1</string>
		<string>HyperGNoise</string>
		<string>HyperGPFQ</string>
		<string>i</string>
		<string>ICA</string>
		<string>if</string>
		<string>IFFT</string>
		<string>IgorBeforeNewHook</string>
		<string>IgorBeforeQuitHook</string>
		<string>IgorInfo</string>
		<string>IgorMenuHook</string>
		<string>IgorQuitHook</string>
		<string>IgorStartOrNewHook</string>
		<string>IgorVersion</string>
		<string>imag</string>
		<string>ImageAnalyzeParticles</string>
		<string>ImageBlend</string>
		<string>ImageBoundaryToMask</string>
		<string>ImageComposite</string>
		<string>ImageEdgeDetection</string>
		<string>ImageFileInfo</string>
		<string>ImageFilter</string>
		<string>ImageFocus</string>
		<string>ImageFromXYZ</string>
		<string>ImageGenerateROIMask</string>
		<string>ImageGLCM</string>
		<string>ImageHistModification</string>
		<string>ImageHistogram</string>
		<string>ImageInfo</string>
		<string>ImageInterpolate</string>
		<string>ImageLineProfile</string>
		<string>ImageLoad</string>
		<string>ImageMorphology</string>
		<string>ImageNameList</string>
		<string>ImageNameToWaveRef</string>
		<string>ImageRegistration</string>
		<string>ImageRemoveBackground</string>
		<string>ImageRestore</string>
		<string>ImageRotate</string>
		<string>ImageSave</string>
		<string>ImageSeedFill</string>
		<string>ImageSkeleton3d</string>
		<string>ImageSnake</string>
		<string>ImageStats</string>
		<string>ImageThreshold</string>
		<string>ImageTransform</string>
		<string>ImageUnwrapPhase</string>
		<string>ImageWindow</string>
		<string>IndependentModuleList</string>
		<string>IndexedDir</string>
		<string>IndexedFile</string>
		<string>IndexSort</string>
		<string>IndexToScale</string>
		<string>Inf</string>
		<string>InsertPoints</string>
		<string>InstantFrequency</string>
		<string>Integrate</string>
		<string>Integrate1D</string>
		<string>Integrate2D</string>
		<string>IntegrateODE</string>
		<string>interp</string>
		<string>Interp2D</string>
		<string>Interp3D</string>
		<string>Interp3DPath</string>
		<string>Interpolate2</string>
		<string>Interpolate3D</string>
		<string>inverseERF</string>
		<string>inverseERFC</string>
		<string>ItemsInList</string>
		<string>j</string>
		<string>JacobiCn</string>
		<string>JacobiSn</string>
		<string>JCAMPLoadWave</string>
		<string>JointHistogram</string>
		<string>JulianToDate</string>
		<string>KillBackground</string>
		<string>KillControl</string>
		<string>KillDataFolder</string>
		<string>KillFIFO</string>
		<string>KillFreeAxis</string>
		<string>KillPath</string>
		<string>KillPICTs</string>
		<string>KillStrings</string>
		<string>KillVariables</string>
		<string>KillWaves</string>
		<string>KillWindow</string>
		<string>KMeans</string>
		<string>Label</string>
		<string>Laguerre</string>
		<string>LaguerreA</string>
		<string>LaguerreGauss</string>
		<string>LambertW</string>
		<string>Layout</string>
		<string>LayoutInfo</string>
		<string>LayoutPageAction</string>
		<string>LayoutSlideShow</string>
		<string>leftx</string>
		<string>Legend</string>
		<string>LegendreA</string>
		<string>limit</string>
		<string>LinearFeedbackShiftRegister</string>
		<string>ListBox</string>
		<string>ListMatch</string>
		<string>ListToTextWave</string>
		<string>ListToWaveRefWave</string>
		<string>ln</string>
		<string>LoadData</string>
		<string>LoadPackagePreferences</string>
		<string>LoadPICT</string>
		<string>LoadWave</string>
		<string>Loess</string>
		<string>log</string>
		<string>logNormalNoise</string>
		<string>LombPeriodogram</string>
		<string>lorentzianNoise</string>
		<string>LowerStr</string>
		<string>MacroList</string>
		<string>magsqr</string>
		<string>Make</string>
		<string>MakeIndex</string>
		<string>MandelbrotPoint</string>
		<string>MarcumQ</string>
		<string>MarkPerfTestTime</string>
		<string>MatrixBalance</string>
		<string>MatrixCondition</string>
		<string>MatrixConvolve</string>
		<string>MatrixCorr</string>
		<string>MatrixDet</string>
		<string>MatrixDot</string>
		<string>MatrixEigenV</string>
		<string>MatrixFactor</string>
		<string>MatrixFilter</string>
		<string>MatrixGaussJ</string>
		<string>MatrixGLM</string>
		<string>MatrixInverse</string>
		<string>MatrixLinearSolve</string>
		<string>MatrixLinearSolveTD</string>
		<string>MatrixLLS</string>
		<string>MatrixLUBkSub</string>
		<string>MatrixLUD</string>
		<string>MatrixLUDTD</string>
		<string>MatrixMultiply</string>
		<string>MatrixMultiplyAdd</string>
		<string>MatrixOP</string>
		<string>MatrixRank</string>
		<string>MatrixReverseBalance</string>
		<string>MatrixSchur</string>
		<string>MatrixSolve</string>
		<string>MatrixSparse</string>
		<string>MatrixSVBkSub</string>
		<string>MatrixSVD</string>
		<string>MatrixTrace</string>
		<string>MatrixTranspose</string>
		<string>max</string>
		<string>mean</string>
		<string>MeasureStyledText</string>
		<string>median</string>
		<string>Menu</string>
		<string>min</string>
		<string>MLLoadWave</string>
		<string>mod</string>
		<string>ModDate</string>
		<string>Modify</string>
		<string>ModifyBoxPlot</string>
		<string>ModifyBrowser</string>
		<string>ModifyCamera</string>
		<string>ModifyContour</string>
		<string>ModifyControl</string>
		<string>ModifyControlList</string>
		<string>ModifyFreeAxis</string>
		<string>ModifyGizmo</string>
		<string>ModifyGraph</string>
		<string>ModifyImage</string>
		<string>ModifyLayout</string>
		<string>ModifyPanel</string>
		<string>ModifyProcedure</string>
		<string>ModifyTable</string>
		<string>ModifyViolinPlot</string>
		<string>ModifyWaterfall</string>
		<string>MoveDataFolder</string>
		<string>MoveFile</string>
		<string>MoveFolder</string>
		<string>MoveString</string>
		<string>MoveSubwindow</string>
		<string>MoveVariable</string>
		<string>MoveWave</string>
		<string>MoveWindow</string>
		<string>MPFXEMGPeak</string>
		<string>MPFXExpConvExpPeak</string>
		<string>MPFXGaussPeak</string>
		<string>MPFXLorentzianPeak</string>
		<string>MPFXVoigtPeak</string>
		<string>MultiTaperPSD</string>
		<string>MultiThreadingControl</string>
		<string>NameOfWave</string>
		<string>NaN</string>
		<string>NeuralNetworkRun</string>
		<string>NeuralNetworkTrain</string>
		<string>NewCamera</string>
		<string>NewDataFolder</string>
		<string>NewFIFO</string>
		<string>NewFIFOChan</string>
		<string>NewFreeAxis</string>
		<string>NewFreeDataFolder</string>
		<string>NewFreeWave</string>
		<string>NewGizmo</string>
		<string>NewImage</string>
		<string>NewLayout</string>
		<string>NewMovie</string>
		<string>NewNotebook</string>
		<string>NewPanel</string>
		<string>NewPath</string>
		<string>NewWaterfall</string>
		<string>norm</string>
		<string>NormalizeUnicode</string>
		<string>Note</string>
		<string>note</string>
		<string>Notebook</string>
		<string>NotebookAction</string>
		<string>num2char</string>
		<string>num2istr</string>
		<string>num2str</string>
		<string>NumberByKey</string>
		<string>numpnts</string>
		<string>numtype</string>
		<string>NumVarOrDefault</string>
		<string>NVAR</string>
		<string>NVAR_Exists</string>
		<string>Open</string>
		<string>OpenHelp</string>
		<string>OpenNotebook</string>
		<string>OperationList</string>
		<string>Optimize</string>
		<string>Override</string>
		<string>p</string>
		<string>p2rect</string>
		<string>PadString</string>
		<string>PanelResolution</string>
		<string>ParamIsDefault</string>
		<string>ParseFilePath</string>
		<string>ParseOperationTemplate</string>
		<string>PathInfo</string>
		<string>PathList</string>
		<string>PauseForUser</string>
		<string>PauseUpdate</string>
		<string>PCA</string>
		<string>pcsr</string>
		<string>Pi</string>
		<string>PICTInfo</string>
		<string>PICTList</string>
		<string>Picture</string>
		<string>PixelFromAxisVal</string>
		<string>PlayMovie</string>
		<string>PlayMovieAction</string>
		<string>PlaySound</string>
		<string>pnt2x</string>
		<string>poissonNoise</string>
		<string>poly</string>
		<string>poly2D</string>
		<string>PolygonArea</string>
		<string>PolygonOp</string>
		<string>PopupContextualMenu</string>
		<string>PopupMenu</string>
		<string>PossiblyQuoteName</string>
		<string>Preferences</string>
		<string>PrimeFactors</string>
		<string>Print</string>
		<string>printf</string>
		<string>PrintGraphs</string>
		<string>PrintLayout</string>
		<string>PrintNotebook</string>
		<string>PrintSettings</string>
		<string>PrintTable</string>
		<string>ProcedureText</string>
		<string>Project</string>
		<string>PulseStats</string>
		<string>PutScrapText</string>
		<string>pwd</string>
		<string>q</string>
		<string>qcsr</string>
		<string>Quit</string>
		<string>r</string>
		<string>r2polar</string>
		<string>RatioFromNumber</string>
		<string>real</string>
		<string>Redimension</string>
		<string>Remez</string>
		<string>Remove</string>
		<string>RemoveByKey</string>
		<string>RemoveContour</string>
		<string>RemoveEnding</string>
		<string>RemoveFromGizmo</string>
		<string>RemoveFromGraph</string>
		<string>RemoveFromLayout</string>
		<string>RemoveFromList</string>
		<string>RemoveFromTable</string>
		<string>RemoveImage</string>
		<string>RemoveLayoutObjects</string>
		<string>RemoveListItem</string>
		<string>RemovePath</string>
		<string>Rename</string>
		<string>RenameDataFolder</string>
		<string>RenamePath</string>
		<string>RenamePICT</string>
		<string>RenameWindow</string>
		<string>ReorderImages</string>
		<string>ReorderTraces</string>
		<string>ReplaceNumberByKey</string>
		<string>ReplaceString</string>
		<string>ReplaceStringByKey</string>
		<string>ReplaceText</string>
		<string>ReplaceWave</string>
		<string>Resample</string>
		<string>ResumeUpdate</string>
		<string>return</string>
		<string>Reverse</string>
		<string>rightx</string>
		<string>Rotate</string>
		<string>round</string>
		<string>s</string>
		<string>Save</string>
		<string>SaveData</string>
		<string>SaveExperiment</string>
		<string>SaveGizmoCopy</string>
		<string>SaveGraphCopy</string>
		<string>SaveNotebook</string>
		<string>SavePackagePreferences</string>
		<string>SavePICT</string>
		<string>SaveTableCopy</string>
		<string>sawtooth</string>
		<string>scaleToIndex</string>
		<string>ScreenResolution</string>
		<string>sec</string>
		<string>sech</string>
		<string>Secs2Date</string>
		<string>Secs2Time</string>
		<string>SelectNumber</string>
		<string>SelectString</string>
		<string>SetActiveSubwindow</string>
		<string>SetAxis</string>
		<string>SetBackground</string>
		<string>SetDashPattern</string>
		<string>SetDataFolder</string>
		<string>SetDimLabel</string>
		<string>SetDrawEnv</string>
		<string>SetDrawLayer</string>
		<string>SetEnvironmentVariable</string>
		<string>SetFileFolderInfo</string>
		<string>SetFormula</string>
		<string>SetIdlePeriod</string>
		<string>SetIgorHook</string>
		<string>SetIgorMenuMode</string>
		<string>SetIgorOption</string>
		<string>SetMarquee</string>
		<string>SetProcessSleep</string>
		<string>SetRandomSeed</string>
		<string>SetScale</string>
		<string>SetVariable</string>
		<string>SetWaveLock</string>
		<string>SetWaveTextEncoding</string>
		<string>SetWindow</string>
		<string>ShowIgorMenus</string>
		<string>ShowInfo</string>
		<string>ShowTools</string>
		<string>sign</string>
		<string>Silent</string>
		<string>sin</string>
		<string>sinc</string>
		<string>sinh</string>
		<string>sinIntegral</string>
		<string>Sleep</string>
		<string>Slider</string>
		<string>Smooth</string>
		<string>SmoothCustom</string>
		<string>Sort</string>
		<string>SortColumns</string>
		<string>SortList</string>
		<string>SoundInRecord</string>
		<string>SoundInSet</string>
		<string>SoundInStartChart</string>
		<string>SoundInStatus</string>
		<string>SoundInStopChart</string>
		<string>SoundLoadWave</string>
		<string>SoundSaveWave</string>
		<string>SpecialCharacterInfo</string>
		<string>SpecialCharacterList</string>
		<string>SpecialDirPath</string>
		<string>SphericalBessJ</string>
		<string>SphericalBessJD</string>
		<string>SphericalBessY</string>
		<string>SphericalBessYD</string>
		<string>SphericalHarmonics</string>
		<string>SphericalInterpolate</string>
		<string>SphericalTriangulate</string>
		<string>SplitString</string>
		<string>SplitWave</string>
		<string>sprintf</string>
		<string>sqrt</string>
		<string>sscanf</string>
		<string>Stack</string>
		<string>StackWindows</string>
		<string>StartMSTimer</string>
		<string>Static</string>
		<string>StatsAngularDistanceTest</string>
		<string>StatsANOVA1Test</string>
		<string>StatsANOVA2NRTest</string>
		<string>StatsANOVA2RMTest</string>
		<string>StatsANOVA2Test</string>
		<string>StatsBetaCDF</string>
		<string>StatsBetaPDF</string>
		<string>StatsBinomialCDF</string>
		<string>StatsBinomialPDF</string>
		<string>StatsCauchyCDF</string>
		<string>StatsCauchyPDF</string>
		<string>StatsChiCDF</string>
		<string>StatsChiPDF</string>
		<string>StatsChiTest</string>
		<string>StatsCircularCorrelationTest</string>
		<string>StatsCircularMeans</string>
		<string>StatsCircularMoments</string>
		<string>StatsCircularTwoSampleTest</string>
		<string>StatsCMSSDCDF</string>
		<string>StatsCochranTest</string>
		<string>StatsContingencyTable</string>
		<string>StatsCorrelation</string>
		<string>StatsDExpCDF</string>
		<string>StatsDExpPDF</string>
		<string>StatsDIPTest</string>
		<string>StatsDunnettTest</string>
		<string>StatsErlangCDF</string>
		<string>StatsErlangPDF</string>
		<string>StatsErrorPDF</string>
		<string>StatsEValueCDF</string>
		<string>StatsEValuePDF</string>
		<string>StatsExpCDF</string>
		<string>StatsExpPDF</string>
		<string>StatsFCDF</string>
		<string>StatsFPDF</string>
		<string>StatsFriedmanCDF</string>
		<string>StatsFriedmanTest</string>
		<string>StatsFTest</string>
		<string>StatsGammaCDF</string>
		<string>StatsGammaPDF</string>
		<string>StatsGeometricCDF</string>
		<string>StatsGeometricPDF</string>
		<string>StatsGEVCDF</string>
		<string>StatsGEVPDF</string>
		<string>StatsHodgesAjneTest</string>
		<string>StatsHyperGCDF</string>
		<string>StatsHyperGPDF</string>
		<string>StatsInvBetaCDF</string>
		<string>StatsInvBinomialCDF</string>
		<string>StatsInvCauchyCDF</string>
		<string>StatsInvChiCDF</string>
		<string>StatsInvCMSSDCDF</string>
		<string>StatsInvDExpCDF</string>
		<string>StatsInvEValueCDF</string>
		<string>StatsInvExpCDF</string>
		<string>StatsInvFCDF</string>
		<string>StatsInvFriedmanCDF</string>
		<string>StatsInvGammaCDF</string>
		<string>StatsInvGeometricCDF</string>
		<string>StatsInvKuiperCDF</string>
		<string>StatsInvLogisticCDF</string>
		<string>StatsInvLogNormalCDF</string>
		<string>StatsInvMaxwellCDF</string>
		<string>StatsInvMooreCDF</string>
		<string>StatsInvNBinomialCDF</string>
		<string>StatsInvNCChiCDF</string>
		<string>StatsInvNCFCDF</string>
		<string>StatsInvNormalCDF</string>
		<string>StatsInvParetoCDF</string>
		<string>StatsInvPoissonCDF</string>
		<string>StatsInvPowerCDF</string>
		<string>StatsInvQCDF</string>
		<string>StatsInvQpCDF</string>
		<string>StatsInvRayleighCDF</string>
		<string>StatsInvRectangularCDF</string>
		<string>StatsInvSpearmanCDF</string>
		<string>StatsInvStudentCDF</string>
		<string>StatsInvTopDownCDF</string>
		<string>StatsInvTriangularCDF</string>
		<string>StatsInvUsquaredCDF</string>
		<string>StatsInvVonMisesCDF</string>
		<string>StatsInvWeibullCDF</string>
		<string>StatsJBTest</string>
		<string>StatsKDE</string>
		<string>StatsKendallTauTest</string>
		<string>StatsKSTest</string>
		<string>StatsKuiperCDF</string>
		<string>StatsKWTest</string>
		<string>StatsLinearCorrelationTest</string>
		<string>StatsLinearRegression</string>
		<string>StatsLogisticCDF</string>
		<string>StatsLogisticPDF</string>
		<string>StatsLogNormalCDF</string>
		<string>StatsLogNormalPDF</string>
		<string>StatsMaxwellCDF</string>
		<string>StatsMaxwellPDF</string>
		<string>StatsMedian</string>
		<string>StatsMooreCDF</string>
		<string>StatsMultiCorrelationTest</string>
		<string>StatsNBinomialCDF</string>
		<string>StatsNBinomialPDF</string>
		<string>StatsNCChiCDF</string>
		<string>StatsNCChiPDF</string>
		<string>StatsNCFCDF</string>
		<string>StatsNCFPDF</string>
		<string>StatsNCTCDF</string>
		<string>StatsNCTPDF</string>
		<string>StatsNormalCDF</string>
		<string>StatsNormalPDF</string>
		<string>StatsNPMCTest</string>
		<string>StatsNPNominalSRTest</string>
		<string>StatsParetoCDF</string>
		<string>StatsParetoPDF</string>
		<string>StatsPermute</string>
		<string>StatsPoissonCDF</string>
		<string>StatsPoissonPDF</string>
		<string>StatsPowerCDF</string>
		<string>StatsPowerNoise</string>
		<string>StatsPowerPDF</string>
		<string>StatsQCDF</string>
		<string>StatsQpCDF</string>
		<string>StatsQuantiles</string>
		<string>StatsRankCorrelationTest</string>
		<string>StatsRayleighCDF</string>
		<string>StatsRayleighPDF</string>
		<string>StatsRectangularCDF</string>
		<string>StatsRectangularPDF</string>
		<string>StatsResample</string>
		<string>StatsRunsCDF</string>
		<string>StatsSample</string>
		<string>StatsScheffeTest</string>
		<string>StatsShapiroWilkTest</string>
		<string>StatsSignTest</string>
		<string>StatsSpearmanRhoCDF</string>
		<string>StatsSRTest</string>
		<string>StatsStudentCDF</string>
		<string>StatsStudentPDF</string>
		<string>StatsTopDownCDF</string>
		<string>StatsTriangularCDF</string>
		<string>StatsTriangularPDF</string>
		<string>StatsTrimmedMean</string>
		<string>StatsTTest</string>
		<string>StatsTukeyTest</string>
		<string>StatsUSquaredCDF</string>
		<string>StatsVariancesTest</string>
		<string>StatsVonMisesCDF</string>
		<string>StatsVonMisesNoise</string>
		<string>StatsVonMisesPDF</string>
		<string>StatsWaldCDF</string>
		<string>StatsWaldPDF</string>
		<string>StatsWatsonUSquaredTest</string>
		<string>StatsWatsonWilliamsTest</string>
		<string>StatsWeibullCDF</string>
		<string>StatsWeibullPDF</string>
		<string>StatsWheelerWatsonTest</string>
		<string>StatsWilcoxonRankTest</string>
		<string>StatsWRCorrelationTest</string>
		<string>STFT</string>
		<string>StopMSTimer</string>
		<string>str2num</string>
		<string>StrConstant</string>
		<string>String</string>
		<string>String</string>
		<string>StringByKey</string>
		<string>stringCRC</string>
		<string>StringFromList</string>
		<string>StringList</string>
		<string>stringmatch</string>
		<string>strlen</string>
		<string>strsearch</string>
		<string>strswitch</string>
		<string>STRUCT</string>
		<string>StructFill</string>
		<string>StructGet</string>
		<string>StructPut</string>
		<string>Structure</string>
		<string>StrVarOrDefault</string>
		<string>StudentA</string>
		<string>StudentT</string>
		<string>Submenu</string>
		<string>sum</string>
		<string>SumDimension</string>
		<string>SumSeries</string>
		<string>SVAR</string>
		<string>SVAR_Exists</string>
		<string>t</string>
		<string>TabControl</string>
		<string>TableInfo</string>
		<string>Tag</string>
		<string>TagVal</string>
		<string>TagWaveRef</string>
		<string>tan</string>
		<string>tanh</string>
		<string>TextBox</string>
		<string>TextEncodingCode</string>
		<string>TextEncodingName</string>
		<string>TextFile</string>
		<string>TextHistogram</string>
		<string>ThreadGroupCreate</string>
		<string>ThreadGroupGetDF</string>
		<string>ThreadGroupGetDFR</string>
		<string>ThreadGroupPutDF</string>
		<string>ThreadGroupRelease</string>
		<string>ThreadGroupWait</string>
		<string>ThreadProcessorCount</string>
		<string>ThreadReturnValue</string>
		<string>ThreadStart</string>
		<string>ticks</string>
		<string>TickWavesFromAxis</string>
		<string>Tile</string>
		<string>TileWindows</string>
		<string>time</string>
		<string>TitleBox</string>
		<string>ToCommandLine</string>
		<string>ToolsGrid</string>
		<string>TraceFromPixel</string>
		<string>TraceInfo</string>
		<string>TraceNameList</string>
		<string>TraceNameToWaveRef</string>
		<string>Triangulate3d</string>
		<string>TrimString</string>
		<string>trunc</string>
		<string>try</string>
		<string>UniqueName</string>
		<string>UnPadString</string>
		<string>UnsetEnvironmentVariable</string>
		<string>Unwrap</string>
		<string>UnzipFile</string>
		<string>UpperStr</string>
		<string>URLDecode</string>
		<string>URLEncode</string>
		<string>URLRequest</string>
		<string>ValDisplay</string>
		<string>Variable</string>
		<string>Variable</string>
		<string>VariableList</string>
		<string>Variance</string>
		<string>vcsr</string>
		<string>VoigtFunc</string>
		<string>VoigtPeak</string>
		<string>WAVE</string>
		<string>WaveCRC</string>
		<string>WaveDims</string>
		<string>WaveExists</string>
		<string>WaveHash</string>
		<string>WaveInfo</string>
		<string>WaveList</string>
		<string>WaveMax</string>
		<string>WaveMeanStdv</string>
		<string>WaveMin</string>
		<string>WaveMinAndMax</string>
		<string>WaveModCount</string>
		<string>WaveName</string>
		<string>WaveRefIndexed</string>
		<string>WaveRefIndexedDFR</string>
		<string>WaveRefsEqual</string>
		<string>WaveRefWaveToList</string>
		<string>WaveStats</string>
		<string>WaveTextEncoding</string>
		<string>WaveTransform</string>
		<string>WaveType</string>
		<string>WaveUnits</string>
		<string>wfprintf</string>
		<string>WhichListItem</string>
		<string>while</string>
		<string>WignerTransform</string>
		<string>WindowFunction</string>
		<string>WinList</string>
		<string>WinName</string>
		<string>WinRecreation</string>
		<string>WinType</string>
		<string>wnoise</string>
		<string>x</string>
		<string>x2pnt</string>
		<string>xcsr</string>
		<string>XLLoadWave</string>
		<string>XWaveName</string>
		<string>XWaveRefFromTrace</string>
		<string>y</string>
		<string>z</string>
		<string>zcsr</string>
		<string>ZernikeR</string>
		<string>zeta</string>
	</array>
	<key>BBLMKeywordList</key>
	<array>
		<string>End</string>
		<string>EndMacro</string>
		<string>Function</string>
		<string>Macro</string>
		<string>Proc</string>
		<string>Window</string>
		<string>if</string>
		<string>else</string>
		<string>endif</string>
		<string>elseif</string>
		<string>for</string>
		<string>endfor</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz.</string>
		<key>Comment Pattern</key>
		<string>(?&gt;//.*$)</string>
		<key>Function Pattern</key>
		<string><![CDATA[
			(?x:														# free format (match space only if enclosed in [], allow comments
				(?P<function>(?: ^[ \t]*								# start of entire function/proc etc capture, allow optional leading spaces
					(?:													# function or macro or proc or window group
						(?:												# function group
							(?: (?: Static | Override) [ \t]+ ){0,1}	# function preamble
							function [ \t]*								# "function" literal with optional spaces after
							(?:											# optional [Wave w] or /S <space> follows
								(?: \[ [^\]]*? \] ) | (?: (?: \/ \w+ [ \t] ) )
							){0,1}?
						)							 
						| macro [ \t] | proc [ \t] | window [ \t]		# require one space after Macro, Proc, or Window 
					)
					[ \t]*												# allow additional space(s)
						(?P<function_name> \w+ ) [ \t]* \( .*? \)		# capture function name, optional space, opening paren, params, closing paren
				) 
				(?s:.+?)												# matches end of function/macro line and following code lines
				[\n]*? [ \t]* (?: endmacro \b | end \b)					# last line of function/Macro
				)
			)
		]]></string>
		<key>Skip Pattern</key>
		<string>(?x:
					(?&gt; (?P&gt;comment) | (?P&gt;string) )
				)</string>
		<key>String Pattern</key>
		<string>(?x:
			(?&gt;	&quot;	(?s: \\. | [^&quot;] )*?		(?: &quot; | $)	)	|
			(?&gt;	&apos;	(?s: \\. | [^&apos;] )*?		(?: &apos; | $)	)
		)</string>
	</dict>
</dict>
</plist>
