<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>M4 Macro File</string>
	<key>BBLMLanguageCode</key>
	<string>M4</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>configure.in</string>
		<string>configure.ac</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.m4</string>
		</dict>
	</array>
	<key>BBLMKeywordList</key>
	<array>
		<string>__file__</string>
		<string>__line__</string>
		<string>__oline__</string>
		<string>do</string>
		<string>done</string>
		<string>elif</string>
		<string>else</string>
		<string>fi</string>
		<string>for</string>
		<string>if</string>
		<string>then</string>
		<string>while</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>AC_ARG_ENABLE</string>
		<string>AC_ARG_PROGRAM</string>
		<string>AC_ARG_VAR</string>
		<string>AC_ARG_WITH</string>
		<string>AC_AUTOCONF_VERSION</string>
		<string>AC_BEFORE</string>
		<string>AC_C_BACKSLASH_A</string>
		<string>AC_C_BIGENDIAN</string>
		<string>AC_C_CHAR_UNSIGNED</string>
		<string>AC_C_CONST</string>
		<string>AC_C_FLEXIBLE_ARRAY_MEMBER</string>
		<string>AC_C_INLINE</string>
		<string>AC_C_PROTOTYPES</string>
		<string>AC_C_RESTRICT</string>
		<string>AC_C_STRINGIZE</string>
		<string>AC_C_TYPEOF</string>
		<string>AC_C_VARARRAYS</string>
		<string>AC_C_VOLATILE</string>
		<string>AC_CACHE_CHECK</string>
		<string>AC_CACHE_LOAD</string>
		<string>AC_CACHE_SAVE</string>
		<string>AC_CACHE_VAL</string>
		<string>AC_CANONICAL_BUILD</string>
		<string>AC_CANONICAL_HOST</string>
		<string>AC_CANONICAL_TARGET</string>
		<string>AC_CHECK_ALIGNOF</string>
		<string>AC_CHECK_DECL</string>
		<string>AC_CHECK_DECLS</string>
		<string>AC_CHECK_DECLS_ONCE</string>
		<string>AC_CHECK_FILE</string>
		<string>AC_CHECK_FILES</string>
		<string>AC_CHECK_FUNC</string>
		<string>AC_CHECK_FUNCS</string>
		<string>AC_CHECK_FUNCS_ONCE</string>
		<string>AC_CHECK_HEADER</string>
		<string>AC_CHECK_HEADERS</string>
		<string>AC_CHECK_HEADERS_ONCE</string>
		<string>AC_CHECK_LIB</string>
		<string>AC_CHECK_MEMBER</string>
		<string>AC_CHECK_MEMBERS</string>
		<string>AC_CHECK_PROG</string>
		<string>AC_CHECK_PROGS</string>
		<string>AC_CHECK_SIZEOF</string>
		<string>AC_CHECK_TARGET_TOOL</string>
		<string>AC_CHECK_TARGET_TOOLS</string>
		<string>AC_CHECK_TOOL</string>
		<string>AC_CHECK_TOOLS</string>
		<string>AC_CHECK_TYPE</string>
		<string>AC_CHECK_TYPES</string>
		<string>AC_COMPILE_IFELSE</string>
		<string>AC_COMPUTE_INT</string>
		<string>AC_CONFIG_AUX_DIR</string>
		<string>AC_CONFIG_COMMANDS</string>
		<string>AC_CONFIG_COMMANDS_POST</string>
		<string>AC_CONFIG_COMMANDS_PRE</string>
		<string>AC_CONFIG_FILES</string>
		<string>AC_CONFIG_HEADERS</string>
		<string>AC_CONFIG_</string>
		<string>AC_CONFIG_LIBOBJ_DIR</string>
		<string>AC_CONFIG_LINKS</string>
		<string>AC_CONFIG_MACRO_DIR</string>
		<string>AC_CONFIG_SRCDIR</string>
		<string>AC_CONFIG_SUBDIRS</string>
		<string>AC_CONFIG_TESTDIR</string>
		<string>AC_COPYRIGHT</string>
		<string>AC_DATAROOTDIR_CHECKED</string>
		<string>AC_DEFINE</string>
		<string>AC_DEFINE_UNQUOTED</string>
		<string>AC_DEFUN</string>
		<string>AC_DEFUN_ONCE</string>
		<string>AC_DIAGNOSE</string>
		<string>AC_DISABLE_OPTION_CHECKING</string>
		<string>AC_EGREP_CPP</string>
		<string>AC_EGREP_HEADER</string>
		<string>AC_ERLANG_CHECK_LIB</string>
		<string>AC_ERLANG_NEED_ERL</string>
		<string>AC_ERLANG_NEED_ERLC</string>
		<string>AC_ERLANG_PATH_ERL</string>
		<string>AC_ERLANG_PATH_ERLC</string>
		<string>AC_ERLANG_SUBST_ERTS_VER</string>
		<string>AC_ERLANG_SUBST_INSTALL_LIB_DIR</string>
		<string>AC_ERLANG_SUBST_INSTALL_LIB_DIR</string>
		<string>AC_ERLANG_SUBST_INSTALL_LIB_SUBDIR</string>
		<string>AC_ERLANG_SUBST_INSTALL_LIB_SUBDIR</string>
		<string>AC_ERLANG_SUBST_LIB_DIR</string>
		<string>AC_ERLANG_SUBST_ROOT_DIR</string>
		<string>AC_F77_DUMMY_MAIN</string>
		<string>AC_F77_FUNC</string>
		<string>AC_F77_LIBRARY_LDFLAGS</string>
		<string>AC_F77_MAIN</string>
		<string>AC_F77_WRAPPERS</string>
		<string>AC_FATAL</string>
		<string>AC_FC_DUMMY_MAIN</string>
		<string>AC_FC_FIXEDFORM</string>
		<string>AC_FC_FREEFORM</string>
		<string>AC_FC_FUNC</string>
		<string>AC_FC_LIBRARY_LDFLAGS</string>
		<string>AC_FC_LINE_LENGTH</string>
		<string>AC_FC_MAIN</string>
		<string>AC_FC_SRCEXT</string>
		<string>AC_FC_WRAPPERS</string>
		<string>AC_FUNC_ALLOCA</string>
		<string>AC_FUNC_CHOWN</string>
		<string>AC_FUNC_CLOSEDIR_VOID</string>
		<string>AC_FUNC_ERROR_AT_LINE</string>
		<string>AC_FUNC_FNMATCH</string>
		<string>AC_FUNC_FNMATCH_GNU</string>
		<string>AC_FUNC_FORK</string>
		<string>AC_FUNC_FSEEKO</string>
		<string>AC_FUNC_GETGROUPS</string>
		<string>AC_FUNC_GETLOADAVG</string>
		<string>AC_FUNC_GETMNTENT</string>
		<string>AC_FUNC_GETPGRP</string>
		<string>AC_FUNC_LSTAT</string>
		<string>AC_FUNC_LSTAT_FOLLOWS_SLASHED_SYMLINK</string>
		<string>AC_FUNC_MALLOC</string>
		<string>AC_FUNC_MBRTOWC</string>
		<string>AC_FUNC_MEMCMP</string>
		<string>AC_FUNC_MKTIME</string>
		<string>AC_FUNC_MMAP</string>
		<string>AC_FUNC_OBSTACK</string>
		<string>AC_FUNC_REALLOC</string>
		<string>AC_FUNC_SELECT_ARGTYPES</string>
		<string>AC_FUNC_SETPGRP</string>
		<string>AC_FUNC_STAT</string>
		<string>AC_FUNC_STRCOLL</string>
		<string>AC_FUNC_STRERROR_R</string>
		<string>AC_FUNC_STRFTIME</string>
		<string>AC_FUNC_STRNLEN</string>
		<string>AC_FUNC_STRTOD</string>
		<string>AC_FUNC_STRTOLD</string>
		<string>AC_FUNC_UTIME_NULL</string>
		<string>AC_FUNC_VPRINTF</string>
		<string>AC_HEADER_ASSERT</string>
		<string>AC_HEADER_DIRENT</string>
		<string>AC_HEADER_MAJOR</string>
		<string>AC_HEADER_RESOLV</string>
		<string>AC_HEADER_STAT</string>
		<string>AC_HEADER_STDBOOL</string>
		<string>AC_HEADER_STDC</string>
		<string>AC_HEADER_SYS_WAIT</string>
		<string>AC_HEADER_TIME</string>
		<string>AC_HEADER_TIOCGWINSZ</string>
		<string>AC_INCLUDES_DEFAULT</string>
		<string>AC_INIT</string>
		<string>AC_LANG</string>
		<string>AC_LANG_ASSERT</string>
		<string>AC_LANG_CALL</string>
		<string>AC_LANG_CONFTEST</string>
		<string>AC_LANG_DEFINES_PROVIDED</string>
		<string>AC_LANG_FUNC_LINK_TRY</string>
		<string>AC_LANG_POP</string>
		<string>AC_LANG_PROGRAM</string>
		<string>AC_LANG_PUSH</string>
		<string>AC_LANG_SOURCE</string>
		<string>AC_LANG_WERROR</string>
		<string>AC_LIBOBJ</string>
		<string>AC_LIBSOURCE</string>
		<string>AC_LIBSOURCES</string>
		<string>AC_LINK_IFELSE</string>
		<string>AC_MSG_CHECKING</string>
		<string>AC_MSG_ERROR</string>
		<string>AC_MSG_FAILURE</string>
		<string>AC_MSG_NOTICE</string>
		<string>AC_MSG_RESULT</string>
		<string>AC_MSG_WARN</string>
		<string>AC_OPENMP</string>
		<string>AC_OUTPUT</string>
		<string>AC_PACKAGE_BUGREPORT</string>
		<string>AC_PACKAGE_NAME</string>
		<string>AC_PACKAGE_STRING</string>
		<string>AC_PACKAGE_TARNAME</string>
		<string>AC_PACKAGE_URL</string>
		<string>AC_PACKAGE_VERSION</string>
		<string>AC_PATH_PROG</string>
		<string>AC_PATH_PROGS</string>
		<string>AC_PATH_PROGS_FEATURE_CHECK</string>
		<string>AC_PATH_TARGET_TOOL</string>
		<string>AC_PATH_TOOL</string>
		<string>AC_PATH_X</string>
		<string>AC_PATH_XTRA</string>
		<string>AC_PREFIX_DEFAULT</string>
		<string>AC_PREFIX_PROGRAM</string>
		<string>AC_PREPROC_IFELSE</string>
		<string>AC_PREREQ</string>
		<string>AC_PRESERVE_HELP_ORDER</string>
		<string>AC_PROG_AWK</string>
		<string>AC_PROG_CC</string>
		<string>AC_PROG_CC_C89</string>
		<string>AC_PROG_CC_C99</string>
		<string>AC_PROG_CC_C_O</string>
		<string>AC_PROG_CC_STDC</string>
		<string>AC_PROG_CPP</string>
		<string>AC_PROG_CPP_WERROR</string>
		<string>AC_PROG_CXX</string>
		<string>AC_PROG_CXX_C_O</string>
		<string>AC_PROG_CXXCPP</string>
		<string>AC_PROG_EGREP</string>
		<string>AC_PROG_F77</string>
		<string>AC_PROG_F77_C_O</string>
		<string>AC_PROG_FC</string>
		<string>AC_PROG_FC_C_O</string>
		<string>AC_PROG_FGREP</string>
		<string>AC_PROG_GCC_TRADITIONAL</string>
		<string>AC_PROG_GREP</string>
		<string>AC_PROG_INSTALL</string>
		<string>AC_PROG_LEX</string>
		<string>AC_PROG_LIBTOOL</string>
		<string>AC_PROG_LN_S</string>
		<string>AC_PROG_MAKE_SET</string>
		<string>AC_PROG_MKDIR_P</string>
		<string>AC_PROG_OBJC</string>
		<string>AC_PROG_OBJCPP</string>
		<string>AC_PROG_OBJCXX</string>
		<string>AC_PROG_OBJCXXCPP</string>
		<string>AC_PROG_RANLIB</string>
		<string>AC_PROG_SED</string>
		<string>AC_PROG_YACC</string>
		<string>AC_REPLACE_FNMATCH</string>
		<string>AC_REPLACE_FUNCS</string>
		<string>AC_REQUIRE</string>
		<string>AC_REQUIRE_AUX_FILE</string>
		<string>AC_REQUIRE_CPP</string>
		<string>AC_REVISION</string>
		<string>AC_RUN_IFELSE</string>
		<string>AC_SEARCH_LIBS</string>
		<string>AC_STRUCT_DIRENT_D_INO</string>
		<string>AC_STRUCT_DIRENT_D_TYPE</string>
		<string>AC_STRUCT_ST_BLOCKS</string>
		<string>AC_STRUCT_TIMEZONE</string>
		<string>AC_STRUCT_TM</string>
		<string>AC_SUBST</string>
		<string>AC_SUBST_FILE</string>
		<string>AC_SYS_INTERPRETER</string>
		<string>AC_SYS_LARGEFILE</string>
		<string>AC_SYS_LONG_FILE_NAMES</string>
		<string>AC_SYS_POSIX_TERMIOS</string>
		<string>AC_TYPE_GETGROUPS</string>
		<string>AC_TYPE_INT16_T</string>
		<string>AC_TYPE_INT32_T</string>
		<string>AC_TYPE_INT64_T</string>
		<string>AC_TYPE_INT8_T</string>
		<string>AC_TYPE_INTMAX_T</string>
		<string>AC_TYPE_INTPTR_T</string>
		<string>AC_TYPE_LONG_DOUBLE</string>
		<string>AC_TYPE_LONG_DOUBLE_WIDER</string>
		<string>AC_TYPE_LONG_LONG_INT</string>
		<string>AC_TYPE_MBSTATE_T</string>
		<string>AC_TYPE_MODE_T</string>
		<string>AC_TYPE_OFF_T</string>
		<string>AC_TYPE_PID_T</string>
		<string>AC_TYPE_SIZE_T</string>
		<string>AC_TYPE_SSIZE_T</string>
		<string>AC_TYPE_UID_T</string>
		<string>AC_TYPE_UINT16_T</string>
		<string>AC_TYPE_UINT32_T</string>
		<string>AC_TYPE_UINT64_T</string>
		<string>AC_TYPE_UINT8_T</string>
		<string>AC_TYPE_UINTMAX_T</string>
		<string>AC_TYPE_UINTPTR_T</string>
		<string>AC_TYPE_UNSIGNED_LONG_LONG_INT</string>
		<string>AC_USE_SYSTEM_EXTENSIONS</string>
		<string>AC_WARNING</string>

		<string>AH_BOTTOM</string>
		<string>AH_HEADER</string>
		<string>AH_TEMPLATE</string>
		<string>AH_TOP</string>
		<string>AH_VERBATIM</string>

		<string>AM_C_PROTOTYPES</string>
		<string>AM_COND_IF</string>
		<string>AM_CONDITIONAL</string>
		<string>AM_DEP_TRACK</string>
		<string>AM_ENABLE_MULTILIB</string>
		<string>AM_GNU_GETTEXT_INTL_SUBDIR</string>
		<string>AM_GNU_GETTEXT</string>
		<string>AM_INIT_AUTOMAKE</string>
		<string>AM_MAINTAINER_MODE</string>
		<string>AM_MAKE_INCLUDE</string>
		<string>AM_OUTPUT_DEPENDENCY_COMMANDS</string>
		<string>AM_PATH_LISPDIR</string>
		<string>AM_PATH_PYTHON</string>
		<string>AM_PROG_AS</string>
		<string>AM_PROG_CC_C_O</string>
		<string>AM_PROG_GCJ</string>
		<string>AM_PROG_INSTALL_STRIP</string>
		<string>AM_PROG_LEX</string>
		<string>AM_PROG_UPC</string>
		<string>AM_PROG_VALAC</string>
		<string>AM_SANITY_CHECK</string>
		<string>AM_SET_DEPDIR</string>
		<string>AM_SILENT_RULES</string>
		<string>AM_SUBST_NOTMAKE</string>
		<string>AM_WITH_DMALLOC</string>
		<string>AM_WITH_REGEX</string>

		<string>AS_BOURNE_COMPATIBLE</string>
		<string>AS_BOX</string>
		<string>AS_CASE</string>
		<string>AS_DIRNAME</string>
		<string>AS_ECHO_N</string>
		<string>AS_ECHO</string>
		<string>AS_ESCAPE</string>
		<string>AS_EXIT</string>
		<string>AS_HELP_STRING</string>
		<string>AS_IF</string>
		<string>AS_INIT_GENERATED</string>
		<string>AS_INIT</string>
		<string>AS_LINENO_PREPARE</string>
		<string>AS_LITERAL_IF</string>
		<string>AS_LITERAL_WORD_IF</string>
		<string>AS_ME_PREPARE</string>
		<string>AS_MESSAGE_FD</string>
		<string>AS_MESSAGE_LOG_FD</string>
		<string>AS_MKDIR_P</string>
		<string>AS_ORIGINAL_STDIN_FD</string>
		<string>AS_SET_CATFILE</string>
		<string>AS_SET_STATUS</string>
		<string>AS_SHELL_SANITIZE</string>
		<string>AS_TMPDIR</string>
		<string>AS_TR_CPP</string>
		<string>AS_TR_SH</string>
		<string>AS_UNSET</string>
		<string>AS_VAR_APPEND</string>
		<string>AS_VAR_ARITH</string>
		<string>AS_VAR_COPY</string>
		<string>AS_VAR_IF</string>
		<string>AS_VAR_POPDEF</string>
		<string>AS_VAR_PUSHDEF</string>
		<string>AS_VAR_SET_IF</string>
		<string>AS_VAR_SET</string>
		<string>AS_VAR_TEST_SET</string>
		<string>AS_VERSION_COMPARE</string>

		<string>AT_ARG_OPTION</string>
		<string>AT_ARG_OPTION_ARG</string>
		<string>AT_BANNER</string>
		<string>AT_CAPTURE_FILE</string>
		<string>AT_CHECK</string>
		<string>AT_CHECK_EUNIT</string>
		<string>AT_CHECK_UNQUOTED</string>
		<string>AT_CLEANUP</string>
		<string>AT_COLOR_TESTS</string>
		<string>AT_COPYRIGHT</string>
		<string>AT_DATA</string>
		<string>AT_FAIL_IF</string>
		<string>AT_INIT</string>
		<string>AT_KEYWORDS</string>
		<string>AT_PACKAGE_BUGREPORT</string>
		<string>AT_PACKAGE_NAME</string>
		<string>AT_PACKAGE_STRING</string>
		<string>AT_PACKAGE_TARNAME</string>
		<string>AT_PACKAGE_URL</string>
		<string>AT_PACKAGE_VERSION</string>
		<string>AT_SETUP</string>
		<string>AT_SKIP_IF</string>
		<string>AT_TESTED</string>
		<string>AT_XFAIL_IF</string>

		<string>AU_ALIAS</string>
		<string>AU_DEFUN</string>

		<string>m4_append_uniq_w</string>
		<string>m4_append_uniq</string>
		<string>m4_append</string>
		<string>m4_apply</string>
		<string>m4_argn</string>
		<string>m4_assert</string>
		<string>m4_bmatch</string>
		<string>m4_bpatsubst</string>
		<string>m4_bpatsubsts</string>
		<string>m4_bregexp</string>
		<string>m4_builtin</string>
		<string>m4_car</string>
		<string>m4_case</string>
		<string>m4_cdr</string>
		<string>m4_changecom</string>
		<string>m4_changequote</string>
		<string>m4_chomp_all</string>
		<string>m4_chomp</string>
		<string>m4_cleardivert</string>
		<string>m4_cmp</string>
		<string>m4_combine</string>
		<string>m4_cond</string>
		<string>m4_copy_force</string>
		<string>m4_copy</string>
		<string>m4_count</string>
		<string>m4_curry</string>
		<string>m4_debugfile</string>
		<string>m4_debugmode</string>
		<string>m4_decr</string>
		<string>m4_default_nblank_quoted</string>
		<string>m4_default_nblank</string>
		<string>m4_default_quoted</string>
		<string>m4_default</string>
		<string>m4_define_default</string>
		<string>m4_define</string>
		<string>m4_defn</string>
		<string>m4_divert_once</string>
		<string>m4_divert_pop</string>
		<string>m4_divert_push</string>
		<string>m4_divert_text</string>
		<string>m4_divert</string>
		<string>m4_divnum</string>
		<string>m4_do</string>
		<string>m4_dquote_elt</string>
		<string>m4_dquote</string>
		<string>m4_dumpdef</string>
		<string>m4_dumpdefs</string>
		<string>m4_echo</string>
		<string>m4_errprint</string>
		<string>m4_errprintn</string>
		<string>m4_escape</string>
		<string>m4_esyscmd_s</string>
		<string>m4_esyscmd</string>
		<string>m4_eval</string>
		<string>m4_exit</string>
		<string>m4_expand</string>
		<string>m4_fatal</string>
		<string>m4_flatten</string>
		<string>m4_for</string>
		<string>m4_foreach_w</string>
		<string>m4_foreach</string>
		<string>m4_format</string>
		<string>m4_if</string>
		<string>m4_ifblank</string>
		<string>m4_ifdef</string>
		<string>m4_ifnblank</string>
		<string>m4_ifndef</string>
		<string>m4_ifset</string>
		<string>m4_ifval</string>
		<string>m4_ifvaln</string>
		<string>m4_ignore</string>
		<string>m4_include</string>
		<string>m4_incr</string>
		<string>m4_index</string>
		<string>m4_indir</string>
		<string>m4_init</string>
		<string>m4_join</string>
		<string>m4_joinall</string>
		<string>m4_len</string>
		<string>m4_list_cmp</string>
		<string>m4_location</string>
		<string>m4_make_list</string>
		<string>m4_maketemp</string>
		<string>m4_map_args_pair</string>
		<string>m4_map_args_sep</string>
		<string>m4_map_args_w</string>
		<string>m4_map_args</string>
		<string>m4_map_sep</string>
		<string>m4_map</string>
		<string>m4_mapall_sep</string>
		<string>m4_mapall</string>
		<string>m4_max</string>
		<string>m4_min</string>
		<string>m4_mkstemp</string>
		<string>m4_n</string>
		<string>m4_newline</string>
		<string>m4_normalize</string>
		<string>m4_pattern_allow</string>
		<string>m4_pattern_forbid</string>
		<string>m4_popdef</string>
		<string>m4_pushdef</string>
		<string>m4_quote</string>
		<string>m4_re_escape</string>
		<string>m4_rename_force</string>
		<string>m4_rename</string>
		<string>m4_reverse</string>
		<string>m4_set_add_all</string>
		<string>m4_set_add</string>
		<string>m4_set_contains</string>
		<string>m4_set_contents</string>
		<string>m4_set_delete</string>
		<string>m4_set_difference</string>
		<string>m4_set_dump</string>
		<string>m4_set_empty</string>
		<string>m4_set_foreach</string>
		<string>m4_set_intersection</string>
		<string>m4_set_list</string>
		<string>m4_set_listc</string>
		<string>m4_set_map_sep</string>
		<string>m4_set_map</string>
		<string>m4_set_remove</string>
		<string>m4_set_size</string>
		<string>m4_set_union</string>
		<string>m4_shift</string>
		<string>m4_shift2</string>
		<string>m4_shift3</string>
		<string>m4_shiftn</string>
		<string>m4_sign</string>
		<string>m4_sinclude</string>
		<string>m4_split</string>
		<string>m4_stack_foreach_lifo</string>
		<string>m4_stack_foreach_sep_lifo</string>
		<string>m4_stack_foreach_sep</string>
		<string>m4_stack_foreach</string>
		<string>m4_strip</string>
		<string>m4_substr</string>
		<string>m4_syscmd</string>
		<string>m4_sysval</string>
		<string>m4_text_box</string>
		<string>m4_text_wrap</string>
		<string>m4_tolower</string>
		<string>m4_toupper</string>
		<string>m4_traceoff</string>
		<string>m4_traceon</string>
		<string>m4_translit</string>
		<string>m4_undefine</string>
		<string>m4_undivert</string>
		<string>m4_unquote</string>
		<string>m4_version_compare</string>
		<string>m4_version_prereq</string>
		<string>m4_warn</string>
		<string>m4_wrap_lifo</string>
		<string>m4_wrap</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>[:alnum:]_\.\-</string>
		<key>Comment Pattern</key>
		<string>(^dnl|#).*$</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>Open Strings 2</key>
		<string>'</string>
		<key>Close Strings 2</key>
		<string>'</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Function Pattern</key>
		<string><![CDATA[(?sx)
			(?# Some leading whitespace)
			^[ \t]*
			(?# The command declaring the function / variable)
			(
			   m4_define|A[CU]_DEFUN|AU_ALIAS
			)
			(?# The opening parenthesis, possibly surrounded by whitespace, and followed by a bracket)
			\s*\(\s*\[
			(?# Match the function name )
			(?P<function_name>(?:[a-zA-Z_]|\\\S)(?:[a-zA-Z0-9_()]|\\\S)*)
			\]
		]]></string>
	</dict>
	<key>BBLMCommentLineDefault</key>
	<string># </string>
	<key>com.barebones.DocumentType</key>
	<string>CodelessLanguageModule</string>
</dict>
</plist>
