<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>MapServer</string>
	<key>BBLMLanguageCode</key>
	<string>Mpsr</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>CLASS</string>
		<string>END</string>
		<string>FEATURE</string>
		<string>LAYER</string>
		<string>LEGEND</string>
		<string>MAP</string>
		<string>METADATA</string>
		<string>OUTPUTFORMAT</string>
		<string>POINTS</string>
		<string>PROJECTION</string>
		<string>QUERYMAP</string>
		<string>REFERENCE</string>
		<string>SCALEBAR</string>
		<string>STYLE</string>
		<string>WEB</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>CLASS</string>
		<string>END</string>
		<string>FEATURE</string>
		<string>LAYER</string>
		<string>LEGEND</string>
		<string>MAP</string>
		<string>METADATA</string>
		<string>OUTPUTFORMAT</string>
		<string>POINTS</string>
		<string>PROJECTION</string>
		<string>QUERYMAP</string>
		<string>REFERENCE</string>
		<string>SCALEBAR</string>
		<string>STYLE</string>
		<string>WEB</string>



		<string>align</string>
		<string>alphacolor</string>
		<string>alphacolorrange</string>
		<string>angle</string>
		<string>antialias</string>
		<string>backgroundcolor</string>
		<string>backgroundshadowcolor</string>
		<string>backgroundshadowsize</string>
		<string>bandsitem</string>
		<string>browseformat</string>
		<string>buffer</string>
		<string>character</string>
		<string>classitem</string>
		<string>classgroup</string>
		<string>color</string>
		<string>colorrange</string>
		<string>config</string>
		<string>connection</string>
		<string>connectiontype</string>
		<string>data</string>
		<string>datarange</string>
		<string>datapattern</string>
		<string>debug</string>
		<string>driver</string>
		<string>dump</string>
		<string>empty</string>
		<string>encoding</string>
		<string>error</string>
		<string>expression</string>
		<string>extent</string>
		<string>extension</string>
		<string>feature</string>
		<string>filled</string>
		<string>filter</string>
		<string>filteritem</string>
		<string>footer</string>
		<string>font</string>
		<string>fontset</string>
		<string>force</string>
		<string>formatoption</string>
		<string>from</string>
		<string>gap</string>
		<string>geomtransform</string>
		<string>grid</string>
		<string>graticule</string>
		<string>group</string>
		<string>header</string>
		<string>image</string>
		<string>imagecolor</string>
		<string>imagetype</string>
		<string>imagequality</string>
		<string>imagemode</string>
		<string>imagepath</string>
		<string>imageurl</string>
		<string>include</string>
		<string>index</string>
		<string>interlace</string>
		<string>intervals</string>
		<string>join</string>
		<string>keyimage</string>
		<string>keysize</string>
		<string>keyspacing</string>
		<string>label</string>
		<string>labelcache</string>
		<string>labelformat</string>
		<string>labelitem</string>
		<string>labelmaxscale</string>
		<string>labelmaxscaledenom</string>
		<string>labelminscale</string>
		<string>labelminscaledenom</string>
		<string>labelrequires</string>
		<string>latlon</string>
		<string>legendformat</string>
		<string>linecap</string>
		<string>linejoin</string>
		<string>linejoinmaxsize</string>
		<string>log</string>
		<string>marker</string>
		<string>markersize</string>
		<string>maxarcs</string>
		<string>maxboxsize</string>
		<string>maxfeatures</string>
		<string>maxinterval</string>
		<string>maxscale</string>
		<string>maxscaledenom</string>
		<string>maxgeowidth</string>
		<string>maxlength</string>
		<string>maxsize</string>
		<string>maxsubdivide</string>
		<string>maxtemplate</string>
		<string>maxwidth</string>
		<string>mimetype</string>
		<string>minarcs</string>
		<string>minboxsize</string>
		<string>mindistance</string>
		<string>repeatdistance</string>
		<string>minfeaturesize</string>
		<string>mininterval</string>
		<string>minscale</string>
		<string>minscaledenom</string>
		<string>mingeowidth</string>
		<string>minlength</string>
		<string>minsize</string>
		<string>minsubdivide</string>
		<string>mintemplate</string>
		<string>minwidth</string>
		<string>name</string>
		<string>offset</string>
		<string>offsite</string>
		<string>opacity</string>
		<string>outlinecolor</string>
		<string>outlinewidth</string>
		<string>outputformat</string>
		<string>overlaybackgroundcolor</string>
		<string>overlaycolor</string>
		<string>overlaymaxsize</string>
		<string>overlayminsize</string>
		<string>overlayoutlinecolor</string>
		<string>overlaysize</string>
		<string>overlaysymbol</string>
		<string>partials</string>
		<string>pattern</string>
		<string>items</string>
		<string>position</string>
		<string>postlabelcache</string>
		<string>priority</string>
		<string>processing</string>
		<string>queryformat</string>
		<string>rangeitem</string>
		<string>reference</string>
		<string>relativeto</string>
		<string>requires</string>
		<string>resolution</string>
		<string>defresolution</string>
		<string>scale</string>
		<string>scaledenom</string>
		<string>shadowcolor</string>
		<string>shadowsize</string>
		<string>shapepath</string>
		<string>size</string>
		<string>sizeunits</string>
		<string>status</string>
		<string>style</string>
		<string>styleitem</string>
		<string>symbol</string>
		<string>symbolscale</string>
		<string>symbolscaledenom</string>
		<string>symbolset</string>
		<string>table</string>
		<string>template</string>
		<string>templatepattern</string>
		<string>text</string>
		<string>tileindex</string>
		<string>tileitem</string>
		<string>title</string>
		<string>to</string>
		<string>tolerance</string>
		<string>toleranceunits</string>
		<string>transparency</string>
		<string>transparent</string>
		<string>transform</string>
		<string>type</string>
		<string>units</string>
		<string>validation</string>
		<string>width</string>
		<string>wkt</string>
		<string>wrap</string>
		<string>annotation</string>
		<string>auto</string>
		<string>bevel</string>
		<string>bitmap</string>
		<string>butt</string>
		<string>cartoline</string>
		<string>cc</string>
		<string>center</string>
		<string>chart</string>
		<string>circle</string>
		<string>cl</string>
		<string>cr</string>
		<string>csv</string>
		<string>mysql</string>
		<string>postgresql</string>
		<string>default</string>
		<string>dd</string>
		<string>ellipse</string>
		<string>embed</string>
		<string>false</string>
		<string>feet</string>
		<string>follow</string>
		<string>giant</string>
		<string>hatch</string>
		<string>hilite</string>
		<string>inches</string>
		<string>kilometers</string>
		<string>large</string>
		<string>lc</string>
		<string>left</string>
		<string>line</string>
		<string>ll</string>
		<string>lr</string>
		<string>medium</string>
		<string>meters</string>
		<string>nauticalmiles</string>
		<string>miles</string>
		<string>miter</string>
		<string>multiple</string>
		<string>none</string>
		<string>normal</string>
		<string>off</string>
		<string>ogr</string>
		<string>on</string>
		<string>one-to-one</string>
		<string>one-to-many</string>
		<string>oraclespatial</string>
		<string>percentages</string>
		<string>pixmap</string>
		<string>pixels</string>
		<string>point</string>
		<string>polygon</string>
		<string>postgis</string>
		<string>mygis</string>
		<string>plugin</string>
		<string>query</string>
		<string>raster</string>
		<string>right</string>
		<string>round</string>
		<string>sde</string>
		<string>selected</string>
		<string>simple</string>
		<string>single</string>
		<string>small</string>
		<string>square</string>
		<string>tiny</string>
		<string>triangle</string>
		<string>true</string>
		<string>truetype</string>
		<string>uc</string>
		<string>ul</string>
		<string>ur</string>
		<string>vector</string>
		<string>wfs</string>
		<string>wms</string>
		<string>alpha</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.map</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>#.*$</string>
		<key>Function Pattern</key>
		<string>LAYER</string>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>&apos;</string>
		<key>Close Strings 2</key>
		<string>&apos;</string>
		<key>Skip Pattern</key>
		<string></string>
		<key>String Pattern</key>
		<string>[&quot;|&apos;].*[&quot;|&apos;]</string>
	</dict>
</dict>
</plist>
