<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Matlab</string>
	<key>CFBundleGetInfoString</key>
	<string>2.7, Written by Andrew J. Miller ©2002-2020</string>
	<key>CFBundleIdentifier</key>
	<string>edu.psu.esm.ajmiller.Matlab</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.7</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12C33</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1230</string>
	<key>DTXcodeBuild</key>
	<string>12C33</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>%</string>
			<key>BBLMCommentPrefixDefault</key>
			<string>%{</string>
			<key>BBLMCommentSuffixDefault</key>
			<string>%}</string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>MatlabMachO</string>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>Keywords</key>
					<array>
						<string>break</string>
						<string>case</string>
						<string>catch</string>
						<string>classdef</string>
						<string>continue</string>
						<string>else</string>
						<string>elseif</string>
						<string>end</string>
						<string>events</string>
						<string>for</string>
						<string>function</string>
						<string>global</string>
						<string>if</string>
						<string>methods</string>
						<string>otherwise</string>
						<string>parfor</string>
						<string>persistent</string>
						<string>properties</string>
						<string>return</string>
						<string>switch</string>
						<string>try</string>
						<string>while</string>
					</array>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Matl</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Matlab</string>
			<key>BBLMPreferredFilenameExtension</key>
			<string>m</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>edu.psu.esm.ajmiller.Matlab.Continuation</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>edu.psu.esm.ajmiller.Matlab.IncompleteString</key>
				<string>rgba(1, 0, 0, 1.0)</string>
				<key>edu.psu.esm.ajmiller.Matlab.Shell</key>
				<string>rgba(0.5, 0.5, 0, 1.0)</string>
				<key>edu.psu.esm.ajmiller.Matlab.notKeyword</key>
				<string>==com.barebones.bblm.code</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>edu.psu.esm.ajmiller.Matlab.IncompleteString</key>
				<string>Incomplete String</string>
				<key>edu.psu.esm.ajmiller.Matlab.Shell</key>
				<string>Shell Interpreter Command</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.m</string>
				</dict>
			</array>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
