<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Ogre Material Script</string>
	<key>BBLMLanguageCode</key>
	<string>OgMt</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abstract</string>
		<string>material</string>
		<string>lod_strategy</string>
		<string>lod_values</string>
		<string>receive_shadows</string>
		<string>transparency_casts_shadows</string>
		<string>set</string>
		<string>set_texture_alias</string>
		<string>technique</string>
		<string>scheme</string>
		<string>lod_index</string>
		<string>shadow_caster_material</string>
		<string>shadow_receiver_material</string>
		<string>gpu_vendor_rule</string>
		<string>gpu_device_rule</string>
		<string>pass</string>
		<string>ambient</string>
		<string>diffuse</string>
		<string>specular</string>
		<string>emissive</string>
		<string>scene_blend</string>
		<string>separate_scene_blend</string>
		<string>scene_blend_op</string>
		<string>separate_scene_blend_op</string>
		<string>depth_check</string>
		<string>depth_write</string>
		<string>depth_func</string>
		<string>depth_bias</string>
		<string>iteration_depth_bias</string>
		<string>alpha_rejection</string>
		<string>alpha_to_coverage</string>
		<string>light_scissor</string>
		<string>light_clip_planes</string>
		<string>illumination_stage</string>
		<string>transparent_sorting</string>
		<string>normalise_normals</string>
		<string>cull_hardware</string>
		<string>cull_software</string>
		<string>lighting</string>
		<string>shading</string>
		<string>polygon_mode</string>
		<string>polygon_mode_overrideable</string>
		<string>fog_override</string>
		<string>colour_write</string>
		<string>max_lights</string>
		<string>start_light</string>
		<string>iteration</string>
		<string>point_size</string>
		<string>point_sprites</string>
		<string>point_size_attenuation</string>
		<string>point_size_min</string>
		<string>point_size_max</string>
		<string>texture_unit</string>
		<string>texture_alias</string>
		<string>texture</string>
		<string>anim_texture</string>
		<string>cubic_texture</string>
		<string>tex_coord_set</string>
		<string>tex_address_mode</string>
		<string>tex_border_colour</string>
		<string>filtering</string>
		<string>max_anisotropy</string>
		<string>mipmap_bias</string>
		<string>colour_op</string>
		<string>colour_op_ex</string>
		<string>colour_op_multipass_fallback</string>
		<string>alpha_op_ex</string>
		<string>env_map</string>
		<string>scroll</string>
		<string>scroll_anim</string>
		<string>rotate</string>
		<string>rotate_anim</string>
		<string>scale</string>
		<string>wave_xform</string>
		<string>transform</string>
		<string>binding_type</string>
		<string>content_type</string>
		<string>texture_source</string>
		<string>filename</string>
		<string>play_mode</string>
		<string>set_T_P_S</string>
		<string>frames_per_second</string>
		<string>vertex_program</string>
		<string>source</string>
		<string>entry_point</string>
		<string>profiles</string>
		<string>default_params</string>
		<string>param_named</string>
		<string>param_named_auto</string>
		<string>syntax</string>
		<string>fragment_program</string>
		<string>vertex_program_ref</string>
		<string>fragment_program_ref</string>
		<string>delegate</string>
		<string>target</string>
		<string>param_indexed</string>
		<string>param_indexed_auto</string>
		<string>shared_params_ref</string>
		<string>shadow_caster_vertex_program_ref</string>
		<string>shadow_receiver_vertex_program_ref</string>
		<string>shadow_receiver_fragment_program_ref</string>
		<string>max_output_vertices</string>
		<string>preprocessor_defines</string>
		<string>geometry_program</string>
		<string>geometry_program_ref</string>
		<string>uses_adjacency_information</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.material</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>!$%&amp;*+.,;/()&lt;;=&gt;?^~0-9A-Z_a-z@:-</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
	</dict>
</dict>
</plist>
