<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<key>*_mod</key>
<key>amp_keycenter</key>
<key>amp_keytrack</key>
<key>amp_random</key>
<key>amp_velcurve_N</key>
<key>amp_veltrack_cc</key>
<key>amp_veltrack_curvecc</key>
<key>amp_veltrack_oncc</key>
<key>amp_veltrack_random</key>
<key>amp_veltrack</key>
<key>ampeg_attack_oncc</key>
<key>ampeg_attack_shape</key>
<key>ampeg_attack</key>
<key>ampeg_attackcc</key>
<key>ampeg_decay_curvecc</key>
<key>ampeg_decay_oncc</key>
<key>ampeg_decay_shape</key>
<key>ampeg_decay_zero</key>
<key>ampeg_decay</key>
<key>ampeg_decaycc</key>
<key>ampeg_delay_oncc</key>
<key>ampeg_delay</key>
<key>ampeg_delaycc</key>
<key>ampeg_dynamic</key>
<key>ampeg_hold_curvecc</key>
<key>ampeg_hold_oncc</key>
<key>ampeg_hold</key>
<key>ampeg_holdcc</key>
<key>ampeg_release_oncc</key>
<key>ampeg_release_shape</key>
<key>ampeg_release_zero</key>
<key>ampeg_release</key>
<key>ampeg_releasecc</key>
<key>ampeg_start_oncc</key>
<key>ampeg_start</key>
<key>ampeg_startcc</key>
<key>ampeg_sustain_curvecc</key>
<key>ampeg_sustain_oncc</key>
<key>ampeg_sustain</key>
<key>ampeg_sustaincc</key>
<key>ampeg_vel2attack</key>
<key>ampeg_vel2decay</key>
<key>ampeg_vel2delay</key>
<key>ampeg_vel2hold</key>
<key>ampeg_vel2release</key>
<key>ampeg_vel2sustain</key>
<key>amplfo_delay</key>
<key>amplfo_depth_oncc</key>
<key>amplfo_depth</key>
<key>amplfo_depthcc</key>
<key>amplfo_depthchanaft</key>
<key>amplfo_depthpolyaft</key>
<key>amplfo_fade</key>
<key>amplfo_freq</key>
<key>amplfo_freqcc</key>
<key>amplfo_freqchanaft</key>
<key>amplfo_freqpolyaft</key>
<key>amplitude_cc</key>
<key>amplitude_curvecc</key>
<key>amplitude_oncc</key>
<key>amplitude_smoothcc</key>
<key>amplitude</key>
<key>apan_depth_oncc</key>
<key>apan_depth</key>
<key>apan_dry_oncc</key>
<key>apan_dry</key>
<key>apan_freq_oncc</key>
<key>apan_freq</key>
<key>apan_phase_oncc</key>
<key>apan_phase</key>
<key>apan_waveform</key>
<key>apan_wet_oncc</key>
<key>apan_wet</key>
<key>bend_down</key>
<key>bend_smooth</key>
<key>bend_step</key>
<key>bend_stepdown</key>
<key>bend_stepup</key>
<key>bend_up</key>
<key>benddown</key>
<key>bendstep</key>
<key>bendup</key>
<key>bitred_curvecc</key>
<key>bitred_oncc</key>
<key>bitred_smoothcc</key>
<key>bitred_stepcc</key>
<key>bitred</key>
<key>bus</key>
<key>bypass_oncc</key>
<key>comp_attack</key>
<key>comp_gain</key>
<key>comp_ratio</key>
<key>comp_release</key>
<key>comp_stlink</key>
<key>comp_threshold</key>
<key>count</key>
<key>curve_index</key>
<key>cutoff_cc</key>
<key>cutoff_chanaft</key>
<key>cutoff_curvecc</key>
<key>cutoff_oncc</key>
<key>cutoff_polyaft</key>
<key>cutoff_random</key>
<key>cutoff_smoothcc</key>
<key>cutoff_stepcc</key>
<key>cutoff</key>
<key>cutoff2</key>
<key>decim_curvecc</key>
<key>decim_oncc</key>
<key>decim_smoothcc</key>
<key>decim_stepcc</key>
<key>decim</key>
<key>default_path</key>
<key>#define</key>
<key>delay_beats</key>
<key>delay_cc</key>
<key>delay_cutoff_oncc</key>
<key>delay_cutoff</key>
<key>delay_damphi_oncc</key>
<key>delay_damphi</key>
<key>delay_damplo_oncc</key>
<key>delay_damplo</key>
<key>delay_dry_oncc</key>
<key>delay_dry</key>
<key>delay_feedback_oncc</key>
<key>delay_feedback</key>
<key>delay_filter</key>
<key>delay_input_oncc</key>
<key>delay_input</key>
<key>delay_levelc</key>
<key>delay_levell</key>
<key>delay_levelr</key>
<key>delay_lfofreq_oncc</key>
<key>delay_lfofreq</key>
<key>delay_moddepth_oncc</key>
<key>delay_moddepth</key>
<key>delay_mode</key>
<key>delay_oncc</key>
<key>delay_panc_oncc</key>
<key>delay_panc</key>
<key>delay_panl_oncc</key>
<key>delay_panl</key>
<key>delay_panr_oncc</key>
<key>delay_panr</key>
<key>delay_random</key>
<key>delay_resonance_oncc</key>
<key>delay_resonance</key>
<key>delay_samples_oncc</key>
<key>delay_samples</key>
<key>delay_spread_oncc</key>
<key>delay_spread</key>
<key>delay_syncc_oncc</key>
<key>delay_syncl_oncc</key>
<key>delay_syncr_oncc</key>
<key>delay_time_tap</key>
<key>delay_timec_oncc</key>
<key>delay_timec</key>
<key>delay_timel_oncc</key>
<key>delay_timel</key>
<key>delay_timer_oncc</key>
<key>delay_timer</key>
<key>delay_wet_oncc</key>
<key>delay_wet</key>
<key>delay</key>
<key>direction</key>
<key>directtomain</key>
<key>disto_depth_oncc</key>
<key>disto_depth</key>
<key>disto_dry_oncc</key>
<key>disto_dry</key>
<key>disto_stages</key>
<key>disto_tone_oncc</key>
<key>disto_tone</key>
<key>disto_wet_oncc</key>
<key>disto_wet</key>
<key>dsp_order</key>
<key>effect1</key>
<key>effect2</key>
<key>effect3</key>
<key>effect4</key>
<key>egN_ampeg</key>
<key>egN_amplitude_oncc</key>
<key>egN_amplitude</key>
<key>egN_bitred_oncc</key>
<key>egN_bitred</key>
<key>egN_curveX</key>
<key>egN_cutoff_oncc</key>
<key>egN_cutoff</key>
<key>egN_cutoff2_oncc</key>
<key>egN_cutoff2</key>
<key>egN_decim_oncc</key>
<key>egN_decim</key>
<key>egN_depth_lfo</key>
<key>egN_depthadd_lfo</key>
<key>egN_driveshape_oncc</key>
<key>egN_driveshape</key>
<key>egN_eqXbw_oncc</key>
<key>egN_eqXbw</key>
<key>egN_eqXfreq_oncc</key>
<key>egN_eqXfreq</key>
<key>egN_eqXgain_oncc</key>
<key>egN_eqXgain</key>
<key>egN_freq_lfo</key>
<key>egN_levelX_oncc</key>
<key>egN_levelX</key>
<key>egN_loop_count</key>
<key>egN_loop</key>
<key>egN_noiselevel_oncc</key>
<key>egN_noiselevel</key>
<key>egN_noisestep_oncc</key>
<key>egN_noisestep</key>
<key>egN_noisetone_oncc</key>
<key>egN_noisetone</key>
<key>egN_pan_curve</key>
<key>egN_pan_curvecc</key>
<key>egN_pan_oncc</key>
<key>egN_pan</key>
<key>egN_pitch_oncc</key>
<key>egN_pitch</key>
<key>egN_points</key>
<key>egN_rectify_oncc</key>
<key>egN_rectify</key>
<key>egN_resonance_oncc</key>
<key>egN_resonance</key>
<key>egN_resonance2_oncc</key>
<key>egN_resonance2</key>
<key>egN_ringmod_oncc</key>
<key>egN_ringmod</key>
<key>egN_shapeX</key>
<key>egN_sustain</key>
<key>egN_timeX_oncc</key>
<key>egN_timeX</key>
<key>egN_volume_oncc</key>
<key>egN_volume</key>
<key>egN_width_oncc</key>
<key>egN_width</key>
<key>end</key>
<key>eq_bw_oncc</key>
<key>eq_bw</key>
<key>eq_freq_oncc</key>
<key>eq_freq</key>
<key>eq_gain_oncc</key>
<key>eq_gain</key>
<key>eq_type</key>
<key>eqN_bw_oncc</key>
<key>eqN_bw</key>
<key>eqN_bwcc</key>
<key>eqN_dynamic</key>
<key>eqN_freq_oncc</key>
<key>eqN_freq</key>
<key>eq1_freq=500</key>
<key>eq1_freq=5000</key>
<key>eqN_freqcc</key>
<key>eqN_gain_oncc</key>
<key>eqN_gain</key>
<key>eqN_gaincc</key>
<key>eqN_type</key>
<key>eqN_vel2freq</key>
<key>eqN_vel2gain</key>
<key>fil_gain_oncc</key>
<key>fil_gain</key>
<key>fil_keycenter</key>
<key>fil_keytrack</key>
<key>fil_random</key>
<key>fil_type</key>
<key>fil_veltrack</key>
<key>fil2_gain</key>
<key>fil2_keycenter</key>
<key>fil2_keytrack</key>
<key>fil2_type</key>
<key>fil2_veltrack</key>
<key>fileg_attack_oncc</key>
<key>fileg_attack_shape</key>
<key>fileg_attack</key>
<key>fileg_attackcc</key>
<key>fileg_decay_oncc</key>
<key>fileg_decay_shape</key>
<key>fileg_decay_zero</key>
<key>fileg_decay</key>
<key>fileg_decaycc</key>
<key>fileg_delay_oncc</key>
<key>fileg_delay</key>
<key>fileg_delaycc</key>
<key>fileg_depth_oncc</key>
<key>fileg_depth</key>
<key>fileg_depthcc</key>
<key>fileg_dynamic</key>
<key>fileg_hold_oncc</key>
<key>fileg_hold</key>
<key>fileg_holdcc</key>
<key>fileg_release_oncc</key>
<key>fileg_release_shape</key>
<key>fileg_release_zero</key>
<key>fileg_release</key>
<key>fileg_releasecc</key>
<key>fileg_start_oncc</key>
<key>fileg_start</key>
<key>fileg_startcc</key>
<key>fileg_sustain_oncc</key>
<key>fileg_sustain</key>
<key>fileg_sustaincc</key>
<key>fileg_vel2attack</key>
<key>fileg_vel2decay</key>
<key>fileg_vel2delay</key>
<key>fileg_vel2depth</key>
<key>fileg_vel2hold</key>
<key>fileg_vel2release</key>
<key>fileg_vel2sustain</key>
<key>fillfo_delay</key>
<key>fillfo_depth_oncc</key>
<key>fillfo_depth</key>
<key>fillfo_depthcc</key>
<key>fillfo_depthchanaft</key>
<key>fillfo_depthpolyaft</key>
<key>fillfo_fade</key>
<key>fillfo_freq</key>
<key>fillfo_freqcc</key>
<key>fillfo_freqchanaft</key>
<key>fillfo_freqpolyaft</key>
<key>filter_cutoff_oncc</key>
<key>filter_cutoff</key>
<key>filter_resonance_oncc</key>
<key>filter_resonance</key>
<key>filter_type</key>
<key>filtype</key>
<key>fxNtomain</key>
<key>fxNtomix</key>
<key>gain_cc</key>
<key>gain_oncc</key>
<key>gain_random</key>
<key>gain</key>
<key>gate_attack</key>
<key>gate_oncc</key>
<key>gate_release</key>
<key>gate_stlink</key>
<key>gate_threshold</key>
<key>global_amplitude</key>
<key>global_label</key>
<key>global_volume</key>
<key>group_amplitude</key>
<key>group_label</key>
<key>group_volume</key>
<key>group</key>
<key>hibend</key>
<key>hibpm</key>
<key>hicc</key>
<key>hichan</key>
<key>hichanaft</key>
<key>hihdcc</key>
<key>hikey</key>
<key>hint_*</key>
<key>hipolyaft</key>
<key>hiprog</key>
<key>hirand</key>
<key>hitimer</key>
<key>hivel</key>
<key>image</key>
<key>#include</key>
<key>internal</key>
<key>key</key>
<key>label_cc</key>
<key>lfoN_amplitude_oncc</key>
<key>lfoN_amplitude_smoothcc</key>
<key>lfoN_amplitude_stepcc</key>
<key>lfoN_amplitude</key>
<key>lfoN_bitred_oncc</key>
<key>lfoN_bitred_smoothcc</key>
<key>lfoN_bitred_stepcc</key>
<key>lfoN_bitred</key>
<key>lfoN_count</key>
<key>lfoN_cutoff_oncc</key>
<key>lfoN_cutoff_smoothcc</key>
<key>lfoN_cutoff_stepcc</key>
<key>lfoN_cutoff</key>
<key>lfoN_cutoff2</key>
<key>lfoN_decim_oncc</key>
<key>lfoN_decim_smoothcc</key>
<key>lfoN_decim_stepcc</key>
<key>lfoN_decim</key>
<key>lfoN_delay_oncc</key>
<key>lfoN_delay</key>
<key>lfoN_depth_lfo</key>
<key>lfoN_depthadd_lfo</key>
<key>lfoN_drive_oncc</key>
<key>lfoN_drive_smoothcc</key>
<key>lfoN_drive_stepcc</key>
<key>lfoN_drive</key>
<key>lfoN_eqXbw_oncc</key>
<key>lfoN_eqXbw_smoothcc</key>
<key>lfoN_eqXbw_stepcc</key>
<key>lfoN_eqXbw</key>
<key>lfoN_eqXfreq_oncc</key>
<key>lfoN_eqXfreq_smoothcc</key>
<key>lfoN_eqXfreq_stepcc</key>
<key>lfoN_eqXfreq</key>
<key>lfoN_eqXgain_oncc</key>
<key>lfoN_eqXgain_smoothcc</key>
<key>lfoN_eqXgain_stepcc</key>
<key>lfoN_eqXgain</key>
<key>lfoN_fade_oncc</key>
<key>lfoN_fade</key>
<key>lfoN_freq_lfo_oncc</key>
<key>lfoN_freq_lfo</key>
<key>lfoN_freq_oncc</key>
<key>lfoN_freq_smoothcc</key>
<key>lfoN_freq_stepcc</key>
<key>lfoN_freq</key>
<key>lfoN_noiselevel_oncc</key>
<key>lfoN_noiselevel_smoothcc</key>
<key>lfoN_noiselevel_stepcc</key>
<key>lfoN_noiselevel</key>
<key>lfoN_noisestep_oncc</key>
<key>lfoN_noisestep_smoothcc</key>
<key>lfoN_noisestep_stepcc</key>
<key>lfoN_noisestep</key>
<key>lfoN_noisetone_oncc</key>
<key>lfoN_noisetone_smoothcc</key>
<key>lfoN_noisetone_stepcc</key>
<key>lfoN_noisetone</key>
<key>lfoN_offset</key>
<key>lfoN_offsetX</key>
<key>lfoN_pan_oncc</key>
<key>lfoN_pan_smoothcc</key>
<key>lfoN_pan_stepcc</key>
<key>lfoN_pan</key>
<key>lfoN_phase_oncc</key>
<key>lfoN_phase</key>
<key>lfoN_pitch_curvecc</key>
<key>lfoN_pitch_oncc</key>
<key>lfoN_pitch_smoothcc</key>
<key>lfoN_pitch_stepcc</key>
<key>lfoN_pitch</key>
<key>lfoN_ratio</key>
<key>lfoN_ratioX</key>
<key>lfoN_resonance_oncc</key>
<key>lfoN_resonance_smoothcc</key>
<key>lfoN_resonance_stepcc</key>
<key>lfoN_resonance</key>
<key>lfoN_resonance2</key>
<key>lfoN_scale</key>
<key>lfoN_scaleX</key>
<key>lfoN_smooth_oncc</key>
<key>lfoN_smooth</key>
<key>lfoN_steps</key>
<key>lfoN_stepX_oncc</key>
<key>lfoN_stepX</key>
<key>lfoN_volume_oncc</key>
<key>lfoN_volume_smoothcc</key>
<key>lfoN_volume_stepcc</key>
<key>lfoN_volume</key>
<key>lfoN_wave_oncc</key>
<key>lfoN_wave</key>
<key>lfoN_waveX</key>
<key>lfoN_width_oncc</key>
<key>lfoN_width_smoothcc</key>
<key>lfoN_width_stepcc</key>
<key>lfoN_width</key>
<key>load_end</key>
<key>load_mode</key>
<key>load_start</key>
<key>lobend</key>
<key>lobpm</key>
<key>locc</key>
<key>lochan</key>
<key>lochanaft</key>
<key>lohdcc</key>
<key>lokey</key>
<key>loop_count</key>
<key>loop_crossfade</key>
<key>loop_end</key>
<key>loop_length_oncc</key>
<key>loop_lengthcc</key>
<key>loop_mode</key>
<key>loop_continuous for samples with defined loop(s).</key>
<key>loop_start_oncc</key>
<key>loop_start</key>
<key>loop_startcc</key>
<key>loop_tune</key>
<key>loop_type</key>
<key>loopend</key>
<key>loopmode</key>
<key>loop_continuous for samples with defined loop(s).</key>
<key>loopstart</key>
<key>lopolyaft</key>
<key>loprog</key>
<key>lorand</key>
<key>lotimer</key>
<key>lovel</key>
<key>master_amplitude</key>
<key>master_label</key>
<key>master_volume</key>
<key>md5</key>
<key>noise_filter</key>
<key>noise_level_oncc</key>
<key>noise_level_smoothcc</key>
<key>noise_level</key>
<key>noise_step_oncc</key>
<key>noise_step</key>
<key>noise_stereo</key>
<key>noise_tone_oncc</key>
<key>noise_tone</key>
<key>note_offset</key>
<key>note_polyphony</key>
<key>note_selfmask</key>
<key>octave_offset</key>
<key>off_by</key>
<key>off_curve</key>
<key>off_mode</key>
<key>off_shape</key>
<key>off_time</key>
<key>offby</key>
<key>offset_cc</key>
<key>offset_oncc</key>
<key>offset_random</key>
<key>offset</key>
<key>on_hicc</key>
<key>on_hihdcc</key>
<key>on_locc</key>
<key>on_lohdcc</key>
<key>oscillator_detune_oncc</key>
<key>oscillator_detune</key>
<key>oscillator_mod_depth_oncc</key>
<key>oscillator_mod_depth</key>
<key>oscillator_mod_smoothcc</key>
<key>oscillator_mode</key>
<key>oscillator_multi</key>
<key>oscillator_phase</key>
<key>oscillator_quality</key>
<key>oscillator_table_size</key>
<key>oscillator</key>
<key>output</key>
<key>pan_cc</key>
<key>pan_curvecc</key>
<key>pan_keycenter</key>
<key>pan_keytrack</key>
<key>pan_law</key>
<key>pan_oncc</key>
<key>pan_smoothcc</key>
<key>pan_stepcc</key>
<key>pan_veltrack</key>
<key>pan</key>
<key>param_offset</key>
<key>phase</key>
<key>phaser_depth_oncc</key>
<key>phaser_depth</key>
<key>phaser_feedback_oncc</key>
<key>phaser_feedback</key>
<key>phaser_freq_oncc</key>
<key>phaser_freq</key>
<key>phaser_phase_oncc</key>
<key>phaser_stages</key>
<key>phaser_waveform</key>
<key>phaser_wet_oncc</key>
<key>phaser_wet</key>
<key>pitch_curvecc</key>
<key>pitch_keycenter</key>
<key>pitch_keytrack</key>
<key>pitch_oncc</key>
<key>pitch_random</key>
<key>pitch_smoothcc</key>
<key>pitch_stepcc</key>
<key>pitch_veltrack</key>
<key>pitch</key>
<key>pitcheg_attack_oncc</key>
<key>pitcheg_attack_shape</key>
<key>pitcheg_attack</key>
<key>pitcheg_decay_oncc</key>
<key>pitcheg_decay_shape</key>
<key>pitcheg_decay_zero</key>
<key>pitcheg_decay</key>
<key>pitcheg_delay_oncc</key>
<key>pitcheg_delay</key>
<key>pitcheg_depth_oncc</key>
<key>pitcheg_depth</key>
<key>pitcheg_dynamic</key>
<key>pitcheg_hold_oncc</key>
<key>pitcheg_hold</key>
<key>pitcheg_release_oncc</key>
<key>pitcheg_release_shape</key>
<key>pitcheg_release_zero</key>
<key>pitcheg_release</key>
<key>pitcheg_start_oncc</key>
<key>pitcheg_start</key>
<key>pitcheg_sustain_oncc</key>
<key>pitcheg_sustain</key>
<key>pitcheg_vel2attack</key>
<key>pitcheg_vel2decay</key>
<key>pitcheg_vel2delay</key>
<key>pitcheg_vel2depth</key>
<key>pitcheg_vel2hold</key>
<key>pitcheg_vel2release</key>
<key>pitcheg_vel2sustain</key>
<key>pitchlfo_delay</key>
<key>pitchlfo_depth_oncc</key>
<key>pitchlfo_depth</key>
<key>pitchlfo_depthcc</key>
<key>pitchlfo_depthchanaft</key>
<key>pitchlfo_depthpolyaft</key>
<key>pitchlfo_fade</key>
<key>pitchlfo_freq</key>
<key>pitchlfo_freqcc</key>
<key>pitchlfo_freqchanaft</key>
<key>pitchlfo_freqpolyaft</key>
<key>polyphony_group</key>
<key>polyphony_stealing</key>
<key>polyphony</key>
<key>position_veltrack</key>
<key>position</key>
<key>region_label</key>
<key>resonance_cc</key>
<key>resonance_curvecc</key>
<key>resonance_oncc</key>
<key>resonance_smoothcc</key>
<key>resonance_stepcc</key>
<key>resonance</key>
<key>resonance2</key>
<key>reverb_damp_oncc</key>
<key>reverb_damp</key>
<key>reverb_dry_oncc</key>
<key>reverb_dry</key>
<key>reverb_input_oncc</key>
<key>reverb_input</key>
<key>reverb_predelay_oncc</key>
<key>reverb_predelay</key>
<key>reverb_size_oncc</key>
<key>reverb_size</key>
<key>reverb_tone_oncc</key>
<key>reverb_tone</key>
<key>reverb_type</key>
<key>reverb_wet_oncc</key>
<key>reverb_wet</key>
<key>reverse_hicc</key>
<key>reverse_locc</key>
<key>rt_dead</key>
<key>rt_decay</key>
<key>sample_fadeout</key>
<key>sample_quality</key>
<key>sample</key>
<key>script</key>
<key>seq_length</key>
<key>seq_position</key>
<key>set_cc</key>
<key>set_hdcc</key>
<key>set_realcc</key>
<key>sostenuto_cc</key>
<key>sostenuto_lo</key>
<key>sostenuto_sw</key>
<key>start_hicc</key>
<key>start_hihdcc</key>
<key>start_locc</key>
<key>start_lohdcc</key>
<key>static_cyclic_level</key>
<key>static_cyclic_time</key>
<key>static_filter</key>
<key>static_level_oncc</key>
<key>static_level</key>
<key>static_random_level</key>
<key>static_random_maxtime</key>
<key>static_random_mintime</key>
<key>static_stereo</key>
<key>static_tone</key>
<key>stop_beats</key>
<key>stop_hicc</key>
<key>stop_hihdcc</key>
<key>stop_locc</key>
<key>stop_lohdcc</key>
<key>strings_number</key>
<key>strings_wet_oncc</key>
<key>sustain_cc</key>
<key>sustain_lo</key>
<key>sustain_sw</key>
<key>sw_default</key>
<key>sw_down</key>
<key>sw_hikey</key>
<key>sw_hilast</key>
<key>sw_label</key>
<key>sw_last</key>
<key>sw_lokey</key>
<key>sw_lolast</key>
<key>sw_note_offset</key>
<key>sw_octave_offset</key>
<key>sw_previous</key>
<key>sw_up</key>
<key>sw_vel</key>
<key>sync_beats</key>
<key>sync_offset</key>
<key>tdfir_dry_oncc</key>
<key>tdfir_dry</key>
<key>tdfir_gain</key>
<key>tdfir_impulse</key>
<key>tdfir_wet_oncc</key>
<key>tdfir_wet</key>
<key>transpose</key>
<key>trigger</key>
<key>tune_cc</key>
<key>tune_curvecc</key>
<key>tune_keytrack</key>
<key>tune_oncc</key>
<key>tune_random</key>
<key>tune_smoothcc</key>
<key>tune_stepcc</key>
<key>tune_veltrack</key>
<key>tune</key>
<key>type</key>
<key>varNN_*</key>
<key>varNN_curvecc</key>
<key>varNN_mod</key>
<key>varNN_oncc</key>
<key>vendor_specific</key>
<key>vN</key>
<key>volume_curvecc</key>
<key>volume_oncc</key>
<key>volume_smoothcc</key>
<key>volume_stepcc</key>
<key>volume</key>
<key>waveguide</key>
<key>width_curvecc</key>
<key>width_oncc</key>
<key>width_smoothcc</key>
<key>width_stepcc</key>
<key>width</key>
<key>xf_cccurve</key>
<key>xf_keycurve</key>
<key>xf_velcurve</key>
<key>xfin_hicc</key>
<key>xfin_hikey</key>
<key>xfin_hivel</key>
<key>xfin_locc</key>
<key>xfin_lokey</key>
<key>xfin_lovel</key>
<key>xfout_hicc</key>
<key>xfout_hikey</key>
<key>xfout_hivel</key>
<key>xfout_locc</key>
<key>xfout_lokey</key>
<key>xfout_lovel</key>

		
	</array>
	<key>BBLMLanguageCode</key>
	<string>pSFZ</string>
	<key>BBLMLanguageDisplayName</key>
	<string>SFZ</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.sfz</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string></string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>&gt;</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>$ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string></string>
		<key>Open Strings 1</key>
		<string>&lt;</string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
