<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--  Z80/Z180 Assembly Language CLM for BBEdit	
		including pseudo ops and directives for OrgASM Tool

			Graham Hinton May 2015
		OrgASM Home Page:	http://www.hinton-instruments.co.uk/archive/macide.html -->
		
<dict>
	<!-- You must identify the plist as a CLM: -->
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<!-- You must identify your language: -->
	<key>BBLMLanguageDisplayName</key> 
		<string>Z80/Z180 Assembly</string>
	<key>BBLMLanguageCode</key>
		<string>Z180</string>
	
	<!-- Not required, but there’s not much point to
	     a language module if it doesn’t color syntax: -->
	<key>BBLMColorsSyntax</key>
	    <true/>

	<key>BBLMIsCaseSensitive</key>
		<false/>

	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.zsm</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.tsm</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.lst</string>
		</dict>
	</array>

	<key>BBLMPreferredFilenameExtension</key>       <string>tsm</string>

	<!-- Specify some keywords. This isn’t required, either,
             but it provides something to color: -->

	<key>BBLMKeywords</key>
	<array>
	    <dict>
		<key>RunKind</key> <string>com.barebones.bblm.preprocessor</string>
		<key>Keywords</key>
		<array>
<!--	pseudo ops and directives in BLUE -->

		<string>.addinstr</string>
		<string>.block</string>
		<string>.bseg</string>
		<string>.cseg</string>
		<string>.dseg</string>
		<string>.nseg</string>
		<string>.xseg</string>
		<string>.byte</string>
		<string>.chk</string>
		<string>.db</string>
		<string>.dw</string>
		<string>#define</string>
		<string>#defcont</string>
		<string>.echo</string>
		<string>.eject</string>
		<string>#else</string>
		<string>.end</string>
		<string>.equ</string>
		<string>=</string>
		<string>.export</string>
		<string>.fill</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#if</string>
		<string>#endif</string>
		<string>.list</string>
		<string>.nolist</string>
		<string>.locallabelchar</string>
		<string>.lsfirst</string>
		<string>.msfirst</string>
		<string>.module</string>
		<string>.org</string>
		<string>.page</string>
<!-- pseudo ops and directives continued -->

		<string>.nopage</string>
		<string>.set</string>
		<string>.sym</string>
		<string>.avsym</string>
		<string>.text</string>
		<string>.title</string>
		<string>.word</string>
		</array>
	    </dict>

	    <dict>
		<key>RunKind</key> <string>com.barebones.bblm.file-include</string>
		<key>Keywords</key>
		<array>
		<string>#include</string>
		<string>.include</string>
		</array>
	    </dict>


	    <dict>
		<key>RunKind</key> <string>com.barebones.bblm.keyword</string>
		<key>Keywords</key>
		<array>

		<string>adc</string>
		<string>add</string>
		<string>and</string>
		<string>bit</string>
		<string>call</string>
		<string>ccf</string>
		<string>cp</string>
		<string>cpd</string>
		<string>cpdr</string>
		<string>cpir</string>
		<string>cpi</string>
		<string>cpl</string>
		<string>dec</string>
		<string>di</string>
		<string>djnz</string>
		<string>ei</string>
		<string>ex</string>
		<string>exx</string>
		<string>halt</string>
		<string>im</string>
		<string>in</string>
		<string>in0</string>
		<string>inc</string>
		<string>ind</string>
		<string>indr</string>
		<string>ini</string>
		<string>inir</string>
		<string>jp</string>
		<string>jr</string>
		<string>ld</string>
		<string>ldd</string>
		<string>lddr</string>
		<string>ldi</string>
		<string>ldir</string>
		<string>neg</string>
		<string>nop</string>
		<string>mlt</string>
		<string>or</string>
		<string>otdm</string>
		<string>otdmr</string>
		<string>otdr</string>
		<string>otim</string>
		<string>otimr</string>
		<string>otir</string>
		<string>out</string>
		<string>out0</string>
		<string>outd</string>
		<string>outi</string>
		<string>pop</string>
		<string>push</string>
		<string>res</string>
		<string>ret</string>
		<string>reti</string>
		<string>retn</string>
		<string>rl</string>
		<string>rla</string>
		<string>rlc</string>
		<string>rlca</string>
		<string>rld</string>
		<string>rr</string>
		<string>rra</string>
		<string>rrc</string>
		<string>rrca</string>
		<string>rrd</string>
		<string>rst</string>
		<string>sbc</string>
		<string>scf</string>
		<string>set</string>
		<string>sla</string>
		<string>slp</string>
		<string>sra</string>
		<string>srl</string>
		<string>sub</string>
		<string>tst</string>
		<string>tstio</string>
		<string>xor</string>

<!-- alternative mnemonics -->
		<string>djnz,</string>
		<string>im0</string>
		<string>im1</string>
		<string>im2</string>


<!-- string delimiters -->

		<string>'</string>
<!--		<string>\<string>	-->
		</array>
	    </dict>

	    <dict>
		<key>RunKind</key> <string>com.barebones.bblm.predefined-symbol</string>
		<key>Keywords</key>
		<array>

<!-- registers -->

		<string>AF</string>
		<string>AF'</string>
		<string>BC</string>
		<string>DE</string>
		<string>HL</string>
		<string>IX</string>
		<string>IY</string>
		<string>SP</string>
		<string>PC</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>H</string>
		<string>L</string>
		<string>I</string>
		<string>R</string>
		
<!-- conditions -->

		<string>C</string>
		<string>NC</string>
		<string>Z</string>
		<string>NZ</string>
		<string>PO</string>
		<string>PE</string>
		<string>P</string>
		<string>M</string>
		</array>
	    </dict>

	    <dict>
		<key>RunKind</key> <string>com.barebones.bblm.heredoc-string</string>
		<key>Keywords</key>
		<array>
<!-- specials -->

		<string>###</string>				<!-- error message -->
		<string>\fOrgASM</string>			<!-- page title preceded by form feed-->

		</array>
           </dict>
	</array>
	
	<!-- Specify a comment-out string: -->
	<key>BBLMCommentLineDefault</key>
		<string>;</string>
	
	<!-- You must specify the character set for
             keywords and identifiers. Substitute your own:  -->
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9#%@&lt;&gt;_.</string>
		<key>Open Line Comments</key>
		<string>;</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>Open Strings 2</key>
		<string>'</string>
		<key>Close Strings 2</key>
		<string>'</string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 2</key>
		<true/>
	</dict> 
</dict>
</plist>
